{% if forum().isEnabled() %}
<div class="sidebar__forum forum">
    <div class="heading">
        <h3 class="title mt mb">{{phrase("forum_title")|raw}}</h3>
    </div>
    <div class="forum__themes">
        {% for forum in forum().lastMessage(5) %}
        <div class="theme">
            <a href="{{get_forum_link(forum)}}" class="theme__link"></a>
            <div class="theme__img"></div>
            <div class="theme__content">
                <div class="theme__title">{{forum.title}}</div>
                <div class="theme__info">
                    <div class="theme__author-wrp">
                        {{forum.username}}:
                        <span class="theme__author">{{forum.message}}</span>
                    </div>
                    <div class="theme__date">{{forum.post_date|date('H:m:s')}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
{{ forum().getMessageError() }}
{% endif %}