<section class="content__streams streams">
  <div class="heading">
    <h3 class="title mt mb">{{phrase("streams_title")|raw}}</h3>
    <div class="streams__slnav slnav">
      <div class="slnav__arrow slnav__arrow_left" data-streams-prev></div>
      <div class="slnav__pagination" data-streams-pagination></div>
      <div class="slnav__arrow slnav__arrow_right" data-streams-next></div>
    </div>
  </div>
  <div class="streams__list" data-slider-streams="true">
    <div class="swiper-wrapper">

      {% for stream in streams() %}
      <div class="swiper-slide">
        {% if stream_get_platform(stream.channel) == 'trovo' %}
        <a href="{{stream.channel}}" target="_blank">
          <img src="uploads/images/stream/trovo.jpg" class="stream">
        </a>
        {% else %}
        <iframe class="stream" src="{{stream.src}}"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"></iframe>
        {% endif %}
      </div>
      {% endfor %}

      <!-- end Stream -->

      <!-- start Stream -->
      <div class="swiper-slide">
        <div class="stream">
          <div class="stream__content">
            {{phrase("stream_desc")}}<br />
            <a href="/stream" class="stream__link">{{phrase("stream_add")}}</a>
          </div>
        </div>
      </div>
      <!-- end Stream -->

      <!-- start Stream -->
      <div class="swiper-slide">
        <div class="stream">
          <div class="stream__content">
            {{phrase("stream_desc")}}<br />
            <a href="/stream" class="stream__link">{{phrase("stream_add")}}</a>
          </div>
        </div>
      </div>
      <!-- end Stream -->

      <!-- start Stream -->
      <div class="swiper-slide">
        <div class="stream">
          <div class="stream__content">
            {{phrase("stream_desc")}}<br />
            <a href="/stream" class="stream__link">{{phrase("stream_add")}}</a>
          </div>
        </div>
      </div>
      <!-- end Stream -->

      <!-- start Stream -->
      <div class="swiper-slide">
        <div class="stream">
          <div class="stream__content">
            {{phrase("stream_desc")}}<br />
            <a href="/stream" class="stream__link">{{phrase("stream_add")}}</a>
          </div>
        </div>
      </div>
      <!-- end Stream -->

      <!-- start Stream -->
      <div class="swiper-slide">
        <div class="stream">
          <div class="stream__content">
            {{phrase("stream_desc")}}<br />
            <a href="/stream" class="stream__link">{{phrase("stream_add")}}</a>
          </div>
        </div>
      </div>
      <!-- end Stream -->
    </div>
    <div class="streams__grp">
      <a href="/stream" class="streams__add lbtn lbtn_type_1">
        <div class="lbtn__content">{{phrase("streams_add")}}</div>
      </a>
    </div>
    <div class="streams__swiper-pagination swiper-pagination"></div>
  </div>
</section>
<!-- END  streams -->