{% extends 'struct.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="main-chart-wrapper gap-4 mb-5 d-flex">
    <div class="main-chat-area border">

      <div class="d-flex align-items-center p-3 border-bottom">
        <div class="me-2 lh-1">
                                <span class="avatar avatar-lg online me-2 avatar-rounded chatstatusperson">
                                    <img class="chatimageperson" src="/uploads/avatar/none.jpeg" alt="img">
                                </span>
        </div>
        <div class="flex-fill">
          <span class="chatnameperson" >{{ phrase('admin') }}</span>
        </div>

      </div>
      <div class="chat-content" id="main-chat-content">
        <ul class="list-unstyled" id="messageList">

          {% if chatMessage == null %}

          <li class="chat-day-label">

            <blockquote class="blockquote custom-blockquote info mb-0 text-center">
              {{ phrase('welcome_ticket')|raw }}
            </blockquote>

          </li>

          {% endif %}

          {% for chat in chatMessage %}

          {% set userInfo = getUser(chat.user_id) %}
          {% set isMyMessage = (chat.user_id == getUser().getId()) %}

          {% if isMyMessage %}
          <li class="chat-item-end">
            <div class="chat-list-inner">
              <div class="me-3">
                                            <span class="chatting-user-info d-inline-flex align-items-center">
                                                <span class="msg-sent-time">
                                                    <span class="chat-read-mark align-middle"> </span></span> Вы
                                            </span>
                <div class="main-chat-msg" data-self="true">
                  {% for message in chat.messages %}
                  {% if message.is_file %}
                  {% for file in message.files %}
                  <div>
                    <p class="mb-0 d-sm-flex d-block">
                      <a href="/uploads/ticket/{{file.filename}}" class="glightbox card avatar avatar-xl m-1" data-gallery="gallery1">
                        <img src="/uploads/ticket/{{file.filename}}" alt="image">
                      </a>
                    </p>
                  </div>
                  {% endfor %}
                  {% else %}
                  <div>
                    <p class="mb-0">{{message.message}}</p>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="chat-user-profile">
                                            <span class="avatar avatar-md online avatar-rounded">
                                                <img src="{{userInfo.getAvatar()}}" alt="img">
                                            </span>
              </div>
            </div>
          </li>
          {% else %}
          <li class="chat-item-start">
            <div class="chat-list-inner">
              <div class="chat-user-profile">
                                            <span class="avatar avatar-md online avatar-rounded chatstatusperson">
                                                <img class="chatimageperson" src="{{userInfo.getAvatar()}}" alt="img">
                                            </span>
              </div>
              <div class="ms-3">
                                            <span class="chatting-user-info d-inline-flex align-items-center">
                                                <span class="chatnameperson">{{userInfo.getName()}}</span>
                                            </span>

                <div class="main-chat-msg" data-self="false">
                  {% for message in chat.messages %}
                    {% if message.is_file %}
                      {% for file in message.files %}
                      <div>
                        <p class="mb-0 d-sm-flex d-block">
                          <a href="/uploads/ticket/{{file.filename}}" class="glightbox card avatar avatar-xl m-1" data-gallery="gallery1">
                            <img src="/uploads/ticket/{{file.filename}}" alt="image">
                          </a>
                        </p>
                      </div>
                      {% endfor %}
                    {% else %}
                      <div>
                        <p class="mb-0">{{message.message}}</p>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </li>
          {% endif %}

          {% endfor %}

          {% if getTicket.is_closed %}
          <li class="chat-day-label">
            {{phrase('block_to_write_to_ticket')}}
          </li>
          {%endif%}

        </ul>

      </div>
      <div class="chat-footer">
        <input {% if getTicket.is_closed %}disabled{%endif%} class="form-control" id="messageText" placeholder="{{phrase('type_your_message_here')}}" type="text">
        <button {% if id == 0 %}disabled{%endif%} aria-label="anchor" class="btn btn-icon mx-2 btn-primary-light"
                type="button"  data-bs-toggle="modal"
                data-bs-target="#exampleModalScrollable2" >
          <i class="ri-attachment-2"></i>
        </button>
        <button {% if getTicket.is_closed %}disabled{%endif%} id="sendMessage" class="btn btn-primary d-inline-flex" href="javascript:void(0)">
          <i class="ri-send-plane-2-line me-2"></i>{{ phrase(364) }}
        </button>
      </div>
    </div>
  </div>
</div>

{# Панель загрузки изображений #}
<div class="modal fade" id="exampleModalScrollable2" tabindex="-1"
     aria-labelledby="exampleModalScrollable2" data-bs-keyboard="false"
     aria-hidden="true">
  <!-- Scrollable modal -->
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <input type="file" class="multiple-filepond" name="filepond" multiple data-allow-reorder="true" data-max-file-size="3MB" data-max-files="6">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{template}}/assets/libs/prismjs/themes/prism-coy.min.css">
<link rel="stylesheet" href="{{template}}/assets/libs/filepond/filepond.min.css">
<link rel="stylesheet" href="{{template}}/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css">
<link rel="stylesheet" href="{{template}}/assets/libs/filepond-plugin-image-edit/filepond-plugin-image-edit.min.css">
<link rel="stylesheet" href="{{template}}/assets/libs/dropzone/dropzone.css">
<link rel="stylesheet" href="{{template}}/assets/libs/glightbox/css/glightbox.min.css">
{% endblock %}


{% block js %}

<script src="{{template}}/assets/libs/filepond/filepond.min.js"></script>
<script src="{{template}}/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js"></script>
<script src="{{template}}/assets/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js"></script>
<script src="{{template}}/assets/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
<script src="{{template}}/assets/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js"></script>
<script src="{{template}}/assets/libs/filepond-plugin-image-edit/filepond-plugin-image-edit.min.js"></script>
<script src="{{template}}/assets/libs/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js"></script>
<script src="{{template}}/assets/libs/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js"></script>
<script src="{{template}}/assets/libs/filepond-plugin-image-crop/filepond-plugin-image-crop.min.js"></script>
<script src="{{template}}/assets/libs/filepond-plugin-image-resize/filepond-plugin-image-resize.min.js"></script>
<script src="{{template}}/assets/libs/filepond-plugin-image-transform/filepond-plugin-image-transform.min.js"></script>
<script src="{{template}}/assets/libs/glightbox/js/glightbox.min.js"></script>
<script src="{{template}}/assets/js/gallery.js"></script>
<script src="{{template}}/assets/libs/dropzone/dropzone-min.js"></script>

<script>

    var myElement4 = document.getElementById('main-chat-content');
    new SimpleBar(myElement4, {autoHide: true});
    var lastMessage = document.querySelector('#main-chat-content li:last-child');
    if (lastMessage) {
      lastMessage.scrollIntoView({behavior: 'smooth'});
    }

  let changeTheInfo = (element, name, img, status) => {
    document.querySelectorAll(".checkforactive").forEach((ele) => {
      ele.classList.remove("active")
    })
    element.closest("li").classList.add("active")
    document.querySelectorAll(".chatnameperson").forEach((ele) => {
      ele.innerText = name;
    })
    let image = `../assets/images/faces/${img}.jpg`
    document.querySelectorAll(".chatimageperson").forEach((ele) => {
      ele.src = image
    })

    document.querySelectorAll(".chatstatusperson").forEach((ele) => {
      ele.classList.remove("online");
      ele.classList.remove("offline");
      ele.classList.add(status);
      console.log(status);
    })
    document.querySelectorAll(".chatpersonstatus").forEach((ele) => {
      ele.classList.remove("online");
      ele.classList.remove("offline");
      ele.classList.add(status);
      console.log(status);
      ele.innerText = status
    })

    document.querySelector(".main-chart-wrapper").classList.add("responsive-chat-open")
  }
</script>

{% if getTicket.is_closed == 0 %}
<script>
  // Глобальные переменные
  let owner_last_message_author = {{owner_last_message_author ?? 0}};
  let last_element_id = {{last_element_id ?? 0}};
  const ticketId = {{id ?? 0}};

  $('#messageText').keypress(function(event) {
    if (event.which === 13) {
      event.preventDefault();
      const message = $(this).val().trim();
      if (message !== "") {
        sendMessage(message);
        $(this).val('');
        //Через 1 секунду обновим страницу
        if (ticketId === 0){
          setTimeout(() => {
            location.reload();
          }, 1000);
        }
      }
    }
  });

  $('#sendMessage').on('click', function() {
    const message = $('#messageText').val().trim();
    if (message !== "") {
      sendMessage(message);
      $('#messageText').val('');
    }
  });

  function sendMessage(message) {
    AjaxSend("/ticket/send/message", "POST", {message, id: ticketId, last_element_id}, true)
      .then(function (response) {
        console.log(response);
        updateChat(response)
      });
  }

  function chatScroll() {
    const myElement = document.querySelector('#main-chat-content');
    new SimpleBar(myElement, {autoHide: true});
    const lastMessage = document.querySelector('#main-chat-content li:last-child');
    if (lastMessage) {
      lastMessage.scrollIntoView({behavior: 'smooth'});
    }
  }

  function createMessageHTML(message, userInfo, isOwner) {
    let messageContent = '';

    if (message.is_file) {
      messageContent = message.files.map(file => `
            <div>
                <p class="mb-0 d-sm-flex d-block">
                    <a href="/uploads/ticket/${file.filename}" class="glightbox card avatar avatar-xl m-1" data-gallery="gallery1">
                        <img src="/uploads/ticket/${file.filename}" alt="image">
                    </a>
                </p>
            </div>
        `).join('');
    } else {
      messageContent = `<div><p class="mb-0">${message.message}</p></div>`;
    }

    if (owner_last_message_author === userInfo.id) {
      return messageContent;
    }

    const avatarHTML = `
        <span class="avatar avatar-md online avatar-rounded ${isOwner ? '' : 'chatstatusperson'}">
            <img class="${isOwner ? '' : 'chatimageperson'}" src="${userInfo.avatar}" alt="img">
        </span>
    `;

    const userInfoHTML = `
        <span class="chatting-user-info d-inline-flex align-items-center">
            ${isOwner ? `
                <span class="msg-sent-time">
                    <span class="chat-read-mark align-middle"><i class="ri-check-double-line"></i></span>
                </span> Вы
            ` : `
                <span class="chatnameperson">${userInfo.name}</span>
            `}
        </span>
    `;

    return `
        <li class="chat-item-${isOwner ? 'end' : 'start'}">
            <div class="chat-list-inner">
                ${isOwner ? '' : `<div class="chat-user-profile">${avatarHTML}</div>`}
                <div class="${isOwner ? 'me-3' : 'ms-3'}">
                    <a href="/admin/user/info/${userInfo.id}">${userInfoHTML}</a>
                    <div class="main-chat-msg" data-self="${isOwner}">
                        ${messageContent}
                    </div>
                </div>
                ${isOwner ? `<div class="chat-user-profile">${avatarHTML}</div>` : ''}
            </div>
        </li>
    `;
  }

  // Функция обновления чата
  function updateChat(data) {
    responseAnalysis(data);
    if (data.new_message) {
      last_element_id = data.last_element_id;
      data.chatMessage.forEach(chat => {
        const { ownerMessage, userInfo, messages } = chat;

        messages.forEach(message => {
          const messageHTML = createMessageHTML(message, userInfo, ownerMessage);

          if (owner_last_message_author === userInfo.id) {
            $(`.main-chat-msg[data-self="${ownerMessage}"]`).last().append(messageHTML);
          } else {
            $("#messageList").append(messageHTML);
          }
        });

        owner_last_message_author = userInfo.id;
      });

      chatScroll();
    }
  }

  // Функция получения данных
  function fetchData() {
    AjaxSend("/ticket/get/message", "POST", {id: ticketId, last_element_id}, true)
      .then(updateChat);
  }

  // Запуск функции fetchData каждые 3 секунды
  setInterval(fetchData, 1000);

</script>

<script>
  (function () {
    'use strict'

    // Настройка FilePond
    FilePond.setOptions({
      server: {
        url: '/ticket/load/file',
        process: {
          ondata: (formData) => {
            formData.append('ticket_id', ticketId); // Добавляем ticket_id
            return formData;
          }
        }
      }
    });

    /* multiple upload */
    const MultipleElement = document.querySelector('.multiple-filepond');
    FilePond.create(MultipleElement);


  })();
</script>
{%endif%}

{% endblock %}
