{% extends 'struct.html' %}
{% block title %}{{ phrase(238) }}{% endblock %}
{% block content %}

<div class="container-fluid">

  {% if config().enabled().isEnableEmulation() %}

  <div class="alert alert-dark" role="alert">
    {{ phrase('func_emulation_server_desc_enable')|raw }}
  </div>

  {% endif %}

  {% if get_session('super-user') %}
  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card bg-white border-0">
      <div class="alert custom-alert1 alert-secondary">
        <button type="button" class="btn-close ms-auto close_download_auth_panel" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x"></i></button>
        <div class="text-center px-0 pb-0">
          <svg class="custom-alert-icon svg-secondary" xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 0 24 24" width="1.5rem" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>
          <h5>Файл для авторизации</h5>
          <p class="">Вы успешно всё сделали, теперь можете загрузить файл, сохраните его, и на сайтах движка SphereWeb можете использовать для быстрой регистрации и авторизации, просто перенесите на странице авторизации данный файл.</p>
          <div class="">
            <button class="btn btn-sm btn-success m-0 download_file_auth">Нажмите чтоб загрузить файл</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('.download_file_auth').on('click', function () {
      var link = document.createElement('a');
      link.href = 'data:text/plain;charset=utf-8,' + encodeURIComponent("{{get_session('super-user')}}");
      link.download = '{{getUser().getEmail()}} Auto Login.txt';
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    });

    {{ delete_session('super-user') }}

  </script>

  {% endif %}


  {# Если нет серверов, то показываем сообщение, что нужно зарегистрировать сервер #}
  {% if getUser().isAdmin() and getServerCount() == 0 %}
  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <ul class="list-unstyled mb-0 notification-container">
      <li>
        <div class="card mb-3">
          <div class="d-flex p-2 border-bottom-0">
            <div class="d-sm-flex">
              <div class="">
                <svg class="me-4 bg-danger-transparent  alt-notify" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24">
                  <path fill="#ff9ea7"
                        d="M20.057 22H3.943a3.023 3.023 0 0 1-2.618-4.534L9.382 3.511a3.023 3.023 0 0 1 5.236 0l8.057 13.955A3.023 3.023 0 0 1 20.057 22Z"></path>
                  <circle cx="12" cy="17" r="1" fill="#dc3545"></circle>
                  <path fill="#dc3545" d="M12 14a1 1 0 0 1-1-1V9a1 1 0 0 1 2 0v4a1 1 0 0 1-1 1Z"></path>
                </svg>
              </div>
              <div class="mt-0 text-start">
                <p class="fs-14 text-muted mb-0">{{phrase('no_registration_servers')}}<br>
                  <a href="/admin/server/add/new" class=" text-primary d-inline-flex">{{phrase('register_server')}}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  {% endif %}

  {# Панель с предложением для неавторизованных пользователей #}
  {% if getUser().isAuth() == false %}
  <div class="row">
    <div class="col-xl-12">
      <div class="row">

        <div class="col-xl-4">
          <div class="card custom-card">
            <div class="card-body">
              <p class="card-text">{{phrase('log_in_crt_gm_acc')}}</p>
              <a href="/login" class="btn btn-success">{{phrase('authorization')}}</a>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card custom-card">
            <div class="card-body">
              <p class="card-text">{{phrase('reg_crt_gm_accs')}}</p>
              <a href="/signup" class="btn btn-dark">{{phrase('registration')}}</a>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card custom-card">
            <div class="card-body">
              <p class="card-text">{{phrase('forgot_pwd_recover_email')}}</p>
              <a href="/forget" class="btn btn-info">{{phrase(67)}}</a>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
  {% endif %}


  {% if getUser().isAuth() %}

  {% if getUser().isAuth() %}
<div class="row">
  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0">{{phrase(43)}}</h5>
        <span data-bs-toggle="modal" data-bs-target="#syncAccount">
          <i role="button" class="bi bi-person-plus text-success" data-bs-toggle="tooltip"
             data-bs-placement="top"
             data-bs-original-title="{{phrase('sync_accounts_question_missing_account')}}"></i>
        </span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xl-6">
              {% if getUser().isAuth() == false %}
              {{phrase('you_need')}} <a href="#" data-bs-toggle="modal" data-bs-target="#modal-auth-user"
                                        class="alert-link text-danger">{{phrase('log_in')}}</a>,
              {{phrase('or')}} <a href="#" data-bs-toggle="modal" data-bs-target="#modal-new-user"
                                  class="alert-link text-danger">{{phrase('reg_acc')}}</a>,
              {{phrase('ctrl_chars')}}.
              {% else %}

              <form action="/registration/account" method="POST">
                <div class="row mb-0">
                  <div class="input-group mb-3">
                    <div class="alert col-sm-12 alert-primary alert-dismissible fade show custom-alert-icon shadow-sm d-flex justify-content-between">
                      {{ phrase(40) }} - {{ getServer().getName() }} {{ getServer().getRateExp() }} ({{ getServer().getChronicle() }})
                      <span data-bs-toggle="modal" data-bs-target="#syncAccount" >
                        <label role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="{{phrase('sync_accounts_question_missing_account')}}">
                        {{ phrase('Do you already have an account?') }}
                        </label>
                      </span>
                    </div>
                  </div>

                  <label for="accountRegistration" class="col-sm-2 col-form-label">{{phrase(480)}}</label>
                  <div class="col-sm-4">
                    <div class="input-group mb-3">
                      {% if config().registration().getEnablePrefix() and config().registration().getPrefixType()
                      == 'prefix' %}
                      <button class="btn btn-light account_prefix" type="button">
                        {{config().registration().genPrefix()}}
                      </button>
                      {% endif %}
                      <input minlength="3" maxlength="16" type="text" class="form-control" name="login"
                             id="accountRegistration" placeholder="" aria-label="Example text with button addon"
                             aria-describedby="button-addon1">
                      {% if config().registration().getEnablePrefix() and config().registration().getPrefixType()
                      == 'suffix' %}
                      <button class="btn btn-light account_prefix" type="button">
                        {{config().registration().genPrefix()}}
                      </button>
                      {% endif %}
                    </div>
                  </div>
                </div>

                <div class="row mb-0">
                  <label for="passwordRegistration" class="col-sm-2 col-form-label">{{phrase('password')}}</label>
                  <div class="col-sm-4">
                    <input type="password" class="form-control" name="password" id="passwordRegistration"
                           autocomplete="new-password">
                  </div>
                </div>
                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0"></legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="password_hide" name="password_hide">
                      <label class="form-check-label" for="password_hide">
                        {{phrase('lv_pwd_vis')}}
                      </label>
                    </div>
                  </div>
                </fieldset>

                {% if getUser().isAuth() == false %}

                {% if config().isGoogleCaptcha() %}
                <input class="captchaToken" type="hidden" name="captcha">
                {% else %}
                <div class="row mb-4">
                  <div class="col-6">
                    <div class="form-floating" style="">
                      <img src="" class="lightbox-thumb img-thumb captcha_img"/>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="auth_captcha" name="captcha"
                             placeholder="Captcha">
                      <label class="form-label" for="auth_captcha">Captcha</label>
                    </div>
                  </div>
                </div>
                {% endif %}

                {% endif %}

                <div class="container px-0 mb-0">
                  <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-12 col-sm-6 text-center text-sm-start mb-2 mb-sm-0">
                      <button type="submit" data-func="messageRegistrationAccount"
                              class="btn btn-success shadow-success btn-wave waves-effect waves-light w-100 w-sm-auto">
                          {{phrase('reg_new_acc')}}
                      </button>
                    </div>

                    <div class="col-12 col-sm-6 text-center text-sm-end">
                      <div data-bs-toggle="tooltip" data-bs-placement="top"
                           data-bs-original-title="{{phrase('sync_accounts_question_missing_account')}}">
                          <span data-bs-toggle="modal" data-bs-target="#syncAccount"
                                data-bs-placement="top"
                                class="btn btn-success shadow-info btn-wave waves-effect waves-light w-100 w-sm-auto">
                              {{phrase('bind_game_account')}}
                          </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="registrationDataMessage" class="ps-0 mt-3 mb-0 d-none">
                  <span id="registrationMessage" class="badge border bg-danger-transparent rounded-1">
                    {{ phrase(214) }}
                  </span>
                </div>

              </form>
              {% endif %}
            </div>

          <div class="col-xl-6">
              {% if getUser().isAuth() %}
              <div class="alert col-sm-12 alert-primary alert-dismissible fade show custom-alert-icon shadow-sm d-flex justify-content-between align-items-center">
                <div>{{ phrase(43) }}</div>
                <span data-bs-toggle="modal" data-bs-target="#syncAccount">
                  <i role="button" class="bi bi-person-plus text-success" data-bs-toggle="tooltip"
                     data-bs-placement="top"
                     data-bs-original-title="{{phrase('sync_accounts_question_missing_account')}}"></i>
                </span>
              </div>
              {% if statusSphereServer() is same as(false) %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{phrase('fail_conn_sphereapi_srv')}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% else %}
              <div class="table-responsive">
                <table class="table text-nowrap table-bordered table-sm" style="table-layout: fixed;">
                  <thead>
                  <tr>
                    <th>{{phrase('account')}}</th>
                    <th>{{phrase('password')}}</th>
                    <th>{{phrase(203)}}</th>
                  </tr>
                  </thead>
                  <tbody id="player_account_list">
                  {% for account in getUser().getAccounts() %}
                  <tr class="account-row">
                    <td>{{ account.getAccount() }}</td>
                    <td>
                    <i role="button" class="fe fe-settings btn-change-password" data-account="{{account.getAccount()}}"
                       data-bs-toggle="modal" data-bs-effect="effect-slide-in-right"
                       data-bs-target="#changepassword">
                      {% if account.isPasswordHide() %}
                      * * * * * *
                      {% else %}
                      {{ account.getPassword() }}
                      {% endif %}
                      </i>
                    </td>
                    <td class="text-nowrap" role="button">

                      {% if account.getCharactersCount() > 0 %}

                    <div class="toggle-characters" data-account="{{account.getAccount()}}">
                    <div class="avatar-list-stacked">

                      {% for i, character in account.getCharacters() %}
                                              <span class="avatar avatar-sm me-2">
                                                  <img src="{{tempate}}/uploads/images/race/{{ sex(character.getSex()) }}/{{ get_class_race(character.getClassId()) }}.jpg" alt="img">
                                              </span>

                      </a>
                      {% endfor %}
                                          </div>
                                          </div>


                      {% else %}
                      <i class="bi bi-people ms-2 text-muted" data-bs-toggle="tooltip"
                         data-bs-placement="top" data-bs-title="{{phrase('no_chars_acc')}}"></i>
                      {% endif %}
                    </td>
                  </tr>
                  {% if account.getCharactersCount() > 0 %}

              <tr class="character-container character-row-{{account.getAccount()}}" style="display: none;">
                <td colspan="3" class="p-0">
                  <div class="p-2 bg-light">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2">
                    {% for i, character in account.getCharacters() %}
                      <div class="col">
                        <div class="card border h-100 overflow-hidden">
                          <div class="card-body p-1 border-top-card border-top-danger rounded-0">
                            <div class="d-flex align-items-start">
                              <!-- Аватар персонажа -->
                              <div class="flex-shrink-0 me-2">
                                <img src="{{tempate}}/uploads/images/race/{{ sex(character.getSex()) }}/{{ get_class_race(character.getClassId()) }}.jpg"
                                     alt="" class="avatar avatar-xl img-thumbnail {% if character.getOnline() %}online{% else %}offline{% endif %}">
                              </div>

                              <!-- Информация о персонаже -->
                              <div class="flex-grow-1 min-w-0">
                                <h6 class="card-title mb-1 text-truncate">
                                  <span class="badge bg-dark text-white">{{character.getPlayerName()}}</span>
                                </h6>
                                <div class="d-flex flex-column" style="line-height: 1.1;">
                                  <small class="text-muted text-truncate mb-0">
                                    <i class="ri-building-line me-1"></i>Lv: {{character.getLevel()}}
                                  </small>
                                  <small class="text-muted text-truncate mb-0">
                                    <i class="ri-building-line me-1"></i>Class: {{get_class(character.getClassId())}}
                                  </small>
                                  <small class="text-muted text-truncate mb-0">
                                    <i class="ri-building-line me-1"></i>PvP / PK: {{character.getPvp()}} / {{character.getPk()}}
                                  </small>
                                  <small class="text-muted text-truncate mb-0">
                                    <i class="ri-building-line me-1"></i>Online Time: {{timeHasPassed(character.getTimeInGame(),true)}}
                                  </small>
                                  {% if character.getClanName() %}
                                  <small class="text-muted">
                                    <i class="ri-map-pin-line me-1"></i>Clan:
                                    <span class="d-inline-flex align-items-center">
                                      {{clan_icon(character.getClanCrest())|raw}}
                                      <span class="text-truncate d-inline-block" style="max-width: 120px; vertical-align: middle;">{{character.getClanName()}}</span>
                                    </span>
                                  </small>
                                  {% endif %}
                                </div>
                              </div>
                            </div>

                            <!-- Аккордеон с функциями -->
                            <div class="accordion accordion-customicon1 accordions-items-seperate mt-2"
                                 id="accordion_open_list_{{character.getPlayerId()}}">
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="open_list_{{character.getPlayerId()}}">
                                  <button class="accordion-button collapsed py-2 text-wrap" type="button" data-bs-toggle="collapse"
                                          data-bs-target="#collapse_open_list_{{character.getPlayerId()}}"
                                          aria-expanded="false"
                                          aria-controls="collapse_open_list_{{character.getPlayerId()}}">
                                    <span class="text-truncate">{{phrase('stuck_crit_err')}}</span>
                                  </button>
                                </h2>
                                <div id="collapse_open_list_{{character.getPlayerId()}}"
                                     class="accordion-collapse collapse"
                                     aria-labelledby="open_list_{{character.getPlayerId()}}"
                                     data-bs-parent="#accordion_open_list_{{character.getPlayerId()}}" style="">
                                  <div class="accordion-body py-2 text-wrap">
                                    <p class="small mb-2 text-break">{{phrase('emerg_send_char_town')}}</p>
                                    <hr class="my-2">
                                    <form method="post" action="/player/relocation">
                                      <div class="mb-2 form-check">
                                        <input name="account" type="hidden" value="{{account.getAccount()}}">
                                        <input name="player" type="hidden" value="{{character.getPlayerName()}}">
                                        <input checked name="itemsToWarehouse" type="checkbox"
                                               class="form-check-input"
                                               id="check_{{character.getPlayerId()}}">
                                        <label class="form-check-label small text-wrap" for="check_{{character.getPlayerId()}}">{{phrase('send_items_wh')}}</label>
                                      </div>
                                      <button type="submit" class="btn btn-success btn-sm w-100 text-nowrap">
                                        <span class="d-inline-block text-truncate" style="max-width: 85%;">{{phrase(364)}}</span>
                                        <i class="ri-send-plane-fill ms-1"></i>
                                      </button>
                                    </form>
                                  </div>
                                </div>
                              </div>

                              {% if getServer().isResetHWID() == true %}
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="hwid_remove_{{character.getPlayerId()}}">
                                  <button class="accordion-button collapsed py-2 text-wrap" type="button" data-bs-toggle="collapse"
                                          data-bs-target="#collapse_hwid_remove_{{character.getPlayerId()}}"
                                          aria-expanded="false"
                                          aria-controls="collapse_hwid_remove_{{character.getPlayerId()}}">
                                    <span class="text-truncate">{{phrase('reset_hwid')}}</span>
                                  </button>
                                </h2>
                                <div id="collapse_hwid_remove_{{character.getPlayerId()}}"
                                     class="accordion-collapse collapse"
                                     aria-labelledby="open_list_{{character.getPlayerId()}}"
                                     data-bs-parent="#accordion_open_list_{{character.getPlayerId()}}" style="">
                                  <div class="accordion-body py-2 text-wrap">
                                    <p class="small mb-2 text-break">{{phrase('reset_hwid_emerg_fn')}}.</p>
                                    <button type="submit"
                                            class="btn btn-success btn-sm w-100 removeHWID text-nowrap"
                                            data-obj="{{character.getPlayerId()}}">
                                      <span class="d-inline-block text-truncate" style="max-width: 85%;">{{phrase('reset_hwid')}}</span>
                                      <i class="ri-lock-unlock-line ms-1"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </td>
              </tr>
                  {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endif %}
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% if getUser().isAuth() %}
<form action="/player/account/change/password" method="POST">
  <div class="modal fade" id="changepassword">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">{{phrase(1)}}</h6>
          <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <input name="login" type="hidden" class="account_new_change_password_input" value="">
        <div class="modal-body text-start">
          <h6 class="text-center">{{phrase('new_password')}} <span
                class="text-danger account_new_change_password">{{getUser().getName()}}</span></h6>
          <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword"
                   placeholder="Password">
            <label for="floatingPassword">{{phrase('password')}}</label>
          </div>
          <div class="col-sm-10">
            <div class="form-check">
              <input name="password_hide" class="form-check-input" type="checkbox" id="hidePassword">
              <label class="form-check-label" for="hidePassword">
                {{phrase('lv_pwd_vis')}}
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{phrase(80)}}</button>
          <button type="submit" class="btn btn-primary">{{phrase(89)}}</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endif %}
{% endif %}

  {% endif %}

  {% for include_file in get_plugins_include("PLACE_IN_SPACE_MAIN_1") %}
  {% include include_file %}
  {% endfor %}

  {% if forum().isEnabled() and forum().showForumSphereMainPage() %}
  <div class="row">
    <div class="col-xxl-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title fw-semibold">{{phrase('last_act_forum')}}</h4>
        </div>
        <div class="card-body pb-0">

          {% if forum().isNotError() %}
          <ul class="task-list">
            {% for forum in forum().lastMessage() %}
            <li class="d-sm-flex">
              <div>
                <i class="task-icon bg-primary"></i>
                <h6 class="fw-semibold">{{forum.title}}<span
                      class="text-muted fs-11 mx-2 fw-normal">{{forum.last_post_date|date('h:m:s d.m.Y')}}</span>
                </h6>
                <p class="text-muted fs-12 mb-0">
                  <a href="javascript:void(0)" class="fw-semibold text-primary">
                                    <span class="avatar avatar-sm online me-2 avatar-rounded">
                                    <img src="{{forum.avatar}}" alt="img">
                                </span> {{forum.username}}</a>:
                  {{truncateWord(forum.message, 160)}}</p>
              </div>

            </li>
            {% endfor %}
          </ul>
          {% else %}
          {{ forum().getMessageError() }}
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  {% endif %}


  {{ include('other/startpack.html') }}

</div>

{% endblock %}


{% block js %}
<script>

  $(document).on('click', '.removeHWID', function () {
    var obj = $(this).data('obj');
    AjaxSend('/player/reset/hwid', 'POST', {
      player_id: obj,
    }).then(function (response) {
      console.log(response);
    });
  });

  $(document).on('click', '.btn-open-shop', function () {
    var startpackId = $(this).data('startpack-id');
    var itemList = $('#item_list_startpack_' + startpackId);
    var startpackName = itemList.closest('.p-4').find('.startpack_name').text();
    var startpackCost = itemList.closest('.p-4').find('.startpack_cost').text();
    var itemListHtml = '<h5>' + startpackName + '</h5>';

    itemList.find('li').each(function () {
      var itemSrc = $(this).data('item-src');
      var itemName = $(this).data('item-name');
      var itemEnchant = $(this).data('item-enchant');
      var itemCount = $(this).data('item-count');

      itemListHtml += '<div class="item">';
      itemListHtml += '<img src="' + itemSrc + '" alt="" class="avatar avatar-sm ">';
      itemListHtml += '<span class="text-muted">';
      if (itemEnchant > 0) {
        itemListHtml += '<span class="badge bg-danger text-white ms-1">+' + itemEnchant + '</span>';
      }
      itemListHtml += ' ' + itemName;

      itemListHtml += '</span>';
      itemListHtml += '</div>';
    });

    $('.StartPackCostBuy').text(startpackCost);
    $('#Startpackpurchase').attr('data-startpack-id', startpackId);
    $('#StartpackWarehouse').attr('data-startpack-id', startpackId);

    // Вставка списка предметов в модальное окно
    $('#itemListSellStartpack').html(itemListHtml);
  });

  $(document).on('click', '#Startpackpurchase', function () {
    var startpackId = $(this).attr('data-startpack-id');
    var selectedOption = $('#StartpackPlayer option:selected');
    var account = selectedOption.attr('data-account');
    var player = selectedOption.val();
    AjaxSend('/startpack/purchase', 'POST', {
      account: account,
      player: player,
      startpackId: startpackId,
    }).then(function (response) {
      $('#openShopStartpack').modal('hide');
      $('.StartPackCostBuy').text(response.sphereCoin);
    });
  });

  $(document).on('click', '#StartpackWarehouse', function () {
    var startpackId = $(this).attr('data-startpack-id');
    var selectedOption = $('#StartpackPlayer option:selected');
    var account = selectedOption.attr('data-account');
    var player = selectedOption.val();
    AjaxSend('/startpack/purchase/warehouse', 'POST', {
      account: account,
      player: player,
      startpackId: startpackId,
    }).then(function (response) {
      $('#openShopStartpack').modal('hide');
      $('.StartPackCostBuy').text(response.sphereCoin);
    });
  });



</script>

<script>
  $(document).on('click', '.btn-change-password', function () {
    var account = $(this).data('account');
    $('.account_new_change_password').text(account);
    $('.account_new_change_password_input').val(account);

  });
</script>

<script>
  $(document).on('click', '.account_prefix', function () {
    AjaxSend('/registration/account/prefix', 'POST', {}, true).then(function (prefix) {
      $('.account_prefix').text(prefix);
    });
  });
</script>

<script>
  function messageRegistrationAccount(response) {
    if (response.ok) {
      $("#registrationDataMessage").removeClass("d-none");
      $("#registrationMessage").removeClass("bg-success-transparent");
      $("#registrationMessage").removeClass("bg-danger-transparent");
      $("#registrationMessage").addClass("bg-success-transparent");
      $("#registrationMessage").text(response.message);
    } else {
      $("#registrationDataMessage").removeClass("d-none");
      $("#registrationMessage").removeClass("bg-danger-transparent");
      $("#registrationMessage").removeClass("bg-success-transparent");
      $("#registrationMessage").addClass("bg-danger-transparent");
      $("#registrationMessage").text(response.message);
    }

  }

  $(document).ready(function() {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });

    $(document).on('click', '.toggle-characters', function() {
      var accountName = $(this).data('account');
      var characterRow = $('.character-row-' + accountName);
      $('.character-container').not(characterRow).hide();
      characterRow.toggle();
    });
  });
</script>
{% endblock %}
