{% extends 'struct.html' %}

{% block title %}{% endblock %}

{% block content %}


<div class="container-fluid">

  {% if SphereApiError() %}
  <div class="col-xl-12">
    <div class="card custom-card">

      <div class="card-body">
        <div class="row gy-3">
          <div class="col-xl-12">
            <div class="alert alert-danger" role="alert">
              {{ SphereApiError() }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {# Если нет серверов, то показываем сообщение, что нужно зарегистрировать сервер #}
  {% if getUser().isAdmin() and getServerCount() == 0 %}
  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <ul class="list-unstyled mb-0 notification-container">
      <li>
        <div class="card mb-3">
          <div class="d-flex p-2 border-bottom-0">
            <div class="d-sm-flex">
              <div class="">
                <svg class="me-4 bg-danger-transparent  alt-notify" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24">
                  <path fill="#ff9ea7"
                        d="M20.057 22H3.943a3.023 3.023 0 0 1-2.618-4.534L9.382 3.511a3.023 3.023 0 0 1 5.236 0l8.057 13.955A3.023 3.023 0 0 1 20.057 22Z"></path>
                  <circle cx="12" cy="17" r="1" fill="#dc3545"></circle>
                  <path fill="#dc3545" d="M12 14a1 1 0 0 1-1-1V9a1 1 0 0 1 2 0v4a1 1 0 0 1-1 1Z"></path>
                </svg>
              </div>
              <div class="mt-0 text-start">
                <p class="fs-14 text-muted mb-0">{{phrase('no_registration_servers')}}<br>
                  <a href="/admin/server/add/new" class=" text-primary d-inline-flex">{{phrase('register_server')}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  {% endif %}

  {# Панель с предложением для неавторизованных пользователей #}
  {% if getUser().isAuth() == false %}
  <div class="row">
    <div class="col-xl-12">
      <div class="row">

        <div class="col-xl-4">
          <div class="card custom-card">
            <div class="card-body">
              <p class="card-text">{{phrase('log_in_crt_gm_acc')}}</p>
              <a href="/login" class="btn btn-success">{{phrase('authorization')}}</a>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card custom-card">
            <div class="card-body">
              <p class="card-text">{{phrase('reg_crt_gm_accs')}}</p>
              <a href="/signup" class="btn btn-dark">{{phrase('registration')}}</a>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card custom-card">
            <div class="card-body">
              <p class="card-text">{{phrase('forgot_pwd_recover_email')}}</p>
              <a href="/forget" class="btn btn-info">{{phrase(67)}}</a>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
  {% endif %}


  {% if getUser().isAuth() %}
  <div class="row">
    <div class="col-xl-12">
      <div class="card custom-card">


        <div class="card-body">
          <ul class="nav nav-pills justify-content-center nav-style-2 mb-3" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" data-bs-toggle="tab" role="tab" aria-current="page" href="#account_list"
                 aria-selected="true">{{phrase(43)}}</a>
            </li>
            {% if getUser().isAuth() %}
            {% if getUser().getCountPlayers() > 0 %}
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page" href="#players_list"
                 aria-selected="false" tabindex="-1">{{phrase(203)}}</a>
            </li>
            {% endif %}

            <li class="nav-item" role="presentation">
              <a class="nav-link {% if getUser().countWarehouseItems() >=1 %}pulse pulse-danger{% endif %}"
                 data-bs-toggle="tab" role="tab" aria-current="page" href="#warehouse_panel" aria-selected="false"
                 tabindex="-1">{{phrase('warehouse')}}
                {% if getUser().countWarehouseItems() >=1 %}<span
                  class=" top-0 start-50 translate-middle badge rounded-pill bg-danger">{{getUser().countWarehouseItems()}}</span>{%
                endif %}
              </a>
            </li>
            {% endif %}
          </ul>

          <div class="tab-content">
            <div class="tab-pane text-muted active show" id="account_list" role="tabpanel">


              <div class="row">
                <div class="col-xl-6">
                  <div class="card custom-card">

                    <div class="card-body">

                      {% if getUser().isAuth() == false %}

                      {{phrase('you_need')}} <a href="#" data-bs-toggle="modal" data-bs-target="#modal-auth-user"
                                        class="alert-link text-danger">{{phrase('log_in')}}</a>,
                      {{phrase('or')}} <a href="#" data-bs-toggle="modal" data-bs-target="#modal-new-user"
                             class="alert-link text-danger">{{phrase('reg_acc')}}</a>, {{phrase('ctrl_chars')}}.

                      {% else %}

                      <form action="/registration/account" method="POST">


                        <div class="row mb-3">
                          <label for="accountRegistration" class="col-sm-2 col-form-label">{{phrase(480)}}</label>

                          <div class="col-sm-4">
                            <div class="input-group mb-3">

                              {% if config().registration().getEnablePrefix() and config().registration().getPrefixType() == 'prefix' %}
                                <button class="btn btn-light account_prefix" type="button">{{config().registration().genPrefix()}}</button>
                              {% endif %}
                              <input minlength="3" maxlength="16" type="text" class="form-control"  name="login" id="accountRegistration" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                              {% if config().registration().getEnablePrefix() and config().registration().getPrefixType() == 'suffix' %}
                              <button class="btn btn-light account_prefix" type="button" >{{config().registration().genPrefix()}}</button>
                              {% endif %}

                            </div>
                          </div>

                        </div>

                        <div class="row mb-3">
                          <label for="passwordRegistration" class="col-sm-2 col-form-label">{{phrase('password')}}</label>
                          <div class="col-sm-4">
                            <input type="password" class="form-control" name="password" id="passwordRegistration"
                                   autocomplete="off">
                          </div>
                        </div>
                        <fieldset class="row mb-3">
                          <legend class="col-form-label col-sm-2 pt-0"></legend>
                          <div class="col-sm-10">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="password_hide" name="password_hide">
                              <label class="form-check-label" for="password_hide">
                                {{phrase('lv_pwd_vis')}}
                              </label>
                            </div>
                          </div>
                        </fieldset>

                        {% if getUser().isAuth() == false %}

                        {% if config().isGoogleCaptcha() %}
                        <input class="captchaToken" type="hidden" name="captcha">
                        {% else %}
                        <div class="row mb-4">
                          <div class="col-6">
                            <div class="form-floating" style="">
                              <img src="" class="lightbox-thumb img-thumb captcha_img"/>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="auth_captcha" name="captcha"
                                     placeholder="Captcha">
                              <label class="form-label" for="auth_captcha">Captcha</label>
                            </div>
                          </div>
                        </div>
                        {% endif %}

                        {% endif %}

                        <div class="container px-0 mb-0">
                          <div class="row ">
                            <div class="col-sm-6">
                              <button type="submit"
                                      class="btn btn-success shadow-success btn-wave waves-effect waves-light">
                                {{phrase('reg_new_acc')}}
                              </button>
                            </div>

                          </div>
                        </div>

                      </form>

                      {% endif %}
                    </div>

                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="card custom-card">

                    <div class="card-body">
                      {% if getUser().isAuth() %}
                      {% if statusSphereServer() is same as(false) %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{phrase('fail_conn_sphereapi_srv')}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {% else %}
                      <div class="table-responsive">
                        <table class="table text-nowrap table-bordered table-sm">
                          <thead>
                          <tr>
                            <th>{{phrase('account')}}</th>
                            <th>{{phrase('password')}}</th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody id="player_account_list">
                          {% for account in getUser().getAccounts() %}
                          <tr>
                            <td>{{ account.getAccount() }}</td>
                            <td>
                              {% if account.isPasswordHide() %}
                              * * * * * *
                              {% else %}
                              {{ account.getPassword() }}
                              {% endif %}
                            </td>
                            <td>

                              <i role="button" class="fe fe-settings btn-change-password"
                                 data-account="{{account.getAccount()}}"
                                 data-bs-toggle="modal"
                                 data-bs-effect="effect-slide-in-right"
                                 data-bs-target="#changepassword"></i>
                            </td>
                          </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      {% endif %}
                      {% endif %}

                    </div>
                  </div>
                </div>


                {% if getUser().isAuth() %}
                <form action="/player/account/change/password" method="POST">
                  <div class="modal fade" id="changepassword">
                    <div class="modal-dialog modal-dialog-centered text-center" role="document">
                      <div class="modal-content modal-content-demo">
                        <div class="modal-header">
                          <h6 class="modal-title">{{phrase(1)}}</h6>
                          <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <input name="login" type="hidden" class="account_new_change_password_input" value="">
                        <div class="modal-body text-start">
                          <h6 class="text-center">{{phrase('new_password')}} <span
                            class="text-danger account_new_change_password">{{getUser().getName()}}</span></h6>
                          <div class="form-floating">
                            <input name="password" type="password" class="form-control" id="floatingPassword"
                                   placeholder="Password">
                            <label for="floatingPassword">{{phrase('password')}}</label>
                          </div>
                          <div class="col-sm-10">
                            <div class="form-check">
                              <input name="password_hide" class="form-check-input" type="checkbox" id="hidePassword">
                              <label class="form-check-label" for="hidePassword">
                                {{phrase('lv_pwd_vis')}}
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-light" data-bs-dismiss="modal">{{phrase(80)}}</button>
                          <button type="submit" class="btn btn-primary">{{phrase(89)}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                {% endif %}

              </div>
            </div>


            {% if getUser().isAuth() %}
            <div class="tab-pane text-muted" id="players_list" role="tabpanel">
              <div class="card-body d-flex align-items-start">
                <div class="col-xl-12">
                  <div class="card custom-card">

                    {% if statusSphereServer() is same as(false) %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <strong>{{phrase('fail_conn_sphereapi_srv')}}</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% else %}

                    <ul class="nav nav-tabs mb-3 border-bottom-0" role="tablist">
                      {% set i = 0 %}
                      {% for account in getUser().getAccounts() %}
                      <li class="nav-item" role="presentation">
                        <a
                          class="nav-link {% if account.getCharactersCount() > 0 %}text-success{% endif %} {% if i == 0 %}active{% set i = i + 1 %}{% endif %}"
                          data-bs-toggle="tab" role="tab"
                          href="#ac_{{account.getAccount()}}" aria-selected="{% if i == 0 %}true{% endif %}">{{account.getAccount()}}</a>
                      </li>
                      {% endfor %}

                      <li class="nav-item ms-auto" role="presentation">
                        <button id="playersRefresh" class="btn btn-outline-success btn-wave waves-effect waves-light">
                          {{phrase('refresh')}}
                        </button>
                      </li>

                    </ul>
                    <div class="tab-content">


                      {% for i, account in getUser().getAccounts() %}
                      <div class="tab-pane text-muted {% if i==0 %}active show{% set i = i + 1 %}{% endif %}"
                           id="ac_{{account.getAccount()}}" role="tabpanel">
                        <div class="row">

                          {% if account.getCharacters()|length == 0 %}
                          <div class="card mb-3  bg-danger-transparent border-danger">
                            <div class="d-flex p-3 border-bottom-0">
                              <div class="d-sm-flex">
                                <div class="">
                                  <svg class="me-4  bg-danger  alt-notify" xmlns="http://www.w3.org/2000/svg"
                                       viewBox="0 0 24 24">
                                    <path fill="#ff9ea7"
                                          d="M20.057 22H3.943a3.023 3.023 0 0 1-2.618-4.534L9.382 3.511a3.023 3.023 0 0 1 5.236 0l8.057 13.955A3.023 3.023 0 0 1 20.057 22Z"></path>
                                    <circle cx="12" cy="17" r="1" fill="#dc3545"></circle>
                                    <path fill="#dc3545"
                                          d="M12 14a1 1 0 0 1-1-1V9a1 1 0 0 1 2 0v4a1 1 0 0 1-1 1Z"></path>
                                  </svg>
                                </div>
                                <div class="mt-0 text-start">
                                  <span class="fs-14 fw-semibold">{{phrase('notification')}}</span>
                                  <p class="fs-13 text-muted mb-0">{{phrase('no_chars_acc')}}</p>
                                </div>
                              </div>

                            </div>
                          </div>
                          {% else %}

                          {% for i, character in account.getCharacters() %}
                          <div class="col-xl-3 col-md-6 col-lg-6 mt-3 ">
                            <div class="card overflow-hidden">
                              <div
                                class="card-body alert-light text-center border-top-card border-top-danger rounded-0   ">

                                <div class="d-sm-flex  main-profile-cover">
                                                                                          <span
                                                                                            class="avatar avatar-xxl {% if character.getOnline() %}online{% else %}offline{% endif %} me-3">
                                                                                              <img
                                                                                                src="{{tempate}}/uploads/images/race/{{ sex(character.getSex()) }}/{{ get_class_race(character.getClassId()) }}.jpg"
                                                                                                alt=""
                                                                                                class="avatar avatar-xxl img-thumbnail ">
                                                                                          </span>
                                  <div class="flex-fill main-profile-info my-auto">
                                    <span class="fs-6 badge bg-dark text-white">{{character.getPlayerName()}}</span>
                                    <div>
                                      <p class="fs-12 op-7 mb-0">
                                          <span class="me-3 d-inline-flex align-items-center"><i
                                            class="ri-building-line me-1 align-middle"></i>Lv: {{character.getLevel()}}</span>
                                        <span class="d-inline-flex align-items-center"><i
                                          class="ri-map-pin-line me-1 align-middle"></i>Clan: {{clan_icon(character.getClanCrest())|raw}} {{character.getClanName()}}</span>
                                      </p>
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion accordion-customicon1 accordions-items-seperate"
                                     id="accordion_open_list_{{character.getPlayerId()}}">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="open_list_{{character.getPlayerId()}}">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                              data-bs-target="#collapse_open_list_{{character.getPlayerId()}}"
                                              aria-expanded="false"
                                              aria-controls="collapse_open_list_{{character.getPlayerId()}}">
                                        {{phrase('stuck_crit_err')}}
                                      </button>
                                    </h2>
                                    <div id="collapse_open_list_{{character.getPlayerId()}}"
                                         class="accordion-collapse collapse"
                                         aria-labelledby="open_list_{{character.getPlayerId()}}"
                                         data-bs-parent="#accordion_open_list_{{character.getPlayerId()}}" style="">
                                      <div class="accordion-body">
                                        {{phrase('emerg_send_char_town')}}
                                        <hr>
                                        <form method="post" action="/player/relocation">
                                          <div class="mb-3 form-check">
                                            <input name="account" type="hidden" value="{{account.getAccount()}}">
                                            <input name="player" type="hidden" value="{{character.getPlayerName()}}">
                                            <input checked name="itemsToWarehouse" type="checkbox" class="form-check-input"
                                                   id="check_{{character.getPlayerId()}}">
                                            <label class="form-check-label" for="check_{{character.getPlayerId()}}">{{phrase('send_items_wh')}}</label>
                                          </div>
                                          <button type="submit" class="btn btn-success btn-sm label-btn label-end">
                                            {{phrase(364)}}
                                            <i class="ri-send-plane-fill label-btn-icon ms-2"></i>
                                          </button>
                                        </form>
                                      </div>
                                    </div>
                                  </div>

                                  {% if getServer().getServerData('resetHWID').getVal() == true %}
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="hwid_remove_{{character.getPlayerId()}}">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                              data-bs-target="#collapse_hwid_remove_{{character.getPlayerId()}}"
                                              aria-expanded="false"
                                              aria-controls="collapse_hwid_remove_{{character.getPlayerId()}}">
                                        {{phrase('reset_hwid')}}
                                      </button>
                                    </h2>
                                    <div id="collapse_hwid_remove_{{character.getPlayerId()}}"
                                         class="accordion-collapse collapse"
                                         aria-labelledby="open_list_{{character.getPlayerId()}}"
                                         data-bs-parent="#accordion_open_list_{{character.getPlayerId()}}" style="">
                                      <div class="accordion-body">
                                        {{phrase('reset_hwid_emerg_fn')}}.
                                        <br>
                                        <button type="submit"
                                                class="btn btn-success btn-sm label-btn label-end removeHWID"
                                                data-obj="{{character.getPlayerId()}}">
                                          {{phrase('reset_hwid')}}
                                          <i class="ri-lock-unlock-line label-btn-icon ms-2"></i>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                  {% endif %}


                                </div>

                              </div>
                            </div>
                          </div>
                          {% endfor %}


                          {% endif %}

                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    {% endif %}

                  </div>


                </div>
              </div>
            </div>
            {% endif %}

            <div class="tab-pane text-muted" id="warehouse_panel" role="tabpanel">

              <div class="row ">

                <div class="col-xl-4">
                  <div class="form-check form-check-lg d-flex align-items-center">
                    <input {% if getUser().getCountPlayers()== 0 %}disabled{% endif %} class="form-check-input"
                           type="checkbox" value="" id="selectAllItems" checked="">
                    <label class="form-check-label" for="selectAllItems">
                      {{phrase('sel_all_items')}}
                    </label>
                  </div>
                </div>

                {% set isPlayers = false %}
                <div class="col-xl-4">
                  <select {% if getUser().getCountPlayers()== 0 or statusSphereServer() is same as(false) %}disabled{%
                          endif %} class="form-control" data-trigger
                          name="warehousePlayerSend" id="warehousePlayerSend">
                    {% if getUser().getCountPlayers() == 0 %}
                    <option>{{phrase('no_chars')}}</option>
                    {% else %}
                    {% for i, account in getUser().getAccounts() %}
                    <optgroup label="{{phrase('account')}}: {{account.getAccount()}}">
                      {% if account.getCharactersCount() == 0 %}
                      <option disabled> &nbsp;&nbsp;&nbsp;&nbsp; {{phrase('no_chars')}}</option>
                      {% else %}
                      {% for i, character in account.getCharacters() %}
                      {% set isPlayers = true %}
                      <option {{character.getPlayerId()}} data-account="{{account.getAccount()}}"
                              data-character="{{character.getPlayerName()}}"> &nbsp;&nbsp;&nbsp;&nbsp;
                        {{character.getPlayerName()}} [{{character.getLevel()}}]
                      </option>
                      {% endfor %}
                      {% endif %}
                    </optgroup>
                    {% endfor %}
                    {% endif %}
                  </select>
                </div>

                <div class="col-xl-4">
                  <button {% if isPlayers== false %}disabled{% endif %} id="warehouseSendItemsToPlayer"
                          type="button" class="btn btn-dark btn-wave text-white waves-effect waves-light">{{phrase('send_items')}}
                  </button>
                </div>

              </div>
              <hr>
              <div class="row">

                {% if getUser().isAuth() == false %}
                <div class="col-xl-12">
                  <div class="card custom-card">
                    <div class="card-body">
                      <div class="alert alert-danger" role="alert">
                        {{phrase('first_reg_then_own_items_wh')}}
                      </div>
                    </div>
                  </div>
                </div>
                {% else %}
                {% if getUser().getCountPlayers() == 0 %}
                <div class="card mb-3  bg-danger-transparent border-danger">
                  <div class="d-flex p-3 border-bottom-0">
                    <div class="d-sm-flex">
                      <div class="">
                        <svg class="me-4  bg-danger  alt-notify" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                          <path fill="#ff9ea7"
                                d="M20.057 22H3.943a3.023 3.023 0 0 1-2.618-4.534L9.382 3.511a3.023 3.023 0 0 1 5.236 0l8.057 13.955A3.023 3.023 0 0 1 20.057 22Z"></path>
                          <circle cx="12" cy="17" r="1" fill="#dc3545"></circle>
                          <path fill="#dc3545" d="M12 14a1 1 0 0 1-1-1V9a1 1 0 0 1 2 0v4a1 1 0 0 1-1 1Z"></path>
                        </svg>
                      </div>
                      <div class="mt-0 text-start">
                        <span class="fs-14 fw-semibold">{{phrase('notification')}}</span>
                        <p class="fs-13 text-muted mb-0">{{phrase('no_chars_send_items_wh')}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}

                {% if getUser().countWarehouseItems() == 0 %}
                <div class="card mb-3  bg-danger-transparent border-danger">
                  <div class="d-flex p-3 border-bottom-0">
                    <div class="d-sm-flex">
                      <div class="">
                        <svg class="me-4  bg-danger  alt-notify" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                          <path fill="#ff9ea7"
                                d="M20.057 22H3.943a3.023 3.023 0 0 1-2.618-4.534L9.382 3.511a3.023 3.023 0 0 1 5.236 0l8.057 13.955A3.023 3.023 0 0 1 20.057 22Z"></path>
                          <circle cx="12" cy="17" r="1" fill="#dc3545"></circle>
                          <path fill="#dc3545" d="M12 14a1 1 0 0 1-1-1V9a1 1 0 0 1 2 0v4a1 1 0 0 1-1 1Z"></path>
                        </svg>
                      </div>
                      <div class="mt-0 text-start">
                        <span class="fs-14 fw-semibold">{{phrase('notification')}}</span>
                        <p class="fs-13 text-muted mb-0">{{phrase('no_items_send_char')}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% else %}
                {% for warehouse in getUser().getWarehouse() %}
                <div class="col-xl-2 col-12 my-2">
                  <div class="text-center">
                    <div class="similar-products-image me-2">
                      <img class="avatar avatar-xl bg-light p-1" src="{{warehouse.item.getIcon()}}" alt="">
                    </div>
                    <div class="form-switch">
                      <input data-object-id="{{warehouse.id}}" class="form-check-input warehouseInventory"
                             type="checkbox" role="switch" id="bonus_{{warehouse.id}}" checked="">
                      <label class="my-0 fs-14 fw-semibold form-label" for="bonus_{{warehouse.id}}">{% if
                        warehouse.enchant > 0 %}+{{warehouse.enchant}} {% endif %}{{warehouse.item.getItemName()}} <span
                          class="text-muted ms-1">({{warehouse.count}})</span></label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-0">
                      <p class="mb-0 text-muted">
                        <span class="text-muted fs-12 ms-1">{{phrase(warehouse.phrase)}}</span>
                      </p>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}

                {% endif %}

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


  {% if forum().isEnabled() %}
  <div class="row">
    <div class="col-xxl-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title fw-semibold">{{phrase('last_act_forum')}}</h4>
        </div>
        <div class="card-body pb-0">

          {% if forum().isNotError() %}
          <ul class="task-list">
            {% for forum in forum().lastMessage() %}
            <li class="d-sm-flex">
              <div>
                <i class="task-icon bg-primary"></i>
                <h6 class="fw-semibold">{{forum.title}}<span
                  class="text-muted fs-11 mx-2 fw-normal">{{forum.last_post_date|date('h:m:s d.m.Y')}}</span>
                </h6>
                <p class="text-muted fs-12 mb-0">
                  <a href="javascript:void(0)" class="fw-semibold text-primary">
                                    <span class="avatar avatar-sm online me-2 avatar-rounded">
                                    <img src="{{forum.avatar}}" alt="img">
                                </span> {{forum.username}}</a>:
                  {{forum.message}}</p>
              </div>
              <div class="ms-auto d-md-flex">
                <a href="javascript:void(0)" class="text-muted me-2" data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Edit" aria-label="Edit"><span
                  class="fe fe-edit"></span></a>
                <a aria-label="anchor" href="javascript:void(0)" class="text-muted"><span
                  class="fe fe-trash-2"></span></a>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          {{ forum().getMessageError() }}
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  {% endif %}


  {% if startpacks() is not empty %}
  <div class="card custom-card overflow-hidden">
    <div class="card-body p-0">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane p-0 active show" id="pricing-monthly-pane" role="tabpanel"
             aria-labelledby="pricing-monthly" tabindex="0">
          <div class="row">

            {% for data in startpacks() %}
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 border-end border-inline-end-dashed pe-0">
              <div class="p-4 h-100 d-flex flex-column">
                <h6 class="fw-semibold text-center startpack_name">{{ data.name }}</h6>
                <div class="py-3 d-flex align-items-center justify-content-center">
                  <div class="">
                    <p class="fs-1 fw-semibold mb-0 startpack_cost">{{ data.cost }}</p>
                    <p class="text-muted op-5 fs-11 fw-semibold mb-0">Sphere Coin</p>
                  </div>
                </div>
                <ul id="item_list_startpack_{{ data.id }}"
                    class="list-unstyled text-center fs-12 px-3 pt-3 mb-0 flex-grow-1">

                  {% if data.items|length > 0 %}
                  {% for item in data.items %}
                  {% set itemInfo = get_item_info(item.itemId) %}
                  <li data-item-src="{{ itemInfo.getIcon() }}" data-item-name="{{ itemInfo.itemName }}"
                      data-item-enchant="{{ item.enchant }}" data-item-count="{{ item.count }}" class="mb-3">
                    {{grade_img(itemInfo.getCrystalType())|raw}}
                    <img src="{{ itemInfo.getIcon() }}" alt="" class="avatar avatar-sm ">
                    <span data-bs-toggle="tooltip" data-bs-placement="top"
                          data-bs-original-title="{{ itemInfo.getDescription()|e }}" class="text-muted"> {% if item.enchant > 0 %}<span
                      class="badge bg-danger text-white ms-1">+{{item.enchant}}</span>{% endif %} {{itemInfo.itemName}} </span>
                    x{{format_number_fr(item.count)}}
                  </li>
                  {% endfor %}
                  {% endif %}

                </ul>
                <div class="d-grid mt-auto">
                <span class="btn btn-primary-light btn-wave waves-effect waves-light btn-open-shop"
                      data-startpack-id="{{ data.id }}"
                      type="button" data-bs-target="#openShopStartpack"
                      data-bs-toggle="modal">{{phrase(74)}}</span>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-lg fade" id="openShopStartpack" tabindex="-1" aria-labelledby="openShopStartpackLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="card-title">
            {{phrase('purchase')}}
          </div>

          <div>
            <ul class="nav nav-tabs justify-content-end nav-tabs-header mb-0" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" role="tab" aria-current="page"
                   href="#StartpackSendItemsToPlayer" aria-selected="true">{{phrase('send_to_char')}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                   href="#StartpackSendItemsToWarhouse" aria-selected="true">{{phrase('send_to_wh')}}</a>
              </li>
            </ul>
          </div>


        </div>
        <div class="modal-body">

          <div class="card-body">

            <div class="row">

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card custom-card overflow-hidden" id="itemListSellStartpack">
                  Вставить сюда список предметов
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

                <div class="tab-content">
                  <div class="tab-pane show active text-muted" id="StartpackSendItemsToPlayer"
                       role="tabpanel">
                    <div class="card-body">
                      <div class="mx-auto">
                        {{phrase(77)}}

                        <select {% if getUser().getCountPlayers()== 0 %}disabled{% endif
                                %} class="form-control" data-trigger id="StartpackPlayer">
                          {% if getUser().getCountPlayers() == 0 %}
                          <option>{{phrase('no_chars')}}</option>
                          {% else %}
                          {% for i, account in getUser().getAccounts() %}
                          <optgroup label="{{phrase('account')}}: {{account.getAccount}}">
                            {% if account.getCharactersCount() == 0 %}
                            <option disabled> &nbsp;&nbsp;&nbsp;&nbsp; {{phrase('no_chars')}}
                            </option>
                            {% else %}
                            {% for i, character in account.getCharacters() %}
                            <option data-account="{{account.getAccount()}}" value="{{character.getPlayerName()}}">
                              &nbsp;&nbsp;&nbsp;&nbsp; {{character.getPlayerName()}}
                            </option>
                            {% endfor %}
                            {% endif %}
                          </optgroup>
                          {% endfor %}
                          {% endif %}
                        </select>

                        <div class="d-flex flex-wrap align-items-center">
                          <div class="me-2 fw-semibold">
                            {{phrase(72)}} :
                          </div>
                          <span class="fs-12 text-muted StartPackCostBuy">0</span>
                        </div>

                        <button data-object-id="0" id="Startpackpurchase" type="button"
                                class="btn btn-success btn-wave waves-effect waves-light">
                          {{phrase('buy_send_to_char')}}
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane text-muted" id="StartpackSendItemsToWarhouse"
                       role="tabpanel">
                    <div class="card-body">

                      <div class="d-flex flex-wrap align-items-center">
                        <div class="me-2 fw-semibold">
                          {{phrase(72)}} :
                        </div>
                        <span class="fs-12 text-muted StartPackCostBuy">0</span>
                      </div>

                      <button data-object-id="0" id="StartpackWarehouse" type="button"
                              class="btn btn-success btn-wave waves-effect waves-light">
                        {{phrase('buy_send_to_wh')}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  {% endif %}


</div>

{% endblock %}


{% block js %}
<script>

  $(document).on('click', '.removeHWID', function () {
    var obj = $(this).data('obj');
    AjaxSend('/player/reset/hwid', 'POST', {
      player_id: obj,
    }).then(function (response) {
      console.log(response);
    });
  });

  $(document).on('click', '.btn-open-shop', function () {
    var startpackId = $(this).data('startpack-id');
    var itemList = $('#item_list_startpack_' + startpackId);
    var startpackName = itemList.closest('.p-4').find('.startpack_name').text();
    var startpackCost = itemList.closest('.p-4').find('.startpack_cost').text();
    var itemListHtml = '<h5>' + startpackName + '</h5>';

    itemList.find('li').each(function () {
      var itemSrc = $(this).data('item-src');
      var itemName = $(this).data('item-name');
      var itemEnchant = $(this).data('item-enchant');
      var itemCount = $(this).data('item-count');

      itemListHtml += '<div class="item">';
      itemListHtml += '<img src="' + itemSrc + '" alt="" class="avatar avatar-sm ">';
      itemListHtml += '<span class="text-muted">';
      if (itemEnchant > 0) {
        itemListHtml += '<span class="badge bg-danger text-white ms-1">+' + itemEnchant + '</span>';
      }
      itemListHtml += ' ' + itemName;

      itemListHtml += '</span>';
      itemListHtml += '</div>';
    });

    $('.StartPackCostBuy').text(startpackCost);
    $('#Startpackpurchase').attr('data-startpack-id', startpackId);
    $('#StartpackWarehouse').attr('data-startpack-id', startpackId);

    // Вставка списка предметов в модальное окно
    $('#itemListSellStartpack').html(itemListHtml);
  });

  $(document).on('click', '#Startpackpurchase', function () {
    var startpackId = $(this).data('startpack-id');

    var selectedOption = $('#StartpackPlayer option:selected');
    var account = selectedOption.data('account');
    var player = selectedOption.val();
    AjaxSend('/startpack/purchase', 'POST', {
      account: account,
      player: player,
      startpackId: startpackId,
    }).then(function (response) {
      $('#openShopStartpack').modal('hide');
      $('.StartPackCostBuy').text(response.sphereCoin);
    });
  });

  $(document).on('click', '#StartpackWarehouse', function () {
    var startpackId = $(this).data('startpack-id');
    var selectedOption = $('#StartpackPlayer option:selected');
    var account = selectedOption.data('account');
    var player = selectedOption.val();
    AjaxSend('/startpack/purchase/warehouse', 'POST', {
      account: account,
      player: player,
      startpackId: startpackId,
    }).then(function (response) {
      $('#openShopStartpack').modal('hide');
      $('.StartPackCostBuy').text(response.sphereCoin);
    });
  });

  $('#selectAllItems').change(function () {
    var isChecked = $(this).is(':checked');
    $('.warehouseInventory').prop('checked', isChecked);
  });

  function warehouseSelectItems() {
    var objectIdList = [];
    $('.warehouseInventory:checked').each(function () {
      var objectId = $(this).data('object-id');
      if (objectId) {
        objectIdList.push(objectId);
      }
    });
    return objectIdList;
  }

  $(document).on('click', '#warehouseSendItemsToPlayer', function () {
    var selectedOption = $('#warehousePlayerSend option:selected');
    var account = selectedOption.data('account');
    var player = selectedOption.data('character');

    AjaxSend('/inventory/send', 'POST', {
      items: warehouseSelectItems(),
      player: player,
      account: account,
    }).then(function (response) {
      $('.warehouseInventory:checked').closest('.col-xl-2').remove();
      console.log(response);
    });
  });

  $(document).on('click', '#playersRefresh', function () {
    AjaxSend('/player/account/reload', 'POST', {}).then(function (response) {
      console.log(response);
    });
  });


</script>

<script>
  $(document).on('click', '.btn-change-password', function () {
    var account = $(this).data('account');
    $('.account_new_change_password').text(account);
    $('.account_new_change_password_input').val(account);

  });
</script>

<script>
    $(document).on('click', '.account_prefix', function () {
        AjaxSend('/registration/account/prefix', 'POST', {}, true).then(function (prefix) {
            $('.account_prefix').text(prefix);
        });
    });
  </script>

{% endblock %}
