{% extends 'struct.html' %}

{% block title %}qwe{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">

                <div class="card-body">
                    <ul class="nav nav-pills justify-content-center nav-style-2 mb-3" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-toggle="tab" role="tab" aria-current="page" href="#home-center" aria-selected="true">Аккаунты</a>
                        </li>
                        {% if getUser().getCountPlayers() > 0 %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page" href="#services-center" aria-selected="false" tabindex="-1">Персонажи</a>
                        </li>
                        {% endif %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if getUser().countWarehouseItems() >=1 %}pulse pulse-danger{% endif %}" data-bs-toggle="tab" role="tab" aria-current="page" href="#contacts-center" aria-selected="false" tabindex="-1">Склад
                                {% if getUser().countWarehouseItems() >=1 %}<span class=" top-0 start-50 translate-middle badge rounded-pill bg-danger">{{getUser().countWarehouseItems()}}</span>{% endif %}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane text-muted active show" id="home-center" role="tabpanel">





                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card custom-card">

                                        <div class="card-body">
                                            <form action="{{action('account_registration')}}" method="POST">
                                                {% if getUser().isAuth() == false %}
                                                <div class="row mb-3">
                                                    <label for="emailRegistration" class="col-sm-2 col-form-label">Email</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control" name="email" id="emailRegistration" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                                <div class="row mb-3">
                                                    <label for="accountRegistration" class="col-sm-2 col-form-label">Аккаунт</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="login" id="accountRegistration" autocomplete="off">
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <label for="passwordRegistration" class="col-sm-2 col-form-label">Пароль</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control" name="password" id="passwordRegistration" autocomplete="off">
                                                    </div>
                                                </div>
                                                <fieldset class="row mb-3">
                                                    <legend class="col-form-label col-sm-2 pt-0"></legend>
                                                    <div class="col-sm-10">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="password_hide" name="password_hide">
                                                            <label class="form-check-label" for="password_hide">
                                                                Оставить пароль видимым
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>

                                                {% if user_info("get_is_auth") == false %}
                                                {% if get_captcha_version("Google") %}
                                                <input class="captchaToken" type="hidden" name="captcha">
                                                {% elseif get_captcha_version("default") %}
                                                <div class="row mb-4">
                                                    <div class="col-6">
                                                        <div class="form-floating" style="">
                                                            <img src="" class="lightbox-thumb img-thumb captcha_img" />
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" id="auth_captcha" name="captcha" placeholder="Captcha">
                                                            <label class="form-label" for="auth_captcha">Captcha</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endif %}

                                                <div class="container px-0 mb-0">
                                                    <div class="row ">
                                                        <div class="col-sm-6">
                                                            <button type="submit" class="btn btn-success shadow-success btn-wave waves-effect waves-light">Зарегистрировать аккаунт</button>
                                                        </div>

                                                    </div>
                                                </div>

                                            </form>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="card custom-card">

                                        <div class="card-body">

                                            {% if getUser().isAuth() %}
                                            <div class="table-responsive">
                                                <table class="table text-nowrap table-bordered table-sm">
                                                    <thead>
                                                    <tr>
                                                        <th>Аккаунт</th>
                                                        <th>Пароль</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for account in getUser().getPlayers() %}
                                                    <tr>
                                                        <td>{{ account.getAccount() }}</td>
                                                        <td>
                                                            {% if account.isPasswordHide() %}
                                                            * * * * * *
                                                            {% else %}
                                                            {{ account.getPassword() }}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <button type="button"
                                                                    class="btn btn-light mb-1 btn-sm"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-effect="effect-slide-in-right"
                                                                    data-bs-target="#changepassword">Сменить пароль</button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>

                                {% if getUser().isAuth() %}
                                <div class="modal fade"  id="changepassword">
                                    <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                        <div class="modal-content modal-content-demo">
                                            <div class="modal-header">
                                                <h6 class="modal-title">Смена пароля</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body text-start">
                                                <h6 class="text-center">Введите новый пароль для аккаунта XXX</h6>
                                                <div class="form-floating">
                                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                                    <label for="floatingPassword">Password</label>
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="hidePassword">
                                                        <label class="form-check-label" for="hidePassword">
                                                            Оставить пароль видимым
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" >Сохранить</button> <button class="btn btn-light" data-bs-dismiss="modal" >Отмена</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                            </div>
                        </div>

                        {% if getUser().isAuth() %}
                        <div class="tab-pane text-muted" id="services-center" role="tabpanel">
                            <div class="card-body d-flex align-items-start">
                                <div class="col-xl-12">
                                    <div class="card custom-card">

                                        <ul class="nav nav-tabs mb-3 border-bottom-0" role="tablist">
                                            {% for i, account in getUser().getPlayers() %}
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link {% if i == 0 %}active{% endif %}" data-bs-toggle="tab" role="tab" href="#ac_{{account.getAccount}}" aria-selected="{% if i == 0 %}true{% endif %}">{{account.getAccount()}}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="tab-content">
                                            {% for i, account in getUser().getPlayers() %}
                                            <div class="tab-pane text-muted {% if i==0 %}active show{% endif %}" id="ac_{{account.getAccount()}}" role="tabpanel">
                                                <div class="row">

                                                    {% if account.getCharactersCount() == 0 %}
                                                    <div class="card mb-3  bg-danger-transparent border-danger">
                                                        <div class="d-flex p-3 border-bottom-0">
                                                            <div class="d-sm-flex">
                                                                <div class="">
                                                                    <svg class="me-4  bg-danger  alt-notify" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#ff9ea7" d="M20.057 22H3.943a3.023 3.023 0 0 1-2.618-4.534L9.382 3.511a3.023 3.023 0 0 1 5.236 0l8.057 13.955A3.023 3.023 0 0 1 20.057 22Z"></path><circle cx="12" cy="17" r="1" fill="#dc3545"></circle><path fill="#dc3545" d="M12 14a1 1 0 0 1-1-1V9a1 1 0 0 1 2 0v4a1 1 0 0 1-1 1Z"></path></svg>
                                                                </div>
                                                                <div class="mt-0 text-start">
                                                                    <span class="fs-14 fw-semibold">Уведомление</span>
                                                                    <p class="fs-13 text-muted mb-0">На данном аккаунте нет персонажей</p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    {% else %}

                                                    {% for i, character in account.getCharacters() %}
                                                    <div class="col-xl-3 col-md-6 col-lg-6 mt-3 ">
                                                        <div class="card overflow-hidden">
                                                            <div class="card-body alert-light text-center border-top-card border-top-danger rounded-0   ">

                                                                <div class="d-sm-flex  main-profile-cover">
                                                                                        <span class="avatar avatar-xxl {% if character.getOnline() %}online{% else %}offline{% endif %} me-3">
                                                                                            <img src="{{tempate}}/uploads/images/race/{{ sex(character.getSex()) }}/{{ get_class_race(character.getClassId()) }}.jpg" alt="" class="avatar avatar-xxl img-thumbnail ">
                                                                                        </span>
                                                                    <div class="flex-fill main-profile-info my-auto">
                                                                        <span class="fs-6 badge bg-dark text-white">{{character.getPlayerName()}}</span>
                                                                        <div>
                                                                            <p class="fs-12 op-7 mb-0">
                                                                                <span class="me-3 d-inline-flex align-items-center"><i class="ri-building-line me-1 align-middle"></i>Lv: {{character.getLevel()}}</span>
                                                                                <span class="d-inline-flex align-items-center"><i class="ri-map-pin-line me-1 align-middle"></i>Clan: {{character.getClanName()}}</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="accordion accordion-customicon1 accordions-items-seperate" id="accordion_open_list_{{character.getPlayerId()}}">
                                                                    <div class="accordion-item">
                                                                        <h2 class="accordion-header" id="open_list_{{character.getPlayerId()}}">
                                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_open_list_{{character.getPlayerId()}}" aria-expanded="false" aria-controls="collapse_open_list_{{character.getPlayerId()}}">
                                                                                Застрял или критует
                                                                            </button>
                                                                        </h2>
                                                                        <div id="collapse_open_list_{{character.getPlayerId()}}" class="accordion-collapse collapse" aria-labelledby="open_list_{{character.getPlayerId()}}" data-bs-parent="#accordion_open_list_{{character.getPlayerId()}}" style="">
                                                                            <div class="accordion-body">
                                                                                Экстренная функция отправки персонажа в город.
                                                                                <hr>
                                                                                <form>
                                                                                    <div class="mb-3 form-check">
                                                                                        <input type="checkbox" class="form-check-input form-checked-danger" id="check_{{character.getPlayerId()}}">
                                                                                        <label class="form-check-label" for="check_{{character.getPlayerId()}}">Отправить предметы в склад</label>
                                                                                    </div>
                                                                                    <button type="submit" class="btn btn-success btn-sm label-btn label-end">
                                                                                        Отправить
                                                                                        <i class="ri-thumb-up-line label-btn-icon ms-2"></i>
                                                                                    </button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                    {% endif %}

                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <div class="tab-pane text-muted" id="contacts-center" role="tabpanel">

                            <div class="row ">

                                <div class="col-xl-4">
                                    <div class="form-check form-check-lg d-flex align-items-center">
                                        <input {% if getUser().getCountPlayers() == 0 %}disabled{% endif %} class="form-check-input" type="checkbox" value="" id="checkebox-lg" checked="">
                                        <label class="form-check-label" for="checkebox-lg">
                                            Выбрать все предметы
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <select {% if getUser().getCountPlayers() == 0 %}disabled{% endif %} class="form-control" data-trigger name="warehousePlayerSend" id="warehousePlayerSend">
                                        {% if getUser().getCountPlayers() == 0 %}
                                            <option>У Вас нет персонажей</option>
                                        {% else %}
                                            {% for i, account in getUser().getPlayers() %}
                                                <optgroup label="Аккаунт: {{account.getAccount}}">
                                                    {% if account.getCharactersCount() == 0 %}
                                                        <option disabled > &nbsp;&nbsp;&nbsp;&nbsp; Нет персонажей </option>
                                                    {% else %}
                                                        {% for i, character in account.getCharacters() %}
                                                        <option value="{{character.getPlayerName()}}"> &nbsp;&nbsp;&nbsp;&nbsp; {{character.getPlayerName()}} </option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </optgroup>

                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>

                                <div class="col-xl-4">
                                    <button {% if getUser().getCountPlayers() == 0 %}disabled{% endif %} id="warehouseSendItemsToPlayer" type="button" class="btn btn-dark btn-wave text-white waves-effect waves-light">Отправить предметы</button>
                                </div>

                            </div>
                            <hr>
                            <div class="row">

                                {% if getUser().isAuth() == false %}
                                <div class="col-xl-12">
                                    <div class="card custom-card">
                                        <div class="card-body">
                                            <div class="alert alert-danger" role="alert">
                                                Сначала <a href="#" class="alert-link">зарегистрируйтесь</a>, тогда сможете владеть предметами на складе.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {% if getUser().getCountPlayers() == 0 %}
                                <div class="card mb-3  bg-danger-transparent border-danger">
                                    <div class="d-flex p-3 border-bottom-0">
                                        <div class="d-sm-flex">
                                            <div class="">
                                                <svg class="me-4  bg-danger  alt-notify" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#ff9ea7" d="M20.057 22H3.943a3.023 3.023 0 0 1-2.618-4.534L9.382 3.511a3.023 3.023 0 0 1 5.236 0l8.057 13.955A3.023 3.023 0 0 1 20.057 22Z"></path><circle cx="12" cy="17" r="1" fill="#dc3545"></circle><path fill="#dc3545" d="M12 14a1 1 0 0 1-1-1V9a1 1 0 0 1 2 0v4a1 1 0 0 1-1 1Z"></path></svg>
                                            </div>
                                            <div class="mt-0 text-start">
                                                <span class="fs-14 fw-semibold">Уведомление</span>
                                                <p class="fs-13 text-muted mb-0">На данном аккаунте нет персонажей на который можно отправить предметы из склада</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                    {% if getUser().countWarehouseItems() == 0 %}
                                        <div class="card mb-3  bg-danger-transparent border-danger">
                                            <div class="d-flex p-3 border-bottom-0">
                                                <div class="d-sm-flex">
                                                    <div class="">
                                                        <svg class="me-4  bg-danger  alt-notify" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#ff9ea7" d="M20.057 22H3.943a3.023 3.023 0 0 1-2.618-4.534L9.382 3.511a3.023 3.023 0 0 1 5.236 0l8.057 13.955A3.023 3.023 0 0 1 20.057 22Z"></path><circle cx="12" cy="17" r="1" fill="#dc3545"></circle><path fill="#dc3545" d="M12 14a1 1 0 0 1-1-1V9a1 1 0 0 1 2 0v4a1 1 0 0 1-1 1Z"></path></svg>
                                                    </div>
                                                    <div class="mt-0 text-start">
                                                        <span class="fs-14 fw-semibold">Уведомление</span>
                                                        <p class="fs-13 text-muted mb-0">У вас нет предметов для отправки в своему игровому персонажу.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        {% for warehouse in getUser().getWarehouse() %}
                                        <div class="col-xl-2 col-12 my-2">
                                            <div class="text-center">
                                                <div class="similar-products-image me-2">
                                                    <img class="avatar avatar-xl bg-light p-1" src="{{warehouse.item.getIcon()}}" alt="">
                                                </div>
                                                <div class="form-switch">
                                                    <input data-object-id="{{warehouse.id}}" class="form-check-input warehouseInventory" type="checkbox" role="switch" id="bonus_{{warehouse.id}}" checked="">
                                                    <label class="my-0 fs-14 fw-semibold form-label" for="bonus_{{warehouse.id}}">{% if warehouse.enchant > 0 %}+{{warehouse.enchant}} {% endif %}{{warehouse.item.getItemName()}} <span class="text-muted ms-1">({{warehouse.count}})</span></label>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-center mb-0">
                                                    <p class="mb-0 text-muted">
                                                        <span class="text-muted fs-12 ms-1">{{phrase(warehouse.phrase)}}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {% endif %}

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    {% if forum().isEnabled() %}
    <div class="row">
        <div class="col-xxl-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title fw-semibold">Последняя активность на форуме</h4>
                </div>
                <div class="card-body pb-0">

                    {% if forum().isNotError() %}
                    <ul class="task-list">
                        {% for forum in forum().lastMessage() %}
                        <li class="d-sm-flex">
                            <div>
                                <i class="task-icon bg-primary"></i>
                                <h6 class="fw-semibold">{{forum.title}}<span
                                        class="text-muted fs-11 mx-2 fw-normal">{{forum.last_post_date|date('h:m:s d.m.Y')}}</span>
                                </h6>
                                <p class="text-muted fs-12 mb-0">
                                    <a href="javascript:void(0)" class="fw-semibold text-primary">
                                    <span class="avatar avatar-sm online me-2 avatar-rounded">
                                    <img src="{{forum.avatar}}" alt="img">
                                </span> {{forum.username}}</a>:
                                    {{forum.message}}</p>
                            </div>
                            <div class="ms-auto d-md-flex">
                                <a href="javascript:void(0)" class="text-muted me-2" data-bs-toggle="tooltip"
                                   data-bs-placement="top" title="Edit" aria-label="Edit"><span
                                        class="fe fe-edit"></span></a>
                                <a aria-label="anchor" href="javascript:void(0)" class="text-muted"><span
                                        class="fe fe-trash-2"></span></a>
                            </div>
                        </li>
                         {% endfor %}
                    </ul>
                    {% else %}
                    {{ forum().getMessageError() }}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block js %}
<script>
    get_captcha()
    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('captcha_img')) {
            get_captcha();
        }
    });

    function get_captcha() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST",  "/captcha", true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var data = xhr.responseText;
                document.querySelector(".captcha_img").src = data;
            }
        };
        xhr.send();
    }

    function warehouseSelectItems(){
        var objectIdList = [];
        $('.warehouseInventory').each(function() {
            // Получаем значение атрибута data-object-id и добавляем его в массив, если оно существует
            var objectId = $(this).data('object-id');
            if (objectId) {
                objectIdList.push(objectId);
            }
        });
        return objectIdList;
    }

    $(document).on("click", "#warehouseSendItemsToPlayer", function (){
        AjaxSend("/inventory/send", "POST", {
            items: warehouseSelectItems(),
            player: $("#warehousePlayerSend").val()
        }).then(function (response){
           console.log(response)
        });
    })



</script>
{% endblock %}
