{% extends 'struct.html' %}

{% block title %}{{ phrase('balance_topup') }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- ROW-1 OPEN -->
    <div class="row">
        <!-- COL-END -->

        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <div>
                        <h3 class="card-title">{{phrase('topup_master_acc_bal')}}</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="mb-1 text-muted">{{phrase('how_many_donate_coin_buy')|raw}}</div>
                        <div class="input-group border rounded flex-nowrap">
                            <button class="btn btn-icon btn-primary input-group-text flex-fill "
                                    id="product-quantity-minus"><i class="ri-subtract-line"></i></button>
                            <input min="{{getServer().donate().getMinSummaPaySphereCoin()}}"
                                   max="{{getServer().donate().getMaxSummaPaySphereCoin()}}" type="text"
                                   class="form-control form-control-sm border-0 text-center w-100"
                                   aria-label="quantity" id="numberOfCoinsPurchased"
                                   value="{{getServer().donate().getMinSummaPaySphereCoin()}}">
                            <button class="btn btn-icon btn-primary input-group-text flex-fill "
                                    id="product-quantity-plus"><i class="ri-add-line"></i></button>
                        </div>
                    </div>

                    <div class="text-center">{{phrase('estimated_cost')}}</div>
                    {% set USD = getServer().donate().getRatioUSD() / getServer().donate().getSphereCoinCost() %}
                    {% set EUR = getServer().donate().getRatioEUR() / getServer().donate().getSphereCoinCost() %}
                    {% set RUB = getServer().donate().getRatioRUB() / getServer().donate().getSphereCoinCost() %}
                    {% set UAH = getServer().donate().getRatioUAH() / getServer().donate().getSphereCoinCost() %}

                    <div class="block-content block-content-full">
                        <div class="row text-center">
                            <div class="col-6">
                                <div class="fs-sm fw-semibold text-uppercase text-muted">USD</div>
                                <div data-cost="{{USD}}" data-count="usd" class="fs-3 fw-semibold">0</div>
                            </div>
                            <div class="col-6">
                                <div class="fs-sm fw-semibold text-uppercase text-muted">EUR</div>
                                <div data-cost="{{EUR}}" data-count="eur" class="fs-3 fw-semibold">0</div>
                            </div>

                            <div class="col-6">
                                <div class="fs-sm fw-semibold text-uppercase text-muted">RUB</div>
                                <div data-cost="{{RUB}}" data-count="rub" class="fs-3 fw-semibold">0</div>
                            </div>
                            <div class="col-6">
                                <div class="fs-sm fw-semibold text-uppercase text-muted">UAH</div>
                                <div data-cost="{{UAH}}" data-count="uah" class="fs-3 fw-semibold">0</div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="card-header">
                    <div class="card-title">{{phrase('sel_payment_sys')}}</div>
                </div>
                <div class="">
                    {% for donSys in donateSysNames %}
                    <div class="form-check d-flex overflow-visible border-bottom border-block-end-dashed selectDonSys"
                         data-name="{{donSys.name}}">
                        <input hidden="" value="{{donSys.name}}" class="form-check-input" type="radio" name="paysystem"
                               id="{{donSys.name}}">
                        <span class="avatar card-aside-column br-5 cover-image"
                              data-bs-image-src="{{template}}/assets/images/donate/{{donSys.name}}.png"
                              style="background: url({{template}}/assets/images/donate/{{donSys.name}}.png) center center;"></span>
                        <div class="ps-3 flex-column">
                            <span class="badge bg-danger">{{donSys.name}}</span>
                            <div class="text-muted">{{donSys.description}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


                <div class="card-footer text-center">
                    <div class="btn-list">
                        <button id="paynext" type="button" class="btn btn-success btn-wave waves-effect waves-light">
                            {{phrase('pay')}}
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-8">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">
                        {{phrase('bonuses')}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3">
                            <ul class="nav nav-tabs flex-column nav-style-4" role="tablist">
                                {% if getServer().donate().isRewardForDonatingItems() %}
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" role="tab"
                                       aria-current="page" href="#home-vertical"
                                       aria-selected="true">{{phrase('item_bonuses')}}</a>
                                </li>
                                {% endif %}

                                {% if getServer().donate().isEnableOneTimeBonus() %}
                                <li class="nav-item">
                                    <a class="nav-link {% if getServer().donate().isRewardForDonatingItems() == false %}active{% endif %}"
                                       data-bs-toggle="tab" role="tab"
                                       aria-current="page" href="#about-vertical"
                                       aria-selected="true">{{phrase('one_time_bonus')}}</a>
                                </li>
                                {% endif %}

                                {% if getServer().donate().isEnableCumulativeDiscountSystem() %}
                                <li class="nav-item">
                                    <a class="nav-link {% if getServer().donate().isRewardForDonatingItems() == false and getServer().donate().isEnableOneTimeBonus() == false %}active{% endif %}"
                                       data-bs-toggle="tab" role="tab"
                                       aria-current="page" href="#services-vertical"
                                       aria-selected="true">{{phrase('accum_bonuses')}}</a>
                                </li>
                                {% endif %}

                                {% if config().other().getContactAdmin() is not empty %}
                                <li class="nav-item">
                                    <a class="nav-link btn btn-success btn-sm {% if getServer().donate().isRewardForDonatingItems() == false and getServer().donate().isEnableOneTimeBonus() == false and getServer().donate().isEnableCumulativeDiscountSystem() == false %}active{% endif %} "
                                       data-bs-toggle="tab" role="tab"
                                       aria-current="page" href="#contacts-vertical"
                                       aria-selected="true">{{phrase('contact_admin')}}</a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                        <div class="col-xl-9">
                            <div class="tab-content">
                                {% if getServer().donate().isRewardForDonatingItems() %}
                                <div class="tab-pane show active text-muted" id="home-vertical"
                                     role="tabpanel">

                                    {{phrase('bonus_items_topup_amt')}}<br>


                                    {% for cost, bonus in getServer().donate().getTableItemsBonus() %}
                                    <div class="table-responsive mt-4 bonus_items" data-cost="{{cost}}">
                                        <table class="table table-sm text-nowrap table-bordered border-primary">
                                            <thead>
                                            <tr>
                                                <th colspan="4" scope="col">От {{cost}} {{ phrase('donate_coin') }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in bonus %}
                                            <tr class="">
                                                <th scope="row" style="width: 1px">
                                                    <img class="avatar avatar-sm me-2" src="{{item.item.getIcon()}}">
                                                </th>
                                                <td>
                                                    <span class="">{{item.item.getAddName()}} {{item.item.itemName()}} {% if item.item.getDescription() %} - {{ item.item.getDescription() }} {% endif %}</span>
                                                </td>
                                                <td><span class="">{{item.count}}</span></td>
                                            </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                    {% endfor %}

                                </div>
                                {% endif %}

                                {% if getServer().donate().isEnableOneTimeBonus() %}
                                <div class="tab-pane text-muted {% if getServer().donate().isRewardForDonatingItems() == false %}active{% endif %}"
                                     id="about-vertical"
                                     role="tabpanel">
                                    {{phrase('one_time_bonus_pct_topup')}}
                                    <br>
                                    <div class="table-responsive mt-4">
                                        <table class="table table-sm text-nowrap table-bordered border-primary">
                                            <thead>
                                            <tr>
                                                <th>{{phrase('min_topup')}}</th>
                                                <th>{{phrase('reward_pct')}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for bonus in getServer().donate().getTableEnableOneTimeBonus() %}
                                            <tr>
                                                <th scope="row">{{bonus.coin}}</th>
                                                <td>+{{bonus.percent}}%</td>
                                            </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                {% endif %}

                                {% if getServer().donate().isEnableCumulativeDiscountSystem() %}
                                <div class="tab-pane text-muted {% if getServer().donate().isRewardForDonatingItems() == false and getServer().donate().isEnableOneTimeBonus() == false %}active{% endif %}"
                                     id="services-vertical"
                                     role="tabpanel">

                                    {{phrase('accum_sys_bonus', count_all_donate_bonus,
                                    count_all_donate_bonus_percent)|raw}}

                                    <br>
                                    <div class="table-responsive mt-4">
                                        <table class="table table-sm text-nowrap table-bordered border-primary">
                                            <thead>
                                            <tr>
                                                <th>{{phrase('funds_accum')}}</th>
                                                <th>{{phrase('reward_pct')}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for bonus in getServer().donate().getTableCumulativeDiscountSystem() %}
                                            <tr data-percent="{{bonus.percent}}">
                                                <td>{{bonus.coin}}</td>
                                                <td>{{bonus.percent}}%</td>
                                            </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                {% endif %}

                                {% if config().other().getContactAdmin() is not empty %}
                                <div class="tab-pane text-muted {% if getServer().donate().isRewardForDonatingItems() == false and getServer().donate().isEnableOneTimeBonus() == false and getServer().donate().isEnableCumulativeDiscountSystem() == false %}active{% endif %}"
                                     id="contacts-vertical"
                                     role="tabpanel">
                                    {{ config().other().getContactAdmin()|raw }}
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">
                        {{phrase('recent_donations_bonuses')}}
                    </div>
                </div>
                <div class="card-body">
                    <table id="scroll-vertical" class="table table-bordered text-nowrap w-100">
                        <thead>
                        <tr>
                            <td style="width: 1px">{{phrase(262)}}</td>
                            <th style="width: 1px">{{phrase('summa')}}</th>
                            <th>{{phrase('message')}}</th>
                            <th style="width: 1px">{{phrase('donation_sys')}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for history in donate_history_pay %}
                        <tr>
                            <td>{{history.date|date('H:i:s d.m.Y')}}</td>
                            <td>+{{history.point}}</td>
                            <td>{{history.message}}</td>
                            <td> {% if history.sphere == 0 %}{{history.pay_system}}{% else %}{{phrase('bonus')}}{% endif
                                %}
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: row-7 -->


</div>


{% endblock %}


{% block css %}
{% endblock %}


{% block js %}

<script>


    $(document).ready(function () {
        updateCurrencyValues();

        $('#numberOfCoinsPurchased').on('input', function () {
            // Удаляем все символы, кроме цифр
            this.value = this.value.replace(/[^0-9]/g, '');

            var value = this.value === '' ? '' : parseInt(this.value);
            var min = parseInt(this.getAttribute('min'));
            var max = parseInt(this.getAttribute('max'));

            // Проверяем, если значение пустое, оставляем его пустым
            if (value === '') {
                this.value = '';
            }
            // Проверяем на минимальное значение или если значение не число
            else if (value < min || isNaN(value)) {
                this.value = min;
            }
            // Проверяем на максимальное значение
            else if (value > max) {
                this.value = max;
            }
            updateCurrencyValues();
            selectBonusPanel();
        });


        var incrementTimer;
        var deincrementTimer;

        $("#product-quantity-minus").on("mousedown", function () {
            deincrementTimer = setInterval(function () {
                var currentValue = parseInt($('#numberOfCoinsPurchased').val());
                var min = 1;
                if (!isNaN(currentValue)) {
                    var newValue = currentValue - 1;
                    if (newValue >= min) {
                        $('#numberOfCoinsPurchased').val(newValue);
                    } else {
                        $('#numberOfCoinsPurchased').val(min);
                        clearInterval(deincrementTimer); // Остановить декрементирование, если достигнут минимум
                    }
                } else {
                    $('#numberOfCoinsPurchased').val(min);
                }
                selectBonusPanel();
                updateCurrencyValues()
            }, 50);
        }).on("mouseup mouseleave", function () {
            clearInterval(deincrementTimer);
            updateCurrencyValues()
        });


        $("#product-quantity-plus").on("mousedown", function () {
            incrementTimer = setInterval(function () {
                var currentValue = parseInt($('#numberOfCoinsPurchased').val());
                var max = parseInt($('#numberOfCoinsPurchased').attr('max'));

                if (!isNaN(currentValue)) {
                    var newValue = currentValue + 1;
                    if (newValue <= max) {
                        $('#numberOfCoinsPurchased').val(newValue);
                    } else {
                        $('#numberOfCoinsPurchased').val(max);
                        clearInterval(incrementTimer); // Остановить инкрементирование, если достигнут максимум
                    }
                } else {
                    $('#numberOfCoinsPurchased').val('1');
                }
                selectBonusPanel();
                updateCurrencyValues();
            }, 50);
        }).on("mouseup mouseleave", function () {
            clearInterval(incrementTimer);
            updateCurrencyValues(); // Обновление значений валюты при остановке
        });


    });

    function updateCurrencyValues() {
        var numberOfCoins = parseInt($('#numberOfCoinsPurchased').val());

        // Если значение пустое или не число, считаем, что там 1
        if (isNaN(numberOfCoins) || numberOfCoins === '') {
            numberOfCoins = 1;
        }

        $('[data-count]').each(function () {
            var cost = parseFloat($(this).data('cost'));
            var newValue = (numberOfCoins * cost).toFixed(1);
            $(this).text(newValue);
        });
    }


    selectTablePanel();

    function selectTablePanel() {
        var currentPercent = parseFloat('{{count_all_donate_bonus_percent}}');
        $('tr[data-percent]').each(function () {
            var rowPercent = parseFloat($(this).data('percent'));

            if (rowPercent === currentPercent) {
                $(this).find('td').addClass('bg-success-transparent text-success p-2 px-3');
            }
        });
    }

    function getSelectedPaySystemValue() {
        var selectedValue = $('input[name="paysystem"]:checked').val();
        if (selectedValue !== undefined && selectedValue !== null) {
            return selectedValue;
        } else {
            noticeError('{{phrase("sel_payment_sys")}}');
        }
    }

    function selectBonusPanel() {
        let enteredValue = parseInt($('#numberOfCoinsPurchased').val(), 10);

        // Если значение пустое или не число, считаем, что там 1
        if (isNaN(enteredValue) || enteredValue === '') {
            enteredValue = 1;
        }

        let maxCost = 0;
        let $maxCostElement = null;

        // Сначала находим элемент с максимальным data-cost, который меньше или равен введенному значению
        $('.bonus_items').each(function () {
            let cost = parseInt($(this).data('cost'), 10);
            if (cost > maxCost && enteredValue >= cost) {
                maxCost = cost;
                $maxCostElement = $(this);
            }
        });

        // Удаляем класс alert alert-success у всех элементов
        $('.bonus_items').removeClass('alert alert-success');

        // Добавляем класс alert alert-success только выбранному элементу
        if ($maxCostElement) {
            $maxCostElement.addClass('alert alert-success');
        }
    }


    $(document).on("click", "#paynext", function () {
        paysystem = getSelectedPaySystemValue();
        if (typeof paysystem === 'undefined') {
            return;
        }
        $.ajax(
            {
                type: "POST",
                url: "/donate/transfer/" + paysystem + "/createlink",
                data: {
                    count: $("#numberOfCoinsPurchased").val()
                },
                success: function (redirectLink) {
                    console.log(redirectLink)
                    if (redirectLink['ok'] === false) {
                        noticeError(redirectLink['message'])
                        return;
                    } else {
                        window.open(redirectLink, '_blank');
                    }
                }
            });
    });

    activateRadio("{{getServer().donate().getPaySystemDefault()}}");

    $(document).on("click", ".selectDonSys", function (e) {
        var name = $(this).data("name");
        activateRadio(name);
    });

    function activateRadio(name) {
        $('input[name="paysystem"]').prop('checked', false);
        $('.form-check').removeClass('bg-success-transparent border-success notify-border-start-success');
        $('#' + name).prop('checked', true);
        $('.selectDonSys[data-name="' + name + '"]').addClass('bg-success-transparent border-success notify-border-start-success');
    }


</script>


{% endblock %}