{% extends 'struct.html' %}

{% block title %}Мои рефералы{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="main-chart-wrapper gap-2 mb-0 d-xl-flex">
        {% if getUser().isAdmin() %}
        
        <div class="chat-info border">

            <a aria-label="anchor" href="/ticket/new"
               class="btn btn-secondary btn-icon rounded-circle chat-add-icon">
                <i class="ri-add-line"></i>
            </a>

            <div class="d-flex align-items-center justify-content-between w-100 p-3 border-bottom">
                <h6 class="fw-semibold mb-0">Тикет</h6>
                <div class="dropdown">
                    <ul class="dropdown-menu" role="menu" data-bs-toggle="dropdown" aria-expanded="false">
                        <li class="border-bottom"><a class="dropdown-item" href="javascript:void(0);">Today</a></li>
                        <li class="border-bottom"><a class="dropdown-item" href="javascript:void(0);">This Week</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);">Last Week</a></li>
                    </ul>
                </div>
            </div>


            <ul class="nav nav-tabs tab-style-6 p-0 nav-justified mb-0 border-bottom d-block d-sm-flex rounded-0"
                id="myTab1" role="tablist">
                <li class="nav-item border-end me-0" role="presentation">
                    <button class="nav-link fs-14 active" id="users-tab" data-bs-toggle="tab"
                            data-bs-target="#users-tab-pane" type="button" role="tab"
                            aria-controls="users-tab-pane" aria-selected="true"><i
                            class="fe fe-mail me-1 align-middle d-inline-block"></i>Chats
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active border-0 chat-users-tab" id="users-tab-pane"
                     role="tabpanel" aria-labelledby="users-tab" tabindex="0">
                    <ul class="list-unstyled mb-0 mt-2 chat-users-tab" id="chat-msg-scroll">
                        <li class="pb-0">
                            <p class="text-muted fs-11 fw-semibold mb-2 op-7">Тикеты</p>
                        </li>
                        {% for ticket_data in get_ticket_data() %}
                        {% set userId = ticket_data.getLastMessageId() %}
                        <li class="checkforactive">
                            <a href="/ticket/{{ticket_data.getId()}}" >
                                <div class="d-flex align-items-top">
                                    <div class="me-1 lh-1">
                                                    <span class="avatar avatar-md online me-2 avatar-rounded">
                                                        <img src="{{getUser(userId).getAvatar()}}" alt="img">
                                                    </span>
                                    </div>
                                    <div class="flex-fill">
                                        <p class="mb-0 fs-12">
                                            <span class="chat-msg text-truncate">{{getUser(userId).getName()}} : {{ticket_data.getMessage()}}</span>
                                            <span class="float-end text-muted fw-normal fs-11">{{ticket_data.getData()|date("H:i | j F")}}</span>
                                        </p>
                                        <p class="fs-12 mb-0">
                                            <span class="chat-msg text-truncate">Статус : Открыт</span>
                                            <span class="chat-read-icon float-end align-middle">
                                                <span class="badge bg-danger float-end fs-10">+3</span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane fade border-0 chat-groups-tab" id="groups-tab-pane"
                     role="tabpanel" aria-labelledby="groups-tab" tabindex="0">

                    <ul class="list-unstyled mb-0 mt-2 ">
                        <li class="pb-0">
                            <p class="text-muted fs-11 fw-semibold mb-1 op-7">GROUP CHATS</p>
                        </li>
                        <li class="checkforactive">
                            <a href="javascript:void(0);"
                               onclick="changeTheInfo(this,'Family Together &#128525;','18','online')">
                                <div class="d-flex align-items-top">
                                    <div class="me-1 lh-1">
                                                    <span class="avatar avatar-md online me-2 avatar-rounded">
                                                        <img src="{{template}}/assets/images/faces/17.jpg" alt="img">
                                                    </span>
                                    </div>
                                    <div class="flex-fill">
                                        <p class="mb-0 fw-semibold">
                                            Family Together &#128525; <span
                                                class="float-end text-muted fw-normal fs-11">12:24PM</span>
                                        </p>
                                        <p class="fs-12 mb-0 chat-msg-typing ">
                                            <span class="chat-msg text-truncate">Hira Typing...</span>
                                            <span class="chat-read-icon float-end align-middle"><i
                                                    class="ri-check-double-fill"></i></span>
                                            <span
                                                    class="badge bg-success-transparent rounded-circle float-end">2</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="chat-msg-unread checkforactive">
                            <a href="javascript:void(0);" onclick="changeTheInfo(this,'Work Buddies','19','online')">
                                <div class="d-flex align-items-top">
                                    <div class="me-1 lh-1">
                                                    <span class="avatar avatar-md online me-2 avatar-rounded">
                                                        <img src="{{template}}/assets/images/faces/18.jpg" alt="img">
                                                    </span>
                                    </div>
                                    <div class="flex-fill">
                                        <p class="mb-0 fw-semibold">
                                            Work Buddies <span
                                                class="float-end text-muted fw-normal fs-11">1:16PM</span>
                                        </p>
                                        <p class="fs-12 mb-0">
                                                        <span class="chat-msg text-truncate"><span
                                                                class="group-indivudial">Rams:</span>Happy to be part of
                                                            this group</span>
                                            <span class="chat-read-icon float-end align-middle"><i
                                                    class="ri-check-double-fill"></i></span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="chat-inactive checkforactive">
                            <a href="javascript:void(0);"
                               onclick="changeTheInfo(this,'Friends Forever &#128526;','20','offline')">
                                <div class="d-flex align-items-top">
                                    <div class="me-1 lh-1">
                                                    <span class="avatar avatar-md offline me-2 avatar-rounded">
                                                        <img src="{{template}}/assets/images/faces/19.jpg" alt="img">
                                                    </span>
                                    </div>
                                    <div class="flex-fill">
                                        <p class="mb-0 fw-semibold">
                                            Friends Forever &#128526; <span
                                                class="float-end text-muted fw-normal fs-11">3 days
                                                            ago</span>
                                        </p>
                                        <p class="fs-12 mb-0">
                                                        <span
                                                                class="chat-msg text-truncate">Simon,Melissa,Amanda,Patrick,Siddique</span>
                                            <span class="chat-read-icon float-end align-middle"><i
                                                    class="ri-check-double-fill"></i></span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="chat-inactive checkforactive">
                            <a href="javascript:void(0);"
                               onclick="changeTheInfo(this,'Social Media Deals','21','offline')">
                                <div class="d-flex align-items-top">
                                    <div class="me-1 lh-1">
                                                    <span class="avatar avatar-md offline me-2 avatar-rounded">
                                                        <img src="{{template}}/assets/images/faces/20.jpg" alt="img">
                                                    </span>
                                    </div>
                                    <div class="flex-fill">
                                        <p class="mb-0 fw-semibold">
                                            Social Media Deals <span
                                                class="float-end text-muted fw-normal fs-11">5 days
                                                            ago</span>
                                        </p>
                                        <p class="fs-12 mb-0">
                                                        <span
                                                                class="chat-msg text-truncate">Kamalan,Subha,Ambrose,Kiara,Jackson</span>
                                            <span class="chat-read-icon float-end align-middle"><i
                                                    class="ri-check-double-fill"></i></span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="chat-inactive checkforactive">
                            <a href="javascript:void(0);"
                               onclick="changeTheInfo(this,'Apartment Group','21','offline')">
                                <div class="d-flex align-items-top">
                                    <div class="me-1 lh-1">
                                                    <span class="avatar avatar-md offline me-2 avatar-rounded">
                                                        <img src="{{template}}/assets/images/faces/21.jpg" alt="img">
                                                    </span>
                                    </div>
                                    <div class="flex-fill">
                                        <p class="mb-0 fw-semibold">
                                            Apartment Group <span
                                                class="float-end text-muted fw-normal fs-11">12 days
                                                            ago</span>
                                        </p>
                                        <p class="fs-12 mb-0">
                                                        <span
                                                                class="chat-msg text-truncate">Subman,Rajen,Kairo,Dibasha,Alexa</span>
                                            <span class="chat-read-icon float-end align-middle"><i
                                                    class="ri-check-double-fill"></i></span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="list-unstyled mb-0 mt-2 ">
                        <li class="pb-0">
                            <p class="text-muted fs-11 fw-semibold mb-1 op-7">MY CHAT GROUPS</p>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="mb-0">1) Family Together</p>
                                    <p class="mb-0"><span class="badge bg-success-transparent">4
                                                        Online</span></p>
                                </div>
                                <div class="avatar-list-stacked my-auto">
                                                <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/2.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/8.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/2.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/10.jpg" alt="img">
                                                </span>
                                    <a class="avatar avatar-sm bg-primary text-fixed-white avatar-rounded fs-10"
                                       href="javascript:void(0);">
                                        +19
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="mb-0">2) Work Buddies </p>
                                    <p class="mb-0"><span class="badge bg-secondary-transparent">32
                                                        Online</span></p>
                                </div>
                                <div class="avatar-list-stacked my-auto">
                                                <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/1.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/7.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/3.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/9.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/12.jpg" alt="img">
                                                </span>
                                    <a class="avatar avatar-sm bg-primary text-fixed-white avatar-rounded fs-10"
                                       href="javascript:void(0);">
                                        +12
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="mb-0">3) Friends Forever</p>
                                    <p class="mb-0"><span class="badge bg-warning-transparent">3
                                                        Online</span></p>
                                </div>
                                <div class="avatar-list-stacked my-auto">
                                                <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/4.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/8.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/13.jpg" alt="img">
                                                </span>
                                    <a class="avatar avatar-sm bg-primary text-fixed-white avatar-rounded fs-10"
                                       href="javascript:void(0);">
                                        +15
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="mb-0">4) Social Media Deals</p>
                                    <p class="mb-0"><span class="badge bg-danger-transparent">5
                                                        Online</span></p>
                                </div>
                                <div class="avatar-list-stacked my-auto">
                                                <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/1.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/7.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/14.jpg" alt="img">
                                                </span>
                                    <a class="avatar avatar-sm bg-primary text-fixed-white avatar-rounded fs-10"
                                       href="javascript:void(0);">
                                        +28
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="mb-0">4) Apartment Group</p>
                                    <p class="mb-0"><span class="badge bg-light text-dark">0 Online</span>
                                    </p>
                                </div>
                                <div class="avatar-list-stacked my-auto">
                                                <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/5.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/6.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/12.jpg" alt="img">
                                                </span>
                                    <span class="avatar avatar-sm avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/3.jpg" alt="img">
                                                </span>
                                    <a class="avatar avatar-sm bg-primary text-fixed-white avatar-rounded fs-10"
                                       href="javascript:void(0);">
                                        +53
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade border-0 chat-calls-tab" id="calls-tab-pane" role="tabpanel"
                     aria-labelledby="calls-tab" tabindex="0">
                    <ul class="list-unstyled mb-0 mt-2 chat-calls-tab">
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-1 lh-1">
                                                <span class="avatar avatar-md online me-2 avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/5.jpg" alt="img">
                                                </span>
                                </div>
                                <div class="flex-fill my-auto">
                                    <p class="mb-0 fw-semibold">
                                        Sujika
                                        <span class="ms-1 incoming-call-success"><i
                                                class="ti ti-arrow-down-left"></i></span>
                                    </p>
                                    <p class="fs-12 mb-0">
                                        <span class="text-muted text-truncate">Today,12:47PM</span>
                                    </p>
                                </div>
                                <div class="">
                                    <button aria-label="button" type="button"
                                            class="btn btn-sm btn-icon btn-success-light">
                                        <i class="ti ti-phone"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-1 lh-1">
                                                <span class="avatar avatar-md online me-2 avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/7.jpg" alt="img">
                                                </span>
                                </div>
                                <div class="flex-fill my-auto">
                                    <p class="mb-0 fw-semibold">
                                        Melissa
                                        <span class="ms-1 outgoing-call-failed"><i
                                                class="ti ti-arrow-up-right"></i></span>
                                    </p>
                                    <p class="fs-12 mb-0">
                                        <span class="text-muted text-truncate">Today,10:27AM</span>
                                    </p>
                                </div>
                                <div class="">
                                    <button aria-label="button" type="button"
                                            class="btn btn-sm btn-icon btn-danger-light">
                                        <i class="ti ti-phone"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-1 lh-1">
                                                <span class="avatar avatar-md offline me-2 avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/21.jpg" alt="img">
                                                </span>
                                </div>
                                <div class="flex-fill my-auto">
                                    <p class="mb-0 fw-semibold">
                                        Sharukh Sam
                                        <span class="ms-1 outgoing-call-success"><i
                                                class="ti ti-arrow-up-right"></i></span>
                                    </p>
                                    <p class="fs-12 mb-0">
                                        <span class="text-muted text-truncate">Yesterday,12:45PM</span>
                                    </p>
                                </div>
                                <div class="">
                                    <button aria-label="button" type="button"
                                            class="btn btn-sm btn-icon btn-success-light">
                                        <i class="ti ti-video"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-1 lh-1">
                                                <span class="avatar avatar-md offline me-2 avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/15.jpg" alt="img">
                                                </span>
                                </div>
                                <div class="flex-fill my-auto">
                                    <p class="mb-0 fw-semibold">
                                        Kiram Kumal
                                        <span class="ms-1 incoming-call-success"><i
                                                class="ti ti-arrow-down-left"></i></span>
                                    </p>
                                    <p class="fs-12 mb-0">
                                        <span class="text-muted text-truncate">3 Days ago</span>
                                    </p>
                                </div>
                                <div class="">
                                    <button aria-label="button" type="button"
                                            class="btn btn-sm btn-icon btn-success-light">
                                        <i class="ti ti-phone"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-1 lh-1">
                                                <span class="avatar avatar-md offline me-2 avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/4.jpg" alt="img">
                                                </span>
                                </div>
                                <div class="flex-fill my-auto">
                                    <p class="mb-0 fw-semibold">
                                        Amanda Sams
                                        <span class="ms-1 incoming-call-success"><i
                                                class="ti ti-arrow-down-left"></i></span>
                                    </p>
                                    <p class="fs-12 mb-0">
                                        <span class="text-muted text-truncate">22, Oct 2022</span>
                                    </p>
                                </div>
                                <div class="">
                                    <button aria-label="button" type="button"
                                            class="btn btn-sm btn-icon btn-success-light">
                                        <i class="ti ti-video"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-1 lh-1">
                                                <span class="avatar avatar-md offline me-2 avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/16.jpg" alt="img">
                                                </span>
                                </div>
                                <div class="flex-fill my-auto">
                                    <p class="mb-0 fw-semibold">
                                        Azimo Peter
                                        <span class="ms-1 incoming-call-failed"><i
                                                class="ti ti-arrow-up-right"></i></span>
                                    </p>
                                    <p class="fs-12 mb-0">
                                        <span class="text-muted text-truncate">24, Oct 2022</span>
                                    </p>
                                </div>
                                <div class="">
                                    <button aria-label="button" type="button"
                                            class="btn btn-sm btn-icon btn-danger-light">
                                        <i class="ti ti-phone"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-1 lh-1">
                                                <span class="avatar avatar-md offline me-2 avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/8.jpg" alt="img">
                                                </span>
                                </div>
                                <div class="flex-fill my-auto">
                                    <p class="mb-0 fw-semibold">
                                        Sierra Adams
                                        <span class="ms-1 incoming-call-success"><i
                                                class="ti ti-arrow-down-left"></i></span>
                                    </p>
                                    <p class="fs-12 mb-0">
                                        <span class="text-muted text-truncate">22, Oct 2022</span>
                                    </p>
                                </div>
                                <div class="">
                                    <button aria-label="button" type="button"
                                            class="btn btn-sm btn-icon btn-success-light">
                                        <i class="ti ti-phone"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-1 lh-1">
                                                <span class="avatar avatar-md online me-2 avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/3.jpg" alt="img">
                                                </span>
                                </div>
                                <div class="flex-fill my-auto">
                                    <p class="mb-0 fw-semibold">
                                        Dimple Kanns
                                        <span class="ms-1 incoming-call-success"><i
                                                class="ti ti-arrow-down-left"></i></span>
                                    </p>
                                    <p class="fs-12 mb-0">
                                        <span class="text-muted text-truncate">13, Oct 2022</span>
                                    </p>
                                </div>
                                <div class="">
                                    <button aria-label="button" type="button"
                                            class="btn btn-sm btn-icon btn-success-light">
                                        <i class="ti ti-video"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-1 lh-1">
                                                <span class="avatar avatar-md online me-2 avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/9.jpg" alt="img">
                                                </span>
                                </div>
                                <div class="flex-fill my-auto">
                                    <p class="mb-0 fw-semibold">
                                        Adrea Jaremiah
                                        <span class="ms-1 outgoing-call-failed"><i
                                                class="ti ti-arrow-up-right"></i></span>
                                    </p>
                                    <p class="fs-12 mb-0">
                                        <span class="text-muted text-truncate">13, Sep 2022</span>
                                    </p>
                                </div>
                                <div class="">
                                    <button aria-label="button" type="button"
                                            class="btn btn-sm btn-icon btn-danger-light">
                                        <i class="ti ti-phone"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-1 lh-1">
                                                <span class="avatar avatar-md offline me-2 avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/21.jpg" alt="img">
                                                </span>
                                </div>
                                <div class="flex-fill my-auto">
                                    <p class="mb-0 fw-semibold">
                                        Anjaneliyu
                                        <span class="ms-1 outgoing-call-success"><i
                                                class="ti ti-arrow-up-right"></i></span>
                                    </p>
                                    <p class="fs-12 mb-0">
                                        <span class="text-muted text-truncate">10, July 2022</span>
                                    </p>
                                </div>
                                <div class="">
                                    <button aria-label="button" type="button"
                                            class="btn btn-sm btn-icon btn-success-light">
                                        <i class="ti ti-phone"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="me-1 lh-1">
                                                <span class="avatar avatar-md offline me-2 avatar-rounded">
                                                    <img src="{{template}}/assets/images/faces/14.jpg" alt="img">
                                                </span>
                                </div>
                                <div class="flex-fill my-auto">
                                    <p class="mb-0 fw-semibold">
                                        Jason Steph
                                        <span class="ms-1 incoming-call-success"><i
                                                class="ti ti-arrow-down-left"></i></span>
                                    </p>
                                    <p class="fs-12 mb-0">
                                        <span class="text-muted text-truncate">1, Apr 2022</span>
                                    </p>
                                </div>
                                <div class="">
                                    <button aria-label="button" type="button"
                                            class="btn btn-sm btn-icon btn-success-light">
                                        <i class="ti ti-phone"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="main-chat-area border">
            <div class="d-flex align-items-center p-3 border-bottom">
                <div class="me-2 lh-1">
                                <span class="avatar avatar-lg online me-2 avatar-rounded chatstatusperson">
                                    <img class="chatimageperson" src="{{getUser((messages|last).getUserId()).getAvatar()}}" alt="img">
                                </span>
                </div>
                <div class="flex-fill">
                    <a href="javascript:void(0);" class="chatnameperson responsive-userinfo-open"
                       data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">  {{getUser((messages|first).getUserId()).getName()}} </a>
                    <p class="text-muted mb-0 chatpersonstatus">online</p>
                </div>
                <div class="d-flex">
                    <button aria-label="button" type="button" class="btn btn-icon btn-light ms-2 d-none d-sm-block">
                        <i class="bx bx-phone"></i>
                    </button>
                    <button aria-label="button" type="button" class="btn btn-icon btn-light ms-2 d-none d-sm-block">
                        <i class="bx bx-video"></i>
                    </button>
                    <button aria-label="button" type="button"
                            class="btn btn-icon btn-light ms-2 responsive-userinfo-open" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <i class="bx bx-user-circle" id="responsive-chat-close"></i>
                    </button>
                    <div class="dropdown ms-2">
                        <button aria-label="button" type="button" class="btn btn-icon btn-light btn-wave waves-light"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">Profile</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Clear Chat</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Delete User</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Block User</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Report</a></li>
                        </ul>
                    </div>
                    <button aria-label="button" type="button"
                            class="btn btn-icon btn-outline-light ms-2 responsive-chat-close">
                        <i class="ri-close-line"></i>
                    </button>
                </div>
            </div>
            <div class="chat-content" id="main-chat-content">
                <ul class="list-unstyled">
                    <li class="chat-day-label">
                        <span>{{(messages|first).getDate()|date("H:m d.m.Y")}}</span>
                    </li>
                    {% for message in messages %}
                    {% set isMyMessage = message.getUserId() == getUser().getId() ? true : false %}
                     <li class="{% if isMyMessage%}chat-item-end{%else%}chat-item-start{%endif%}">
                        <div class="chat-list-inner">
                            {% if isMyMessage %}
                                {{ block('ticket_chat_content') }}
                                {{ block('ticket_chat_user_profile') }}
                            {% else %}
                                {{ block('ticket_chat_user_profile') }}
                                {{ block('ticket_chat_content') }}
                            {% endif %}
                        </div>
                    </li>
                    {% set last_message_time = message.getDate %}
                    {% set last_user_message_write = message.getUserId() %}
                    {% endfor %}
                </ul>
            </div>
            <div class="chat-footer">
                <div class="input-group">
                    <textarea {% if getUser().isAuth() == false %}disabled{% endif %} id="messageTicket" class="form-control textarea" rows="1" style="resize: none;" placeholder="Type your message here..."></textarea>
                    <button {% if getUser().isAuth() == false %}disabled{% endif %} id="sendMessageToTicket" class="btn btn-primary" type="button">Отправить</button>
                </div>
            </div>

        </div>
        <div class="col-xl-2">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">
                        Отправить изображение
                    </div>
                </div>
                <div class="card-body">
                    {% if getUser().isAuth() %}
                    <div data-single="true" action="https://httpbin.org/post" class="dropzone"></div>
                    {% else %}
                    <div class="alert alert-danger" role="alert">
                        Функция недоступна только для авторизированных пользователей.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block ticket_chat_user_profile %}
<div class="chat-user-profile">
    <span class="avatar avatar-md online avatar-rounded chatstatusperson">
        <img class="chatimageperson" src="{{getUser(message.getUserId()).getAvatar()}}"
             alt="img">
    </span>
</div>
{% endblock ticket_chat_user_profile %}

{% block ticket_chat_content %}
<div class="ms-3">
    <span class="chatting-user-info d-inline-flex align-items-center">
        {% if isMyMessage %}
        <span class="msg-sent-time"> {{message.getDate()|date("H:m")}}</span>
        <span class="chatnameperson">{{getUser(message.getUserId()).getName()}} </span>
        {% else %}
        <span class="chatnameperson">{{getUser(message.getUserId()).getName()}} </span>
        <span class="msg-sent-time"> {{message.getDate()|date("H:m")}}</span>
        {% endif %}
    </span>
    <div class="main-chat-msg">
        {% for message in message.getMessage() %}
        <div>
            <p class="mb-0">{{message}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock ticket_chat_content %}



{% block css %}
<link rel="stylesheet" href="{{template}}/assets/libs/dropzone/dropzone.css">
{% endblock %}


{% block js %}

 <!-- Dropzone JS -->
<script src="{{template}}/assets/libs/dropzone/dropzone-min.js"></script>

<!-- Fileupload JS -->
<script src="{{template}}/assets/js/fileupload.js"></script>

<script src="{{template}}/assets/js/chat.js"></script>

{% if getUser().isAuth() %}
<script>
    $('#messageTicket').keydown(function(event) {
        if (event.ctrlKey && event.keyCode === 13) {
            sendMessage();
        }
    });
    $(document).on("click", '#sendMessageToTicket', function (){
        sendMessage()
    });
    function sendMessage(){
        let message = $("#messageTicket").val().trim()
        AjaxSend("/ticket/message", "POST", {
            ticketId: {{ticketId ?? 0}},
            userId: {{ getUser().getId() }},
            message: message,
        }, true).then(function(response) {
                addToMessageChat(message)
                $("#messageTicket").val('');
                chatToDown()
                console.log(response)
            }).catch(function(error) {
                console.error('Произошла ошибка:', error);
            });
    }
    function addToMessageChat(txt){
        $(".main-chat-msg").append("<div>" + txt + "</div>")
    }
    function chatToDown(){
        var lastMessage = document.querySelector('#main-chat-content div:last-child');
        if(lastMessage) {
            lastMessage.scrollIntoView({ behavior: 'smooth', block: 'end' });
        }
    }

</script>
{% endif %}

{% endblock %}