{% extends 'struct.html' %}

{% block title %}{{ phrase('menu_statistics') }}{% endblock %}

{% block content %}

<div class="container-fluid">

    {% if statusSphereServer() is same as(false) %}
        <div class="alert alert-danger" role="alert">
            <strong>Ошибка!</strong> Сервер Sphere недоступен.
        </div>
    {% else %}

    <div class="row">
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        {{phrase('top_pvp')}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm text-nowrap table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">{{phrase('player')}}</th>
                                <th scope="col">PvP</th>
                                <th scope="col">PK</th>
                                <th scope="col">{{phrase(94)}}</th>
                                <th scope="col">{{phrase(109)}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i, player in statistic_get_pvp(0, 10) %}
                            <tr>
                                <th scope="row" style="width: 1px;">{{i+1}}</th>
                                <th>
                                    <div class="d-flex align-items-center">
                                       <span class="avatar avatar-sm me-2 {% if player.online %}online{% else %}offline{% endif %} avatar-rounded">
                                        <img src="{{ template('/assets/images/race/' ~ sex(player.sex) ~ '/' ~ get_class_race(player.class_id)) ~ '.jpg' }}" alt="img">
                                       </span>{{player.player_name}}
                                        <span class="badge bg-light text-dark">{{ player.level }}</span>
                                    </div>
                                </th>
                                <td><span class="badge bg-success-transparent">{{player.pvp}}</span></td>
                                <td><span class="badge bg-danger-transparent">{{player.pk}}</span></td>
                                <td>{{clan_icon(player)|raw}} {{player.clan_name}}</td>
                                <td>{{get_class(player['class_id'])}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        {{phrase('top_pk')}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm text-nowrap table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">{{phrase('player')}}</th>
                                <th scope="col">PvP</th>
                                <th scope="col">PK</th>
                                <th scope="col">{{phrase(94)}}</th>
                                <th scope="col">{{phrase(109)}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i, player in statistic_get_pk(0, 10) %}
                            <tr>
                                <th scope="row" style="width: 1px;">{{i+1}}</th>
                                <th>
                                    <div class="d-flex align-items-center">
                                       <span class="avatar avatar-sm me-2 {% if player.online %}online{% else %}offline{% endif %} avatar-rounded">
                                        <img src="{{ template('/assets/images/race/' ~ sex(player.sex) ~ '/' ~ get_class_race(player.class_id)) ~ '.jpg' }}" alt="img">
                                       </span>{{player.player_name}}
                                        <span class="badge bg-light text-dark">{{ player.level }}</span>
                                    </div>
                                </th>
                                <td><span class="badge bg-success-transparent">{{player.pvp}}</span></td>
                                <td><span class="badge bg-danger-transparent">{{player.pk}}</span></td>
                                <td>{{clan_icon(player)|raw}} {{player.clan_name}}</td>
                                <td>{{get_class(player['class_id'])}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        {{phrase('top_online')}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm text-nowrap table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">{{phrase('player')}}</th>
                                <th scope="col">{{phrase(52)}}</th>
                                <th scope="col">{{phrase(94)}}</th>
                                <th scope="col">{{phrase(109)}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i, player in statistic_players_online_time(0, 10) %}
                            <tr>
                                <th scope="row" style="width: 1px;">{{i+1}}</th>
                                <th>
                                    <div class="d-flex align-items-center">
                                       <span style="width: 20px;height: 19px" class="avatar me-2 {% if player.online %}online{% else %}offline{% endif %} avatar-rounded ">
                                        <img src="{{ template('/assets/images/race/' ~ sex(player.sex) ~ '/' ~ get_class_race(player.class_id)) ~ '.jpg' }}" alt="img">
                                       </span>
                                        {{player.player_name}}
                                        <span class="badge bg-light text-dark">{{ player.level }}</span>
                                    </div>
                                </th>
                                <td>{{ timeHasPassed(player.time_in_game, true) }}</td>
                                <td>{{clan_icon(player)|raw}} {{player.clan_name}}</td>
                                <td>{{get_class(player.class_id)}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                         {{phrase(126)}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm text-nowrap table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">{{phrase(94)}}</th>
                                <th scope="col">{{phrase(102)}}</th>
                                <th scope="col">{{phrase('allies')}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i, clan in statistic_get_clans(0, 10) %}
                            <tr>
                                <th scope="row">{{i+1}}</th>
                                <td>{{clan_icon(clan)|raw}} {{clan.clan_name}} <span class="badge bg-light text-dark">{{ clan.clan_level }}</span> </td>
                                <td><span class="badge bg-danger-transparent">{{ format_number_fr(clan.reputation_score) }}</span></td>
                                <td>{{ clan.clan_count_members }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        {{phrase(50)}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm text-nowrap table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">{{phrase(105)}}</th>
                                <th scope="col">{{phrase(94)}}</th>
                                <th scope="col">{{phrase(101)}}</th>
                                <th scope="col">{{phrase(106)}}</th>
                                <th scope="col">{{phrase(107)}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i, castle in statistic_get_castle() %}
                            <tr>
                                <th scope="row">{{ get_castle(castle.castle_id) }}</th>
                                <td>{{clan_icon(castle.clan_crest)|raw}} {{castle.clan_name}} <span class="badge bg-light text-dark">{{ castle.clan_level }}</span> </td>
                                <td>{{ castle.player_name }}</td>
                                <td>{{ castle.tax??0 }}%</td>
                                <td>{{ unitToDate(castle.siege_date) }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{template}}/assets/libs/choices.js/public/assets/styles/choices.min.css">

<!-- Prism CSS -->
<link rel="stylesheet" href="{{template}}/assets/libs/prismjs/themes/prism-coy.min.css">

{% endblock %}

{% block js %}

<!-- Custom-Switcher JS -->
<!-- Color Picker JS -->
<script src="{{template}}/assets/libs/@simonwep/pickr/pickr.es5.min.js"></script>

<!-- Prism JS -->
<script src="{{template}}/assets/libs/prismjs/prism.js"></script>
<script src="{{template}}/assets/js/prism-custom.js"></script>


<!-- Apex Charts JS -->
<script src="{{template}}/assets/libs/apexcharts/apexcharts.min.js"></script>


{% endblock %}
