
<script src="{{template}}/assets/libs/@popperjs/core/umd/popper.min.js"></script>

<script src="{{template}}/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="{{template}}/assets/js/defaultmenu.min.js?v=1.0"></script>

<script src="{{template}}/assets/libs/node-waves/waves.min.js"></script>

<!-- Simplebar JS -->
<script src="{{template}}/assets/libs/simplebar/simplebar.min.js"></script>

<script src="{{template}}/assets/js/simplebar.js"></script>


<script src="{{template}}/assets/js/cart.js"></script>

<script src="{{template}}/assets/js/Toasts.js"></script>


<script src="{{template}}/assets/js/general.js?v=1.0.2"></script>

