<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="{{template}}/assets/libs/@popperjs/core/umd/popper.min.js"></script>

<script src="{{template}}/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="{{template}}/assets/js/defaultmenu.min.js"></script>

<script src="{{template}}/assets/libs/node-waves/waves.min.js"></script>

<script src="{{template}}/assets/libs/@simonwep/pickr/pickr.es5.min.js"></script>

<script src="{{template}}/assets/js/cart.js"></script>

<script src="{{template}}/assets/js/Toasts.js"></script>

<script src="{{template}}/assets/js/general.js"></script>

