{% extends 'struct.html' %}

{% block title %}{{ phrase('balance_topup') }}{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="card custom-card">
    <div class="card-body">
      <h6 class="card-title fw-semibold mb-2">Это полезно знать</h6>
      <p class="card-subtitle mb-3 text-muted">Стоимость SphereWeb CMS - <span class="text-success ">12.50$</span> в
        месяц.</p>
      <p class="card-text">
        От разработчика: Оплата не обязательная, Вы предоставляете финансовую помощь в развитии проекта на любую сумму,
        и я буду очень благодарен так как я один выполняю такой огромный пласт работы. Если у Вас не будет средств на
        балансе, SphereWeb продолжит работать, однако для минимилизации нагрузки на сервера будут введены ограничения,
        до тех пор пока Ваш баланс положительный, у Вас не будет ограничений.
        <br>
        Сумма на балансе уменьшается каждый час, пока Ваш баланс положительный, и за месяц эта сумма будет $12.5.<br>
        Если Вы подключили дополнительные модули, к примеру «Рулетка (Wheel)», стоит 8$, эта сумма так же будет
        распределена на месяц и ежечастно отниматься, в результате сумма за месяц составит 8$.
      </p>
    </div>

  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">
            Пополнение баланса
          </div>
        </div>
        <div class="card-body">
          <ul class="nav nav-pills justify-content-center nav-style-2 mb-3" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" data-bs-toggle="tab" role="tab" aria-current="page" href="#home-center"
                 aria-selected="true">FreeKassa</a>
            </li>

          </ul>
          <div class="tab-content">
            <div class="tab-pane text-muted active show" id="home-center" role="tabpanel">

              <div class="card-body">

                <div class="mb-3">
                  <label for="freekassa_amount" class="form-label fs-14 text-dark">Введите сумму пополнения</label>
                  <input type="number" min="5" class="form-control" id="freekassa_amount" placeholder="" value="5">
                </div>

                <button data-name="freekassa" class="btn btn-primary donateSphereWeb" type="submit">Перейти к оплате
                </button>
              </div>
              <script>
                $(document).on("click", ".donateSphereWeb", function () {
                  let systemPayName = $(this).data('name');
                  let amount = -1;
                  if (systemPayName === 'freekassa') {
                    amount = $('#freekassa_amount').val();
                  }
                  AjaxSend("/admin/balance/pay/invoice", "POST", {
                    systemPayName,
                    amount
                  }, true).then(function (response) {

                    if(response.type!=="notice"){
                      return false;
                    }

                    if(response.ok){
                      noticeSuccess(response.message)
                    }else {
                      noticeError(response.message)
                    }

                    if (response.redirect !== undefined) {
                      setTimeout(function() {
                        if (response.redirect === "refresh") {
                          window.location.reload();
                        } else {
                          window.open(response.redirect, '_blank'); // Открыть в новой вкладке
                        }
                      }, 1000);
                    }


                  });
                });
              </script>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}


{% block css %}

{% endblock %}


{% block js %}
<script>
  $(document).on("click", "#pay", function () {
    AjaxSend("/admin/balance/pay/invoice", "POST", {
      amount: $("#amount").val()
    }, true).then(function (response) {
      responseAnalysis(response);
      console.log(response)
    })
  })
</script>

{% endblock %}