{% extends 'struct.html' %}

{% block title %}Услуги Sphere Web{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    <div class="col-xl-3">
      <div class="card custom-card  text-fixed-white">
        <div class="card-body p-0">
          <div class="d-flex align-items-top p-4 flex-wrap">
            <div class="me-3 lh-1">
                                        <span class="avatar avatar-md avatar-rounded bg-white text-primary shadow-sm">
                                            <i class="ti ti-coin fs-18"></i>
                                        </span>
            </div>
            <div class="flex-fill">
              <a href="/admin/balance/pay"><h5 class="fw-semibold mb-1 text-danger">Пополнение</h5></a>
              <p class="op-7 mb-0 fs-12">Повысить баланс</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-9">
      <div class="card custom-card">
        <div class="card-body p-0">
          <div class="row">

            <div class="col-xl-4 border-end border-inline-end-dashed">
              <div class="d-flex flex-wrap align-items-top p-4">
                <div class="me-3 lh-1">
                                                <span class="avatar avatar-md avatar-rounded bg-primary shadow-sm">
                                                    <i class="ti ti-currency-dollar fs-18"></i>
                                                </span>
                </div>
                <div class="flex-fill">
                  <h5 class="fw-semibold mb-1 sphereBalance">${{balance}}</h5>
                  <p class="text-muted mb-0 fs-12">На счёту</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 border-end border-inline-end-dashed">
              <div class="d-flex flex-wrap align-items-top p-4">
                <div class="me-3 lh-1">
                                                <span class="avatar avatar-md avatar-rounded bg-secondary shadow-sm">
                                                    <i class="ti ti-rocket fs-18"></i>
                                                </span>
                </div>
                <div class="flex-fill">
                  <h5 class="fw-semibold mb-1">Лаунчер</h5>
                  {% if launcher.isActive %}
                  <p class="text-muted mb-0 fs-12">Активирован до <span class="launcherDate">{{launcher.dateTimeout|date('d.m.Y H:s')}}</span>
                  </p>
                  {% else %}
                  <p class="text-muted mb-0 fs-12">Не активирован</p>
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>



  <!-- Start::row-1 -->
  <div class="row">


    <div class="col-xl-4">
      <div class="card custom-card">
        <div class="card-header justify-content-between">
          <div class="d-flex align-items-center w-100">
            <div class="card-title">
              <div class="fs-15 fw-semibold">SphereWeb</div>
            </div>
            <div class="ms-auto prism-toggle">
              <span class="text-{% if info.licenseActive %}success{% else %}danger{% endif %}">
                {% if info.licenseActive == false %}<i class="bi bi-x-circle"></i> {% endif %}
                {{info.License|date('d.m.Y H:s')}}
              </span>
            </div>
          </div>
        </div>
        <div class="card-body">
          Вы можете помочь оказать благодарность и поддержку разработчику за SphereWeb, просто пополните себе баланс.

          <div class="col-xl-12 mt-2">
            <label for="renewmonths" class="form-label">На сколько месяцев продлить SphereWeb</label>
            <select class="form-control" name="renewmonths" id="renewmonths">
              <option value="1">1 месяц - $12.5</option>
              <option value="2">2 месяца - $24</option>
              <option value="3">3 месяца - $35</option>
              <option value="6">6 месяцев - $70</option>
              <option value="12">12 месяцев - $140</option>
            </select>
          </div>

        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <button class="btn btn-success label-btn label-end" id="renewLicense">
               Продлить использование
              <i class="ri-thumb-up-line label-btn-icon ms-2"></i>
            </button>
            <script>
              $("#renewLicense").on("click", function () {
                  AjaxSend("/admin/balance/pay/renewlicense", "POST", {
                    months: $("#renewmonths").val()
                  }, false);
              });
            </script>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card custom-card">
      <div class="card-header justify-content-between">
        <div class="d-flex align-items-center w-100">
          <div class="card-title">
            <div class="fs-15 fw-semibold">Sphere Launcher</div>
          </div>
          <div class="ms-auto prism-toggle">
            {% if launcher.isActive %}
             <span class="text-success">{{launcher.dateTimeout|date('d.m.Y H:s')}}</span>
            {% else %}
              <span class="text-danger">Не активен</span>
            {% endif %}
          </div>
        </div>
      </div>
        <div class="card-body">

              <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseWidthExample" aria-expanded="false"
                      aria-controls="collapseWidthExample">
                Описание Sphere Launcher
              </button>
              <div class="collapse collapse-horizontal" id="collapseWidthExample">
                  <div class="fs-14 text-muted">
                    Sphere Launcher — это лучшее и передовое решение для загрузки файлов. Launcher предоставляет
                    пользователям уникальную возможность загружать множество файлов одновременно, что значительно
                    экономит время и повышает производительность.
                    <br>
                    Основные преимущества:<br>
                    <br>
                    Высокая скорость и производительность: Лаунчер разработан с учётом всех лучших практик Go, что
                    обеспечивает молниеносную обработку данных и оптимальную работу даже с большим количеством
                    файлов.<br>
                    Одновременная загрузка: Благодаря параллельной обработке задач, лаунчер может загружать множество
                    файлов одновременно, что делает его незаменимым инструментом для пользователей, работающих с большим
                    объёмом данных.<br>
                    Безопасность и надёжность: Встроенные механизмы языка Go гарантируют защиту данных и стабильность
                    работы лаунчера, минимизируя вероятность ошибок и сбоев.<br>
                    Масштабируемость: Лаунчер легко адаптируется под любые задачи, будь то загрузка небольших файлов или
                    работа с большими объемами данных, обеспечивая стабильную производительность в любой ситуации.<br>
                    Простота использования: Лаконичный и понятный интерфейс делает работу с лаунчером доступной даже для
                    начинающих пользователей, а встроенные функции облегчают настройку и управление загрузками.<br>
                    Кэширование повторно загружаемых файлов пользователем.
                    <br>
                    Попробуйте наш лаунчер и ощутите все преимущества быстрого и надёжного инструмента, созданного на
                    основе самых современных технологий!<br>

                  </div>
                </div>

            <ul class="list-unstyled order-details-list">

              <li>
                <div class="fs-14 text-muted">
                  <a href="/admin/launcher">Перейти настройки лаунчеров</a>
                </div>
              </li>

            </ul>

              <span class="my-auto  text-muted fw-semibold">
                                            <select class="form-control " name="launcherMonth" id="launcherMonth">
                                                  <option value="1">1 мес./ $5 </option>
                                                  <option value="2">2 мес./ $9 </option>
                                                  <option value="3">3 мес./ $13 </option>
                                                  <option value="6">6 мес./ $25 </option>
                                                  <option value="12">12 мес./ 45$</option>
                                              </select>
                                        </span>

        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <button type="button" id="updateTime" class="btn btn-success ms-2 ">Продлить Лаунчер</button>
          </div>
        </div>
        <div id="successPayLauncher"></div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card custom-card">
      <div class="card-header justify-content-between">
        <div class="d-flex align-items-center w-100">
          <div class="card-title">
            <div class="fs-15 fw-semibold">Рулетка</div>
          </div>
          <div class="ms-auto prism-toggle">
            {% if info.rouletteActive %}
              <span class="text-success">{{roulette|date('d.m.Y H:s')}}</span>
            {% else %}
              <span class="text-danger">Не активен</span>
            {% endif %}
          </div>
        </div>
      </div>
        <div class="card-body">
          Возможность пользователям крутить рулетку за Донат Коины и выиграть 1 из 20 предметов.

          <div class="col-xl-12 mt-2">
            <label for="rouletteMonths" class="form-label">На сколько месяцев продлить SphereWeb</label>
            <select class="form-control" name="rouletteMonths" id="rouletteMonths">
                <option value="1">1 мес./ $5 </option>
                <option value="2">2 мес./ $9 </option>
                <option value="3">3 мес./ $13 </option>
                <option value="6">6 мес./ $25 </option>
                <option value="12">12 мес./ $45 </option>
            </select>
          </div>


        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <button class="btn btn-success label-btn label-end" id="clickRouletteMonths">
              Продлить использование
              <i class="ri-thumb-up-line label-btn-icon ms-2"></i>
            </button>
            <script>
              $("#clickRouletteMonths").on("click", function () {
                AjaxSend("/admin/balance/pay/roulette", "POST", {
                  months: $("#rouletteMonths").val()
                }, false);
              });
            </script>
          </div>
        </div>
      </div>
      </div>
    </div>



</div>

{% endblock %}


{% block css %}

{% endblock %}


{% block js %}


<script>
  $(document).ready(function () {
    // Функция для пересчета суммы
    function calculateTotal() {
      let total = 0;
      $(".price:checked").each(function () {
        total += parseFloat($(this).data('cost'));
      });
      $(".total-cost").text("$" + total.toFixed(2));
    }

    // Запретить снятие галочки с #spherePrice
    $("#spherePrice").on("click", function (e) {
      if (!$(this).prop("checked")) {
        e.preventDefault();
      }
    });

    // Пересчитывать сумму при изменении состояния чекбоксов
    $(".price").on("change", function () {
      calculateTotal();
    });

    // Инициализация подсчета суммы при загрузке страницы
    calculateTotal();
  });
</script>


<script>

  $("#updateTime").on("click", function () {
    $('#updateTime').prop('disabled', true);
    AjaxSend("/admin/launcher/update/time", "POST", {
      month: $("#launcherMonth").val()
    }, true).then(function (response) {
      $('#updateTime').prop('disabled', false);
      responseAnalysis(response);
      if (response.date) {
        $(".sphereBalance").text("$" + response.balance)
        $(".launcherDate").text(response.date)
        $("#successPayLauncher").html("                        <div class=\"alert alert-success d-flex align-items-center rounded-0 shadow-none\" role=\"alert\">\n" +
          "                            <svg class=\"flex-shrink-0 me-2 svg-success\" xmlns=\"http://www.w3.org/2000/svg\" height=\"1.5rem\" viewBox=\"0 0 24 24\" width=\"1.5rem\" fill=\"#000000\"><path d=\"M0 0h24v24H0V0zm0 0h24v24H0V0z\" fill=\"none\"></path><path d=\"M16.59 7.58L10 14.17l-3.59-3.58L5 12l5 5 8-8zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z\"></path></svg>\n" +
          "                            <div>\n" +
          "                                <strong>Вы успешно пополнили использование лаунчера до " + response.date + " \n" +
          "                            </div>\n" +
          "                        </div>")
      }
    })
  })

</script>

<script>
  (function () {
    'use strict';

    var termsScroll = document.getElementById('terms-scroll');
    new SimpleBar(termsScroll, {autoHide: true});

    new Choices('#renewmonths', {
      allowHTML: true,
      searchEnabled: false,
      removeItemButton: false,
      choices: [],
    });

    var launcherMonth = new Choices('#launcherMonth', {
      allowHTML: true,
      searchEnabled: false,
      removeItemButton: false,
      choices: [],
    });

    new Choices('#clickRouletteMonths', {
      allowHTML: true,
      searchEnabled: false,
      removeItemButton: false,
      choices: [],
    });

  })()
</script>
{% endblock %}