{% extends 'struct.html' %}

{% block title %}{{ phrase('balance_topup') }}{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">
    <div class="col-xl-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">
            {{ phrase('balance_topup') }}
          </div>
        </div>
        <div class="card-body">
          <ul class="nav nav-pills justify-content-center nav-style-2 mb-3" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" data-bs-toggle="tab" role="tab" aria-current="page" href="#home-center"
                 aria-selected="true">FreeKassa</a>
            </li>

            <li class="nav-item" role="presentation">
              <a class="nav-link " data-bs-toggle="tab" role="tab" aria-current="page" href="#monobank"
                 aria-selected="true">Monobank</a>
            </li>

            <li class="nav-item" role="presentation">
              <a class="nav-link " data-bs-toggle="tab" role="tab" aria-current="page" href="#usdt"
                 aria-selected="true">USDT</a>
            </li>

          </ul>
          <div class="tab-content">

            <div class="tab-pane text-muted active show" id="home-center" role="tabpanel">

              <div class="card-body">

                <div class="mb-3">
                  <label for="freekassa_amount" class="form-label fs-14 text-dark">{{ phrase('Enter the top-up amount') }}</label>
                  <input type="number" min="5" class="form-control" id="freekassa_amount" placeholder="" value="5">
                </div>

                <button data-name="freekassa" class="btn btn-primary donateSphereWeb" type="submit">{{ phrase('Proceed to payment') }}
                </button>
              </div>
              <script>
                $(document).on("click", ".donateSphereWeb", function () {
                  let systemPayName = $(this).data('name');
                  let amount = -1;
                  if (systemPayName === 'freekassa') {
                    amount = $('#freekassa_amount').val();
                  }
                  AjaxSend("/admin/balance/pay/invoice", "POST", {
                    systemPayName,
                    amount
                  }, true).then(function (response) {

                    if(response.type!=="notice"){
                      return false;
                    }

                    if(response.ok){
                      noticeSuccess(response.message)
                    }else {
                      noticeError(response.message)
                    }

                    if (response.redirect !== undefined) {
                      setTimeout(function() {
                        if (response.redirect === "refresh") {
                          window.location.reload();
                        } else {
                          window.open(response.redirect, '_blank'); // Открыть в новой вкладке
                        }
                      }, 1000);
                    }


                  });
                });
              </script>

            </div>

            <div class="tab-pane text-muted " id="monobank" role="tabpanel">

              <div class="card-body">
                  Вы можете <a href="https://send.monobank.ua/jar/PnDrfaRdF" class="text-success" target="_blank">пополнить банку</a>, на необходимую сумму.<br>
                  Оповестить меня (чтоб я вам продлил) -> <a href="https://t.me/Cannabytes" target="_blank">https://t.me/Cannabytes</a> , сразу пишите сумму отправки и Ваш сайт.
              </div>

            </div>

            <div class="tab-pane text-muted " id="usdt" role="tabpanel">

              <div class="card-body">
                  Как вариант перечислить средства можно и по USDT.<br>
                  <code style="cursor: pointer;" class="copy-clipboard">TXxZjq9WwieGeRvjVcwUgajC7GxE3BJZsF</code>
                  Tron (TRC20).<br>
                  <br>
                  Оповестить меня (чтоб я вам продлил) -> <a href="https://t.me/Cannabytes" target="_blank">https://t.me/Cannabytes</a> , сразу пишите сумму отправки и Ваш сайт.
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}


{% block css %}

{% endblock %}


{% block js %}
<script>
  $(document).on("click", ".copy-clipboard", function () {
    let text = $(this).text();
    let $temp = $("<input>");
    $("body").append($temp);
    $temp.val(text).select();
    document.execCommand("copy");
    $temp.remove();
    noticeSuccess("{{ phrase('copied') }}");
  });

  $(document).on("click", "#pay", function () {
    AjaxSend("/admin/balance/pay/invoice", "POST", {
      amount: $("#amount").val()
    }, true).then(function (response) {
      responseAnalysis(response);
      console.log(response)
    })
  })
</script>

{% endblock %}