{% extends 'struct.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header justify-content-between">
          <div class="card-title">
            <a href="/admin" class="avatar border text-muted me-2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM12 11H16V13H12V16L8 12L12 8V11Z"></path></svg>
            </a>
            {{ phrase('create_bonus_codes') }}</div>
        </div>


        <div class="card-body">

          {% if config().enabled().isEnableBonusCode() == false %}
            <div class="alert alert-danger" role="alert"><a href="/admin/setting#functionsdata">{{ phrase('bonus_codes_disabled') }}</a></div>
          {% endif %}

          <div class="row row-cols-lg-auto align-items-center">
            <span class="fw-semibold mb-1 text-muted">{{phrase(27)}}</span>
            <div class="col-4">
              <div class="col-sm">
                <input type="text" class="form-control" id="prefix" value="" placeholder="Present"
                       aria-label="State">
              </div>
            </div>
          </div>

          <div class="form-check form-check-lg d-flex align-items-center">
            <input id="autocreatecode" class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="autocreatecode">
              {{phrase('bonus_code_autocreate')}}
            </label>

          </div>
          <script>
            $(document).ready(function () {
              $('#autocreatecode').change(function () {
                if (this.checked) {
                  $('#ccodes').removeClass('d-none');
                } else {
                  $('#ccodes').addClass('d-none');
                }
              });
            });
          </script>
            <span>{{phrase('bonus_code_desc')|raw}}</span>

          <div id="ccodes" class="row row-cols-lg-auto align-items-center d-none">
            <span class="fw-semibold mb-1 text-muted">{{ phrase('number_of_codes') }}</span>
            <div class="col-4">
              <div class="col-sm">
                <input type="text" class="form-control" id="count_codes" value="50" placeholder="{{ phrase('number_of_codes') }}"
                       aria-label="State">
              </div>
            </div>
          </div>

          <hr>

          <div class="row row-cols-lg-auto align-items-center">
            <div class="col-4">
              <span class="fw-semibold mb-1 text-muted">{{ phrase('bonus_code_start_date') }}</span>
              <div class="input-group">
                <div class="input-group-text text-muted"><i class="ri-time-line"></i></div>
                <input type="text" class="form-control" id="startdatetime" placeholder="">
              </div>
            </div>

            <div class="col-4">
              <span class="fw-semibold mb-1 text-muted">{{phrase('bonus_end_date')}}</span>
              <div class="input-group">
                <div class="input-group-text text-muted"><i class="ri-time-line"></i></div>
                <input type="text" class="form-control" id="enddatetime" placeholder="">
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <span class="fw-semibold text-muted">{{phrase('items_for_bonus_code')}}</span>
          <div class="bonus_inputs">
            <div class="row row-cols-lg-auto align-items-center">
              <div class="col-4">
                <div class="col-sm">
                  <label for="count_codes" class="form-label">{{phrase('item_id')}}</label>
                  <input type="number" class="form-control itemId" placeholder="{{phrase('item_id')}}" value="57"
                         aria-label="State">
                </div>
              </div>

              <div class="col-4">
                <div class="col-sm">
                  <label for="count_codes" class="form-label">{{phrase('item_quantity')}}</label>
                  <input type="number" class="form-control count" placeholder="{{phrase('item_quantity')}}" value="1000"
                         aria-label="State">
                </div>
              </div>


            </div>


          </div>
                      <button class="btn btn-success m-1 add_bonus_inputs">{{phrase('add_field')}}<i class="bi bi-plus-lg ms-2"></i></button>

        </div>

        <div class="card-body">

          <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="disposable" checked="">
          <label class="form-check-label" for="disposable">
            {{ phrase('bonus_code_disposable_question') }}
          </label>
        </div>

          <div class="alert alert-info" role="alert">
            {{ phrase('bonus_code_disposable_desc') }}
          </div>

      </div>


        <div class="card-body ">
            <label for="serverPromo" class="form-label">{{ phrase('promo_server_label') }}</label>
          <select id="serverPromo" name="serverPromo" class="form-select">
              <option value="0">{{ phrase('all_servers') }}</option>
            {% for server in getServerAll() %}
              <option {% if getUser().getServerId() == server.getId() %}selected{% endif %} value="{{server.getId()}}" >{{server.getName()}} x{{server.getRateExp()}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="card-body">

          <div class=" border-top border-block-start-dashed d-sm-flex justify-content-end">
            <button id="generate_codes" class="btn btn-success-light m-1">{{phrase('generate_codes')}}<i
              class="bi bi-align-top ms-2"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header justify-content-between">
          <div class="card-title">{{phrase('generated_codes')}}</div>
        </div>
        <div class="card-body">
          <textarea class="form-control" id="bonus_codes" rows="20"></textarea>
          <label for="bonus_codes" class="form-label mt-1 fs-12 op-5 text-muted mb-0">{{phrase('generated_bonus_codes')}}</label>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{template}}/assets/libs/flatpickr/flatpickr.min.css">
{% endblock %}


{% block js %}
<script src="{{template}}/assets/libs/@simonwep/pickr/pickr.es5.min.js"></script>
<script src="{{template}}/assets/libs/flatpickr/flatpickr.min.js"></script>


<script>


  /* For DateTimePicker with Limited Time Range */
  flatpickr('#startdatetime', {
    enableTime: true,
    dateFormat: 'Y-m-d H:i',
    altInput: true,
    altFormat: 'Y-m-d H:i',
    time_24hr: true,
  });

  flatpickr('#enddatetime', {
    enableTime: true,
    dateFormat: 'Y-m-d H:i',
    altInput: true,
    altFormat: 'Y-m-d H:i',
    time_24hr: true,
  });

  $('#generate_codes').click(function () {
    var startDate = $('#startdatetime').val();
    var endDate = $('#enddatetime').val();
    if (startDate === '' || endDate === '') {
      noticeError("{{phrase('bonus_dates_not_entered')}}");
      return;
    }

    // Получаем все значения itemId и count в виде массива
    var items = [];
    $('.bonus_inputs .row').each(function () {
      var itemId = $(this).find('.itemId').val();
      var count = $(this).find('.count').val();
      if (itemId && count) {
        items.push({ itemId: itemId, count: count });
      }
    });

    AjaxSend('/admin/bonuscode/create', 'POST', {
      server: $('#serverPromo').val(),
      count_codes : $('#count_codes').val(),
      autocreatecode: $('#autocreatecode').is(':checked'),
      disposable: $('#disposable').is(':checked'),
      items: items,
      start_date_code: startDate,
      end_date_code: endDate,
      prefix: $("#prefix").val(),
    }, true).then(function (response) {
      if (Array.isArray(response)) {
        $('#bonus_codes').val(response.join('\n'));
        noticeSuccess("{{phrase('codes_generated')}}");
      } else {
        noticeError("{{phrase('code_generation_error')}}");
      }
    }).catch(function(error) {
      noticeError("{{phrase('request_failed')}}");
    });

  });

  $('.add_bonus_inputs').click(function () {
    var newRow = '<div class="row row-cols-lg-auto align-items-center">' +
      '<div class="col-4">' +
      '<div class="col-sm">' +
      '<label for="count_codes" class="form-label">{{ phrase("item_id") }}</label>' +
      '<input type="number" class="form-control itemId" placeholder="{{ phrase("item_id") }}" value="57" aria-label="State">' +
      '</div>' +
      '</div>' +
      '<div class="col-4">' +
      '<div class="col-sm">' +
      '<label for="count_codes" class="form-label">{{ phrase("number_of_items") }}</label>' +
      '<input type="number" class="form-control count" placeholder="{{ phrase("number_of_items") }}" value="1000" aria-label="State">' +
      '</div>' +
      '</div>' +
      '</div>';
    $('.bonus_inputs').append(newRow);
  });
</script>

{% endblock %}