{% extends 'struct.html' %}

{% block title %}qwe{% endblock %}

{% block content %}

<div class="container-fluid">


  <!-- Start::row-1 -->
  <div class="row">
    <div class="col-xxl-3">

      {% if sphereAPIError %}
      <div class="card custom-card">
        <div class="p-4 border-bottom border-block-end-dashed">
          {{ phrase('sphereapi_unavailable') }}
        </div>
      </div>

      {% else %}

      {% if self_last_commit != sphere_last_commit %}
      <div class="card custom-card">
        <div class="p-4 border-bottom border-block-end-dashed">
          <p class="fw-semibold mb-2 text-danger">{{ phrase('sphereweb_update_detected') }}</p>
          <a href="/admin/sphere/update" class="btn btn-light btn-wave btn-sm ms-auto">{{ phrase('proceed_to_update') }}</a>
        </div>
      </div>
      {% endif %}


      {% for server in servers %}
      {% set serverInfo = getServer(server.id) %}
      <div class="card custom-card overflow-hidden">

        <div class="card-body border-bottom">
          <div class="d-sm-flex  main-profile-cover">

            <div class="flex-fill main-profile-info my-auto">
              <h5 class="fw-semibold mb-1 ">{{serverInfo.getName()}} x{{serverInfo.getRateExp()}} - {{serverInfo.getChronicle}}</h5>
              <div>
                <p class="mb-1 text-muted">{{ phrase('activated_until') }} {{server.license_expiration_date|date('d.m.Y')}}</p>
                <p class="mb-1 text-muted">{{ phrase('status') }}: Работает</p>
                <p class="fs-12 op-7 mb-0">
                  <span class="me-3 d-inline-flex align-items-center"><a href="/admin/server/statistic/{{server.id}}"><i class="ri-building-line me-1 align-middle"></i>{{ phrase('menu_statistics') }}</a></span>
                  <span class="d-inline-flex align-items-center"><i class="ri-map-pin-line me-1 align-middle"></i>{{ phrase('test_sphereapi_server') }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body p-0 main-profile-info">
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="py-3 border-end w-100 text-center">
              <p class="fw-bold fs-20  text-shadow mb-0">{{server.request_count}}</p>
              <p class="mb-0 fs-12 text-muted ">{{ phrase('requests') }}</p>
            </div>
            <div class="py-3 w-100 text-center">
              <p class="fw-bold fs-20  text-shadow mb-0">{{server.count_errors}}</p>
              <p class="mb-0 fs-12 text-muted ">{{ phrase('errors') }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% endif %}


    </div>
    <div class="col-xxl-9">
      <div class="row">
        <div class="col-xl-12">
          <div class=" custom-card">
            <div class="card-body p-0">
              <div class="border-block-end-dashed  bg-white rounded-2 p-2">
                <div>
                  <ul class="nav nav-pills nav-justified gx-3 tab-style-6 d-sm-flex d-block " id="myTab" role="tablist">
                    <li class="nav-item rounded" role="presentation">
                      <button class="nav-link active" id="followers-tab" data-bs-toggle="tab"
                              data-bs-target="#followers-tab-pane" type="button" role="tab"
                              aria-controls="followers-tab-pane" aria-selected="false"><i
                        class="ri-money-dollar-box-line me-1 align-middle d-inline-block fs-16"></i>{{ phrase('settings') }}
                      </button>
                    </li>

                    <li class="nav-item rounded" role="presentation">
                      <button class="nav-link " id="activity-tab" data-bs-toggle="tab"
                              data-bs-target="#activity-tab-pane" type="button" role="tab"
                              aria-controls="activity-tab-pane" aria-selected="true"><i
                        class="ri-gift-line me-1 align-middle d-inline-block fs-16"></i>{{ phrase('logs_and_events') }}
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="py-4">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane  fade p-0 border-0 bg-white p-4 rounded-3" id="activity-tab-pane"
                       role="tabpanel" aria-labelledby="activity-tab" tabindex="0">
                    <ul class="list-unstyled profile-timeline">

                      {% for i, log in logsAll() %}
                      <li>
                        <div>
                          <span class="fs-12 text-muted fw-semibold text-end profile-timeline-time">{{ProhloVremya(log.time, true)}}</span>
                          <span class="avatar avatar-sm avatar-rounded profile-timeline-avatar">
                                                                        <img
                                                                          src="{{log.user.avatar}}"
                                                                          alt="">
                                                                    </span>
                          <p class="text-muted mb-1">
                            <span class="text-default"><b>{{log.user.email}}</b> ({{log.user.name}})</span>.
                          </p>
                          <p class="text-muted mb-0">{{log.message|raw}}</p>
                        </div>
                      </li>
                      {% endfor %}


                    </ul>
                  </div>

                  <div class="tab-pane show active fade p-0 border-0" id="followers-tab-pane"
                       role="tabpanel" aria-labelledby="followers-tab" tabindex="0">
                    <div class="row">
                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/general.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('general_settings') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/setting" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/pages.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('news_and_pages') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/pages" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/news.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('translations') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/phrases" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/servers.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('servers') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/server/list" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/shop.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase(215) }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/shop" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/startpack.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('starter_pack') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/shop/startpack" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/bonuscode.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('bonus_codes') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/bonuscode/create" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                              <a href="/admin/bonuscode/list" class="btn btn-sm btn-light btn-wave">{{ phrase(56) }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/forum.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('connect_forum') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/forum" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/users.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('users') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/users" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/routers.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('routers') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/route" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/mailing.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('mail_messages') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/mailing" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/updates.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('software_update') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/sphere/update" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/logs.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('logs') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/logs" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/paidext.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('extensions') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/extensions/paid" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/paidext.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">Sphere API</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/sphereapi" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--End::row-1 -->

</div>

{% endblock %}


{% block css %}

{% endblock %}


{% block js %}

{% endblock %}