{% extends 'struct.html' %}

{% block title %}{{ phrase(221) }}{% endblock %}

{% block content %}

<div class="container-fluid">


  <!-- Start::row-1 -->
  <div class="row">
    <div class="col-xxl-3">

      {% if sphereAPIError %}
      <div class="card custom-card">
        <div class="p-4 border-bottom border-block-end-dashed">
          {{ phrase(SphereApiCodeError())|raw }}
        </div>
      </div>
      {% else %}

      {% if self_last_commit != sphere_last_commit %}
      <div class="card custom-card">
        <div class="p-4 border-bottom border-block-end-dashed">
          <p class="fw-semibold mb-2 text-danger">{{ phrase('sphereweb_update_detected') }}</p>
          <a href="/admin/sphere/update" class="btn btn-light btn-wave btn-sm ms-auto">{{ phrase('proceed_to_update')
            }}</a>
        </div>
      </div>
      {% endif %}

      {% if servers|length == 0 %}
      <div class="card custom-card">
        <div class="p-4 border-bottom border-block-end-dashed">
          <p class="fw-semibold mb-2 text-danger">{{ phrase('you_have_no_servers') }}</p>
          <a href="/admin/server/add/new" class="btn btn-light btn-wave btn-sm ms-auto">{{ phrase('add_server') }}</a>
        </div>
      </div>
      {% endif %}

        <div class="card custom-card">
          <div class="card-body">
            <div class="d-flex align-items-top justify-content-between mb-2">

              <div class="flex-fill d-flex align-items-top">
                <div class="me-2">
                  <span class="avatar avatar-md text-primary border bg-light"><i class="ti ti-currency-dollar fs-18"></i></span>
                </div>
                <div class="flex-fill">
                  <p class="fw-semibold fs-14 mb-0"><a href="/admin/balance">Обслуживание SphereWeb</a></p>
                  <p class="mb-0 text-muted fs-12 op-7">На Вашем балансе <span class="text-primary h4">${{balance|number_format(2)}}</span></p>
                </div>
              </div>

              <div>
                <a href="javascript:void(0);" data-bs-toggle="dropdown" class="btn btn-icon btn-sm btn-light" aria-expanded="false"><i class="ti ti-dots"></i></a>
                <ul class="dropdown-menu" style="">
                  <li><a href="javascript:void(0);" class="dropdown-item">Частые вопросы</a></li>
                  <li><a href="javascript:void(0);" class="dropdown-item">Пополнить баланс</a></li>
                </ul>
              </div>

            </div>

            <div class="d-flex align-items-center border-bottom border-block-end-dashed mb-3">
              <div class="flex-fill">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 14%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="ms-3">
                <span class="fs-12 text-muted">23.12.2024</span>
              </div>
            </div>

            <div class="mb-3 ">
              <div class="text-muted">

                <p class="mb-1">
                  {% if launcher.isActive %}
                    Sphere Launcher до {{launcher.dateTimeout|date('d.m.Y H:s')}}
                  {% else %}
                    Sphere Launcher не активен. <a href="/admin/balance">Подключить?</a>
                  {% endif %}
                </p>

              </div>
            </div>


          </div>

        </div>

      {% for server in servers %}
      {% set serverInfo = getServer(server.id) %}
      <div class="card custom-card overflow-hidden">

        <div class="card-body border-bottom">

          {% if serverInfo == null %}
          <div class="text-danger">Сервер не найден в Вашей внутренней БД, но существует в Sphere API.</div>
          {% endif %}

          <div class="d-sm-flex  main-profile-cover">


            <div class="flex-fill main-profile-info my-auto">
              <h5 class="fw-semibold mb-1 ">{{serverInfo.getName()}} x{{serverInfo.getRateExp() ?? 0}} -
                {{serverInfo.getChronicle ?? 'N/A'}}</h5>
              <div>
                <p class="mb-1 text-muted">{{ phrase('status') }}: {% if server.disabled %}<span
                  class="badge bg-danger">{{ phrase('disabled') }}</span>{% else %}<span class="badge bg-success">{{ phrase('enabled') }}</span>{%
                  endif %}</p> </p>
                <p class="fs-12 op-7 mb-0">
                  <span class="me-3 d-inline-flex align-items-center"><a href="/admin/server/statistic/{{server.id}}"><i
                    class="ri-building-line me-1 align-middle"></i>{{ phrase('menu_statistics') }}</a></span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body p-0 main-profile-info">
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="py-3 border-end w-100 text-center">
              <p class="fw-bold fs-20  text-shadow mb-0">{{server.request_count}}</p>
              <p class="mb-0 fs-12 text-muted ">{{ phrase('requests') }}</p>
            </div>
            <div class="py-3 w-100 text-center">
              <p class="fw-bold fs-20  text-shadow mb-0">{{server.count_errors}}</p>
              <p class="mb-0 fs-12 text-muted ">{{ phrase('errors') }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% endif %}

      <div class="card">
        <div class="card-body">
          <h4 class="mb-2 fw-semibold">Sphere Launcher</h4>
          <p>
            {{ phrase('sphere_launcher_description') }}
          </p>
          <a href="/admin/launcher" class="btn btn-light">{{ phrase('connect') }}</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="mb-2 fw-semibold">{{phrase('found_bug_question')}}</h4>
          <p>{{phrase('found_issue_server_build_missing_idea_contact_sphere_chat')|raw}}</p>
        </div>
      </div>


    </div>
    <div class="col-xxl-9">
      <div class="row">
        <div class="col-xl-12">
          <div class=" custom-card">
            <div class="card-body p-0">
              <div class="border-block-end-dashed  bg-white rounded-2 p-2">
                <div>
                  <ul class="nav nav-pills nav-justified gx-3 tab-style-6 d-sm-flex d-block " id="myTab" role="tablist">
                    <li class="nav-item rounded" role="presentation">
                      <button class="nav-link active" id="followers-tab" data-bs-toggle="tab"
                              data-bs-target="#followers-tab-pane" type="button" role="tab"
                              aria-controls="followers-tab-pane" aria-selected="false"><i
                        class="ri-money-dollar-box-line me-1 align-middle d-inline-block fs-16"></i>{{
                        phrase('settings') }}
                      </button>
                    </li>

                    <li class="nav-item rounded" role="presentation">
                      <button class="nav-link " id="activity-tab" data-bs-toggle="tab"
                              data-bs-target="#activity-tab-pane" type="button" role="tab"
                              aria-controls="activity-tab-pane" aria-selected="true"><i
                        class="ri-gift-line me-1 align-middle d-inline-block fs-16"></i>{{ phrase('logs_and_events') }}
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="py-4">
                <div class="tab-content" id="myTabContent">

                  <div class="tab-pane show active fade p-0 border-0" id="followers-tab-pane"
                       role="tabpanel" aria-labelledby="followers-tab" tabindex="0">
                    <div class="row">

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/general.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('general_settings') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/setting" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/pages.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('news_and_pages') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/pages" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/servers.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('servers') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/server/list" class="btn btn-sm btn-light btn-wave">{{ phrase('open')
                                }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/stream.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{phrase('stream')}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/stream" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/shop.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase(215) }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/shop" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/startpack.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('starter_pack') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/shop/startpack" class="btn btn-sm btn-light btn-wave">{{ phrase('open')
                                }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/bonuscode.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('bonus_codes') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/bonuscode/create" class="btn btn-sm btn-light btn-wave">{{ phrase('open')
                                }}</a>
                              <a href="/admin/bonuscode/list" class="btn btn-sm btn-light btn-wave">{{ phrase(56) }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/forum.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('connect_forum') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/forum" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/users.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('users') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/users" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/mailing.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('mail_messages') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/mailing" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>



                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/logs.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('logs') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/logs" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/paidext.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('extensions') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/extensions/paid" class="btn btn-sm btn-light btn-wave">{{ phrase('open')
                                }}</a>
                            </div>
                          </div>
                        </div>
                      </div>


                      <h5 class="mb-5 mt-3 fw-semibold text-center">Служебное</h5>


                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/paidext.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">Sphere API</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/sphereapi" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      {# переводы #}
                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/news.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('translations') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/phrases" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      {# Маршрутизаторы #}
                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/routers.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('routers') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/route" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      {# Обновления ПО #}
                      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card shadow-none border">
                          <div class="card-body p-4">
                            <div class="text-center">
                                                                            <span
                                                                              class="avatar avatar-xl avatar-rounded">
                                                                                <img
                                                                                  src="{{template}}/assets/images/admenu/updates.png"
                                                                                  alt="">
                                                                            </span>
                              <div class="mt-2">
                                <p class="mb-0 fw-semibold">{{ phrase('software_update') }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-center">
                            <div class="btn-list">
                              <a href="/admin/sphere/update" class="btn btn-sm btn-light btn-wave">{{ phrase('open')
                                }}</a>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--End::row-1 -->

</div>

{% endblock %}


{% block css %}

{% endblock %}


{% block js %}
{% endblock %}