{% extends 'struct.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header justify-content-between">
        <div class="card-title">
          <a href="/admin" class="avatar border text-muted me-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM12 11H16V13H12V16L8 12L12 8V11Z"></path></svg>
          </a>
          {{phrase('additional_extensions')}}
        </div>
      </div>
      <div class="card-body">

        <div class="table-responsive">
          <table class="table  table-bordered">
            <thead>
            <tr>
              <th style="width: 10%" scope="col">{{ phrase(27) }}</th>
              <th scope="col">{{ phrase(0) }}</th>
              <th scope="col">{{ phrase(72) }}</th>
            </tr>
            </thead>
            <tbody>

            {% for plugin in show_plugins() %}
            <tr>
              <td><a href="{{plugin.PLUGIN_ADMIN_PAGE}}" class="btn btn-sm btn-light">{{plugin.PLUGIN_NAME}}</a></td>
              <td>
                 {{plugin.PLUGIN_DESCRIPTION}}
              </td>
              <td>

                    {% if plugin.PLUGIN_COST == -1 %}
                      Другое
                    {% else %}
                      {% if plugin.PLUGIN_COST ?? 0 %}${{plugin.PLUGIN_COST}}/{{ phrase('month') }}{% else %}{{ phrase('free') }}{% endif %}
                    {% endif %}

              </td>

            </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block js %}

{% endblock %}