{% extends 'struct.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header justify-content-between">
        <div class="card-title">
          <a href="/admin" class="avatar border text-muted me-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM12 11H16V13H12V16L8 12L12 8V11Z"></path></svg>
          </a>
          {{phrase('additional_extensions')}}
        </div>
      </div>
      <div class="card-body">

        <div class="row">
          {% for plugin in show_plugins() %}
          <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="card custom-card shadow-none border">
              <div class="card-body p-4">
                <div class="text-center">
                  <span class="avatar avatar-xl avatar-rounded">
                    <i class="bi bi-puzzle-fill fs-40 text-primary"></i>
                  </span>
                  <div class="mt-2">
                    <p class="mb-0 fw-semibold">{{phrase(plugin.PLUGIN_PHRASE_ID)}}</p>
                    <p class="mb-0 text-muted fs-12 mt-2">{{phrase(plugin.PLUGIN_DESCRIPTION)}}</p>
                  </div>
                </div>
              </div>
              <div class="card-footer text-center">
                <div class="btn-list">
                  <a href="{{plugin.PLUGIN_ADMIN_PAGE}}" class="btn btn-sm btn-light btn-wave">{{ phrase('open') }}</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block js %}

{% endblock %}