{% extends 'struct.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header justify-content-between">
        <div class="card-title">
          {{phrase('additional_extensions')}}
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table  table-bordered">
            <thead>
            <tr>
              <th style="width: 10%" scope="col">{{ phrase(27) }}</th>
              <th scope="col">{{ phrase(0) }}</th>
              <th scope="col">{{ phrase(72) }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>

              <td><a href="/fun/wheel/admin" class="btn btn-sm btn-light">{{phrase('lucky_wheel')}}</a></td>
              <td>
                 {{phrase('lucky_wheel_description')}}
              </td>
              <td>10$/{{ phrase('month') }}.</td>

            </tr>
            <tr>

              <td><a href="/admin/launcher" class="btn btn-sm btn-light">{{ phrase('menu_launcher') }}</a></td>
              <td>
                 {{phrase('sphere_launcher_description')}}
              </td>
              <td>10$/{{ phrase('month') }}.</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block js %}

{% endblock %}