{% extends 'struct.html' %}

{% block title %}qwe{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Обновление
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="">
                            <div class="tab-pane text-muted active show" id="home1" role="tabpanel">
                                <p class="card-text">Экспериментальная функция для обновления программного обеспечения SphereWeb.</p>
                                <p> Рекомендую иметь актуальный код программного обеспечения.</p>

                                <button id="startUpdate" class="btn btn-success">Проверить и обновить ПО</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}





{% block css %}

{% endblock %}


{% block js %}

<script>

    $('#startUpdate').on('click', function (e) {
        e.preventDefault();
        AjaxSend('/github/update', 'POST', {}, true).then(function (response) {
            console.log(response)
            responseAnalysis(response);
        })
    });

</script>

{% endblock %}