{% extends 'struct.html' %}

{% block title %}qwe{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="card custom-card">
        <div class="card-header justify-content-between">
          <div class="card-title">
            Мои сервера
          </div>

          <div class="prism-toggle">
            <a href="/admin/server/add/new" class="btn btn-sm btn-success">Добавить сервер</a>
          </div>

        </div>
        <div class="card-body d-flex align-items-start">
          <div class="col-md-2">
            <div class="nav flex-column nav-pills me-3 tab-style-7" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">

              {% if serverInfo %}
              {% set active = false %}
              {% else %}
              {% set active = true %}
              {% endif %}

              {% for i, server in sphereServers %}

              {% set serverName = server.getName()|replace({' ': '_'}) %}
              {% set serverName = serverName|replace({'#': '_'}) %}
              {% set serverName = serverName ~ '_' ~ i %}
              
              {% if serverInfo %}
                {% if serverInfo.getId() == server.getId() %}
                  {% set active = true %}
                {% endif %}
              {% endif %}

              <button class="nav-link text-start {% if active %}active{% endif %}"
                      id="server_{{serverName}}-tab" data-bs-toggle="pill"
                      data-bs-target="#server_{{serverName}}" type="button" role="tab"
                      aria-controls="server_{{serverName}}" aria-selected="true"><i
                class="ri-shield-user-line me-1 align-middle d-inline-block"></i>{{ serverName }} x{{
                server.getRateExp() }}
              </button>
              {% set active = false %}
              {% endfor %}
            </div>
          </div>
          <div class="col-md-10">
            <div class="tab-content" id="v-pills-tabContent">
              {% if serverInfo %}
              {% set active = false %}
              {% else %}
              {% set active = true %}
              {% endif %}

              {% for i, server in sphereServers %}
              {% set serverName = server.getName()|replace({' ': '_'}) %}
              {% set serverName = serverName|replace({'#': '_'}) %}
              {% set serverName = serverName ~ '_' ~ i %}


              {% if serverInfo %}
              {% if serverInfo.getId() == server.getId() %}
              {% set active = true %}
              {% endif %}
              {% endif %}

              <div class="tab-pane {% if active %}show active{% endif %}" id="server_{{serverName}}"
                   role="tabpanel" tabindex="0" aria-labelledby="server_{{serverName}}-tab">
                <div class="d-sm-flex">

                  <div>
                    <div class="my-md-auto mt-4 ms-md-3">
                      <h5 class="font-weight-semibold ms-0 mb-1 pb-0">{{serverName}}</h5>

                      <p class="text-danger ms-0 mb-2"><span class="font-weight-semibold me-2">Server ID:</span><span> {{server.getId()}}</span>

                      <p class="text-muted ms-0 mb-2"><span class="font-weight-semibold me-2">Rate Exp:</span><span> x{{server.getRateExp()}}</span>
                      </p>
                      <p class="text-muted ms-0 mb-2"><span class="font-weight-semibold me-2">Rate SP:</span><span> x{{server.getRateSp()}}</span>
                      </p>
                      <p class="text-muted ms-0 mb-2"><span class="font-weight-semibold me-2">Rate Adena:</span><span> x{{server.getRateAdena()}}</span>
                      </p>
                      <p class="text-muted ms-0 mb-2"><span class="font-weight-semibold me-2">Rate Drop:</span><span> x{{server.getRateDrop()}}</span>
                      </p>
                      <p class="text-muted ms-0 mb-2"><span class="font-weight-semibold me-2">Rate Spoil:</span><span> x{{server.getRateSpoil()}}</span>
                      </p>

                      {% set status_server_release = server.getServerData('status_server_release').val ?? "none" %}

                      <p class="text-muted ms-0 mb-2"><span
                        class="font-weight-semibold me-2">Start Server Date:</span><span> {{ phrase(status_server_release) }}</span>
                      </p>
                      <p class="text-muted ms-0 mb-2"><span class="font-weight-semibold me-2">Chronicle:</span><span> {{ server.getServerData('knowledge_base').val ?? "none" }}</span>
                      </p>
                      <p class="text-muted ms-0 mb-2"><span class="font-weight-semibold me-2">Max Online:</span><span> {{ server.getServerData('max_online').val ?? "none" }}</span>
                      </p>

                      <a class="btn btn-success btn-sm shadow-success btn-wave waves-effect waves-light"
                         href="/admin/server/edit/{{server.getId()}}">Изменить информацию сервера</a>

                      <a class="btn btn-success btn-sm shadow-success btn-wave waves-effect waves-light"
                         href="/admin/server/statistic/{{server.getId()}}">Статистика</a>

                      <button class="btn btn-danger btn-sm shadow-success btn-wave waves-effect waves-light removeServer"
                      data-server-id="{{server.getId()}}">Удаление</button>

                    </div>
                  </div>
                </div>
              </div>
              {% set active = false %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if serverInfo %}
  <div class="row">
    <div class="col-xl-12">
      <div class="card custom-card">
        <div class="card-header justify-content-between">
          <div class="card-title">
            Редактирование сервера {{serverInfo.getName()}} x{{serverInfo.getRateExp()}}
          </div>
        </div>
        <div class="card-body">
          <div class="accordion accordion-customicon1 accordions-items-seperate" id="accordioncustomicon1Example">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingcustomicon1One">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsecustomicon1One" aria-expanded="false"
                        aria-controls="collapsecustomicon1One">
                  Общее
                </button>
              </h2>
              <div id="collapsecustomicon1One" class="accordion-collapse collapse"
                   aria-labelledby="headingcustomicon1One" data-bs-parent="#accordioncustomicon1Example" style="">
                <div class="accordion-body">

                  <p class="mb-1 fw-semibold text-muted op-5 fs-20">Общая информация о сервере</p>

                  <div class="row gy-4 mb-4">
                    <div class="col-xl-4">
                      <div class="form-floating">
                        <input type="text" name="name" class="form-control" id="name" value="{{serverInfo.getName()}}"
                               placeholder="name">
                        <label for="name">Название сервера</label>
                      </div>
                    </div>

                    <div class="col-xl-12">
                      <div class="row gy-2">
                        <div class="col-xl-2">
                          <div class="form-floating">
                            <input min="0" type="number" class="form-control " id="rateExp" name="rateExp"
                                   value="{{serverInfo.getRateExp()}}" placeholder="1">
                            <label for="rateExp">Rate Exp</label>
                          </div>
                        </div>
                        <div class="col-xl-2">
                          <div class="form-floating">
                            <input min="0" type="number" class="form-control" id="rateSp" name="rateSp"
                                   value="{{serverInfo.getRateSp()}}" placeholder="1">
                            <label for="rateSp">Rate SP</label>
                          </div>
                        </div>
                        <div class="col-xl-2">
                          <div class="form-floating">
                            <input min="0" type="number" class="form-control" id="rateAdena" name="rateAdena"
                                   value="{{serverInfo.getRateAdena()}}" placeholder="1">
                            <label for="rateAdena">Rate Adena</label>
                          </div>
                        </div>
                        <div class="col-xl-2">
                          <div class="form-floating">
                            <input min="0" type="number" class="form-control" id="rateDrop" name="rateDrop"
                                   value="{{serverInfo.getRateDrop()}}" placeholder="1">
                            <label for="rateDrop">Rate Drop</label>
                          </div>
                        </div>
                        <div class="col-xl-2">
                          <div class="form-floating">
                            <input min="0" type="number" class="form-control" id="rateSpoil" name="rateSpoil"
                                   value="{{serverInfo.getRateSpoil()}}" placeholder="1">
                            <label for="rateSpoil">Rate Spoil</label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <p class="mb-1 fw-semibold text-muted op-5 fs-20">Для проверки статуса сервера</p>

                  <div class="col-xl-12">

                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="enableStatusServer" checked="">
                      <label class="form-check-label" for="enableStatusServer">Включить вывод статуса сервера</label>
                    </div>

                    <div class="row">
                      <div class="col-xl-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="statusLoginServerIP" id="statusLoginServerIP"
                                 placeholder="127.0.0.1">
                          <label for="statusLoginServerIP">IP Login Server</label>
                        </div>
                      </div>

                      <div class="col-xl-2">
                        <div class="form-floating">
                          <input type="number" class="form-control" name="statusLoginServerPort" id="statusLoginServerPort"
                                 placeholder="7777">
                          <label for="statusLoginServerPort">Port Login Server</label>
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xl-2">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="statusGameServerIP" id="statusGameServerIP"
                                 placeholder="127.0.0.1">
                          <label for="statusGameServerIP">IP Game Server</label>
                        </div>
                      </div>

                      <div class="col-xl-2">
                        <div class="form-floating">
                          <input type="number" class="form-control" name="statusGameServerPort" id="statusGameServerPort"
                                 placeholder="7777">
                          <label for="statusGameServerPort">Port Game Server</label>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>

                <div class="card-footer">
                  <div class="float-end">
                    <button id="saveGeneral" data-serverid="{{serverInfo.getId()}}" type="button"
                            class="btn btn-sm btn-success m-1">
                      Сохранить
                    </button>
                  </div>
                </div>

              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingcustomicon1Two">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsecustomicon1Two" aria-expanded="false"
                        aria-controls="collapsecustomicon1Two">
                  Сборка сервера
                </button>
              </h2>
              <div id="collapsecustomicon1Two" class="accordion-collapse collapse"
                   aria-labelledby="headingcustomicon1Two" data-bs-parent="#accordioncustomicon1Example">
                <div class="accordion-body">

                  <div class="p-0">
                    <p class="mb-1 fw-semibold text-muted op-5 fs-20">Информация о сборке сервера</p>

                    <div class="row gy-4">

                      <div class="col-xxl-4">
                        <label for="platform" class="form-label">Платформа</label>
                        <select disabled class="form-control" data-trigger name="choices-single-default" id="platform">
                          <option selected value="java">Java</option>
                          <option disabled value="pts">PTS</option>
                        </select>
                      </div>

                      <div class="col-xxl-4">
                        <label for="version_client" class="form-label">Версия игры</label>
                        <select name="version_client" class="form-control" data-trigger id="version_client">
                          {% for client in client_list_default %}
                          <option {% if client.name== serverInfo.getChronicle() %}selected{% endif %}>{{ client.name
                            }}
                          </option>
                          {% endfor %}
                        </select>
                      </div>

                      <div class="col-xxl-4">
                        <label for="sql_base_source" class="form-label">Коллекция запросов сервера</label>
                        <select class="form-control" data-trigger id="sql_base_source" name="sql_base_source">
                          {% for basename in collections %}
                          <option value="{{ basename }}">{{ basename }}</option>
                          {% endfor %}
                        </select>
                      </div>

                    </div>
                  </div>

                </div>
                <div class="card-footer">
                  <div class="float-end">
                    <button data-serverid="{{serverInfo.getId()}}" id="saveCollection" type="button" class="btn btn-sm btn-success m-1">
                      Сохранить
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingcustomicon1Three">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsecustomicon1Three" aria-expanded="false"
                        aria-controls="collapsecustomicon1Three">
                  База Данных Игрового сервера
                </button>
              </h2>
              <div id="collapsecustomicon1Three" class="accordion-collapse collapse"
                   aria-labelledby="headingcustomicon1Three" data-bs-parent="#accordioncustomicon1Example">
                <div class="accordion-body">

                  <div class="p-0">

                    <p class="mb-1 fw-semibold text-muted op-5 fs-20">Подключение к логину сервера</p>

                    <p class="mb-1 fw-semibold text-warning op-5 ">Sphere Web не выводит данные подключения к базе
                      данных.</p>


                    <div class="row">
                      <div class="col-lg-6 col-xl-6 border-end border-inline-end-dashed">
                        Подключение к базе данных логин-сервера

                        <div class="row">
                          <div class="col-6">
                            <div class="form-floating mb-4">
                              <input type="text" class="form-control" name="login_host" id="login_host"
                                     value="127.0.0.1">
                              <label class="form-label" for="login_host">IP</label>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="form-floating mb-4">
                              <input type="text" class="form-control" name="login_port" id="login_port" value="3306">
                              <label class="form-label" for="login_port">Port</label>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <div class="form-floating mb-4">
                              <input type="text" class="form-control" name="login_user" value="root" id="login_user">
                              <label class="form-label" for="login_user">User name</label>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="form-floating mb-4">
                              <input type="text" class="form-control" name="login_password" id="login_password"
                                     value="">
                              <label class="form-label" for="login_password">Password</label>
                            </div>
                          </div>
                        </div>

                        <div class="row mb-4">
                          <div class="col-lg-6 ">
                            <div id="getDBNameLogin" type="submit" class="btn btn-primary mb-2">
                              <i class="fa fa-arrow-right opacity-50 me-1"></i> Проверка и выбрать базу данных
                            </div>
                          </div>
                        </div>

                        <div class="form-floating mb-4 col-6">
                          <select class="form-select" id="login_name" name="login_name">
                            <option selected="" disabled="">Не выбрано</option>
                          </select>
                          <label class="form-label" for="login_name">База Данных LoginServer</label>
                        </div>

                      </div>

                      <div class="col-lg-6 col-xl-6 ">
                        Подключение к базе данных гейм-сервера

                        <div class="row">
                          <div class="col-6">
                            <div class="form-floating mb-4">
                              <input type="text" class="form-control" name="game_host" id="game_host" value="127.0.0.1">
                              <label class="form-label" for="game_host">IP</label>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="form-floating mb-4">
                              <input type="text" class="form-control" name="game_port" id="game_port" value="3306">
                              <label class="form-label" for="game_port">Port</label>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <div class="form-floating mb-4">
                              <input type="text" class="form-control" name="game_user" id="game_user" value="root">
                              <label class="form-label" for="game_user">User name</label>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="form-floating mb-4">
                              <input type="text" class="form-control" name="game_password" id="game_password" value="">
                              <label class="form-label" for="game_password">Password</label>
                            </div>
                          </div>
                        </div>

                        <div class="row mb-4">
                          <div class="col-lg-6 ">
                            <div id="getDBNameGame" type="submit" class="btn btn-primary mb-2">
                              <i class="fa fa-arrow-right opacity-50 me-1"></i> Проверка и выбрать базу данных
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-floating mb-4 col-6">
                            <select class="form-select" id="game_name" name="game_name">
                              <option selected="" disabled="">Не выбрано</option>
                            </select>
                            <label class="form-label" for="game_name">База Данных для GameServer</label>
                          </div>
                        </div>

                      </div>


                    </div>


                  </div>


                </div>

                <div class="card-footer">
                  <div class="float-end">
                    <button id="saveMySQL" data-serverid="{{serverInfo.getId()}}" type="button"
                            class="btn btn-sm btn-success m-1">
                      Сохранить
                    </button>
                  </div>
                </div>

              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingcustomicon1QQQ">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsecustomicon1QQQ" aria-expanded="false"
                        aria-controls="collapsecustomicon1QQQ">
                  Дополнительные настройки
                </button>
              </h2>
              <div id="collapsecustomicon1QQQ" class="accordion-collapse collapse"
                   aria-labelledby="collapsecustomicon1QQQ" data-bs-parent="#collapsecustomicon1QQQExample">
                <div class="accordion-body">

                  <ul class="list-group followers-list">
                    <li class="list-group-item">
                      <div class="d-sm-flex align-items-top">

                        <div class="ms-sm-2 ms-0 mt-sm-0 mt-1 fw-semibold flex-fill">
                          <p class="mb-0 lh-1">Дата запуска сервера</p>
                          <span class="fs-11 text-muted op-7">Дата и время запуска официального сервера</span>
                        </div>

                        <div class="col-2">
                          <input type="text" class="form-control" id="date_start_server" name="date_start_server"
                                 value="{{ serverInfo.getStartServerDate() }}"
                                 placeholder="Время запуска сервера">
                        </div>

                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="d-sm-flex align-items-top">
                        <div class="ms-sm-2 ms-0 mt-sm-0 mt-1 fw-semibold flex-fill">
                          <p class="mb-0 lh-1">Chronicle</p>
                          <span class="fs-11 text-muted op-7">Базу знаний из какой версии игры использовать</span>
                        </div>


                        <div class="col-2">

                          <select class="form-control" data-trigger name="knowledge_base" id="knowledge_base">
                            {% set knowledge_base = serverInfo.getKnowledgeBase() %}
                            {% for client in client_list_default %}
                            <option {% if serverInfo.getKnowledgeBase(client.name)== knowledge_base %}selected{% endif
                                    %} value="{{ client.name }}">{{
                              client['name'] }}
                            </option>
                            {% endfor %}
                          </select>

                        </div>

                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="d-sm-flex align-items-top">
                        <div class="ms-sm-2 ms-0 mt-sm-0 mt-1 fw-semibold flex-fill">
                          <p class="mb-0 lh-1">Максимальный онлайн</p>
                          <span class="fs-11 text-muted op-7">Какое количество игроков может играть на сервере. Это значение может быть использовано для progress bar на главной странице.</span>
                        </div>

                        <div class="col-2">
                          <input value="{{serverInfo.getMaxOnline()}}" type="number" class="form-control"
                                 id="max_online" placeholder="Max online">
                        </div>

                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="d-sm-flex align-items-top">
                        <div class="ms-sm-2 ms-0 mt-sm-0 mt-1 fw-semibold flex-fill">
                          <p class="mb-0 lh-1">Сброс HWID</p>
                          <span class="fs-11 text-muted op-7">Если в сборке реализован HWID, тогда можете включить пользователям функцию сброса HWID.</span>
                        </div>
                        <div class="col-2 form-check form-check-lg form-switch">
                          <input {% if serverInfo.getServerData('resetHWID').getVal() %}checked{% endif %} class="form-check-input" type="checkbox" id="resetHWID">
                         </div>
                      </div>
                    </li>

                  </ul>

                </div>

                <div class="card-footer">
                  <div class="float-end">
                    <button id="saveOther" data-serverid="{{serverInfo.getId()}}" type="button"
                            class="btn btn-sm btn-success m-1">
                      Сохранить
                    </button>
                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  {% endif %}

</div>

{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{template}}/assets/libs/flatpickr/flatpickr.min.css">

{% endblock %}


{% block js %}

{% if serverInfo %}
<script>
  $(document).on('click', '#saveGeneral', function () {
    var serverid = $(this).data('serverid');
    var name = $('#name').val();
    var rateExp = $('#rateExp').val();
    var rateSp = $('#rateSp').val();
    var rateAdena = $('#rateAdena').val();
    var rateDrop = $('#rateDrop').val();
    var rateSpoil = $('#rateSpoil').val();
    var version_client = $('#version_client').val();
    var sql_base_source = $('#sql_base_source').val();

    var enableStatusServer = $('#enableStatusServer').is(':checked');
    var statusLoginServerIP = $('#statusLoginServerIP').val();
    var statusLoginServerPort = $('#statusLoginServerPort').val();
    var statusGameServerIP = $('#statusGameServerIP').val();
    var statusGameServerPort = $('#statusGameServerPort').val();


    AjaxSend('/admin/server/edit/save/general', 'POST', {
      name: name,
      rateExp: rateExp,
      rateSp: rateSp,
      rateAdena: rateAdena,
      rateDrop: rateDrop,
      rateSpoil: rateSpoil,
      version_client: version_client,
      serverId: serverid,
      sql_base_source: sql_base_source,
      statusServer: {
        enableStatusServer: enableStatusServer,
        statusLoginServerIP: statusLoginServerIP,
        statusLoginServerPort: statusLoginServerPort,
        statusGameServerIP: statusGameServerIP,
        statusGameServerPort: statusGameServerPort,
      }
    }, false);
  });

  $(document).on('click', '#saveCollection', function () {
    var version_client = $('#version_client').val();
    var serverid = $(this).data('serverid');
    var collection = $('#sql_base_source').val();
    AjaxSend('/admin/server/edit/collection', 'POST', {
      version_client: version_client,
      collection: collection,
      serverId: serverid,
    }, false);
  })

  $(document).on('click', '#saveMySQL', function () {
    var serverid = $(this).data('serverid');
    var login_host = $('#login_host').val();
    var login_port = $('#login_port').val();
    var login_user = $('#login_user').val();
    var login_password = $('#login_password').val();
    var login_name = $('#login_name').val();
    var game_host = $('#game_host').val();
    var game_port = $('#game_port').val();
    var game_user = $('#game_user').val();
    var game_password = $('#game_password').val();
    var game_name = $('#game_name').val();
    AjaxSend('/admin/server/edit/save/mysql', 'POST', {
      login_host: login_host,
      login_port: login_port,
      login_user: login_user,
      login_password: login_password,
      login_name: login_name,
      game_host: game_host,
      game_port: game_port,
      game_user: game_user,
      game_password: game_password,
      game_name: game_name,
      serverId: serverid,
    }, false);

  });

  $(document).on('click', '#saveOther', function () {
    var serverid = $(this).data('serverid');
    var date_start_server = $('#date_start_server').val();
    var knowledge_base = $('#knowledge_base').val();
    var max_online = $('#max_online').val();
    var resetHWID = $('#resetHWID').is(':checked');
    //Сделай чтоб resetHWID был true или false
    AjaxSend('/admin/server/edit/save/other', 'POST', {
      date_start_server: date_start_server,
      max_online: max_online,
      knowledge_base: knowledge_base,
      serverId: serverid,
      resetHWID: resetHWID,
    }, false);
  });

  get_collection();
  collection = '{{serverInfo.getCollection()}}';
  if (collection != '') {
    $('#sql_base_source').val(collection);
  }

  $(document).on('change', '#version_client', function (event) {
    get_collection();
  });

  function get_collection() {
    let chronicle_name = $('#version_client').val();
    let base_source = $('#sql_base_source').data('base_source');
    $.ajax({
      type: 'POST',
      url: '/admin/options/server/client/protocol',
      dataType: 'json',
      data: {
        chronicle_name: chronicle_name,
      },
      success: function (result) {
        console.log(result);
        if (result.ok) {
          $('#sql_base_source').empty();
          if (result.collections === false) {
            $('#sql_base_source').append(`<option value="" disabled selected>Not your chronicle SQL base</option>`);
            return;
          }
          result.collections.forEach(function (collection, index) {
            collection_class = collection.replace('\\\\', '\\');
            collection = basename(collection);
            console.log(collection_class);
            if (base_source == collection_class) {
              $('#sql_base_source').append(`<option selected value="${collection_class}">${collection}</option>`);
            } else {
              $('#sql_base_source').append(`<option value="${collection_class}">${collection}</option>`);
            }
          });
        } else {
          noticeError(result.message);
        }
      },
      error: function (result) {
        noticeError(result.message);
      },
    });
  }

  $(document).on('click', '#getDBNameLogin', function (event) {
    $.ajax({
      url: '/admin/option/server/db/connect/select/name',
      type: 'POST',
      data: {
        'host': $('#login_host').val(),
        'port': $('#login_port').val(),
        'user': $('#login_user').val(),
        'password': $('#login_password').val(),
      },
      dataType: 'json',
      success: function (response) {
        $('#login_name').empty();
        if (response.type === 'notice') {
          if (!ResponseNotice(response)) {
            return;
          }
        }
        //response возвращает массив , его элементы размещаем в select getDBNameLogin
        $.each(response['databases'], function (index, value) {
          $('#login_name').append('<option value="' + value + '">' + value + '</option>');
        });
      },
      error: function (xhr, status, error) {
        console.error('Ошибка при выполнении AJAX-запроса:', error);
      },
    });
  });

  $(document).on('click', '#getDBNameGame', function (event) {
    $.ajax({
      url: '/admin/option/server/db/connect/select/name',
      type: 'POST',
      data: {
        'host': $('#game_host').val(),
        'port': $('#game_port').val(),
        'user': $('#game_user').val(),
        'password': $('#game_password').val(),
      },
      dataType: 'json',
      success: function (response) {
        $('#game_name').empty();

        if (response.type === 'notice') {
          if (!ResponseNotice(response)) {
            return;
          }
        }
        $.each(response['databases'], function (index, value) {
          $('#game_name').append('<option value="' + value + '">' + value + '</option>');
        });

      },
      error: function (xhr, status, error) {
        console.error('Ошибка при выполнении AJAX-запроса:', error);
      },
    });
  });

</script>
{% endif %}

<script>
  $(document).on("click", ".removeServer", function (event){
    AjaxSend("/admin/server/delete", "POST", {
         serverId: $(this).data('server-id')
      }, false).then(function (data) {
         console.log(data)
    })
  });
</script>

<script src="{{template}}/assets/libs/flatpickr/flatpickr.min.js"></script>
<script src="{{template}}/assets/js/date&time_pickers.js"></script>

{% endblock %}