{% extends 'struct.html' %}

{% block title %}qwe{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            <a href="/admin" class="avatar border text-muted me-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM12 11H16V13H12V16L8 12L12 8V11Z"></path></svg>
                            </a>
                            {{phrase('connect_to_sphere_api')}}
                        </div>
                    </div>
                    <form action="/admin/sphereapi/save" method="post" class="card-body">

                        <div>
                            <p class="mb-1 text-truncate timeline-widget-content text-wrap">{{phrase('sphere_api_description')}}</p>
                        </div>

                        <div class="form-floating mb-3">
                            <input name="ip" type="text" class="form-control" id="sphereApiIP" placeholder="IP" value="{{config().SphereApi().getIP()}}">
                            <label for="sphereApiIP">IP</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input name="port" type="text" class="form-control" id="sphereApiPort" placeholder="PORT" value="{{config().SphereApi().getPort()}}">
                            <label for="sphereApiPort">PORT</label>
                        </div>


                        <button id="checkConnectToServerApi" class="btn btn-light" type="button">{{ phrase(35) }}</button>
                        <button class="btn btn-success" type="submit">{{ phrase(89) }}</button>
                    </form>

                </div>
            </div>

        </div>

    </div>

{% endblock %}





{% block css %}

{% endblock %}


{% block js %}

<script>
    $("#checkConnectToServerApi").on("click", function () {
        AjaxSend("/admin/sphereapi/check", "POST", {
            "ip" : $("#sphereApiIP").val(),
            "port" : $("#sphereApiPort").val(),
        }, false, 3).then(function (data) {
            console.log(data)
        })
    });
</script>

{% endblock %}