{% extends 'struct.html' %}

{% block title %}Start Pack Admin{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="row">
        <div class="col-xl-12 ">
          <div class="card custom-card ">
            <div class="card-header justify-content-between ">
              <div class="card-title fw-semibold">
                Стартовый набор
              </div>
              <div>
                Общая стоимость: <label id="product_cost_select"></label> SphereCoin
              </div>
            </div>


            <div class="card-body">


              <div class="row g-2">
                <div class="col-md">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="startpack_name" placeholder="Premium Pack"
                           value="Premium Pack">
                    <label for="startpack_name">Название набора</label>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="startpack_cost" placeholder="100" value="100">
                    <label for="startpack_cost">Стоимость набора</label>
                  </div>
                </div>
              </div>


              <div class="row align-items-center mb-0">

                <small id="itemName" class="fs-14">No Select Item</small>

                <div class="col-xl-1 mb-0">
                  <div class="input-group">
                    <img class="avatar avatar-lg" id="AddImgSrc" src="{{path('/uploads/images/icon/NOIMAGE.webp')}}"
                         alt="">
                  </div>

                </div>
                <div class="col-xl-2">
                  <div class="input-group">
                    <div class="input-group-text">ID</div>
                    <input value="0" min="0" id="itemId" type="number" class="form-control" placeholder="4037">
                  </div>
                </div>

                <div class="col-xl-2">
                  <div class="input-group">
                    <div class="input-group-text">Count</div>
                    <input value="1" min="0" id="count" type="number" class="form-control" placeholder="1">
                  </div>
                </div>

                <div class="col-xl-2">
                  <div class="input-group">
                    <div class="input-group-text">Заточка</div>
                    <input value="0" min="0" id="enchant" step="1" type="number" class="form-control" placeholder="0">
                  </div>
                </div>

                <div class="col-xl-2">
                  <button id="addItemToTable" type="submit" class="btn btn-primary">Добавить в набор</button>
                </div>
              </div>
            </div>

            <div class="card-footer ">
              <div class="table-responsive">
                <table id="product_sheet" class="table table-sm text-nowrap table-bordered">
                  <thead>
                  <tr>
                    <th style="width: 1px" scope="col"></th>
                    <th style="width: 1px" scope="col">Item ID</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Count</th>
                    <th scope="col">Enchant</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>


            <div class="px-4 py-3 border-top border-block-start-dashed d-sm-flex justify-content-end">
              <button class="btn btn-success-light m-1" id="AddToProductsPack">Добавить в магазин<i
                class="bi bi-plus-lg ms-2"></i></button>
            </div>

          </div>
        </div>

      </div>
    </div>


  </div>



  <div class="row">

    {% for data in startpacks %}

    <div class="col-xl-4">
      <div class="card custom-card">
        <div class="card-header justify-content-between">
          <div class="card-title">{{ data.name }}</div>

          <div class="ms-auto d-md-flex">Цена: {{ data.cost }} SphereCoin</div>

        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table text-nowrap">

              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">Count</th>
                <th scope="col">Enchant</th>
              </tr>
              </thead>
              <tbody>
              {% for item in data.items %}
              <tr>
                <th scope="row">{{ item.itemName }}</th>
                <th scope="row">{{ item.itemId }}</th>
                <td>{{ item.count }}</td>
                <td>{{ item.enchant }}</td>
              </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}



  </div>

</div>

{% endblock %}


{% block css %}
{% endblock %}


{% block js %}
<script>

  $(document).ready(function () {
    $('#AddToProductsPack').click(function () {
      var items = $('#product_sheet tbody tr').map(function () {
        return {
          itemId: $(this).find('td').eq(1).text(),
          itemName: $(this).find('td').eq(2).text(),
          count: $(this).find('td').eq(3).text(),
          enchant: $(this).find('td').eq(4).text(),
        };
      }).get();

      var name = $('#startpack_name').val();
      var cost = $('#startpack_cost').val();

      if (name === '' || cost === '') {
        noticeError('Необходимо заполнить поля');
        return;
      }

      AjaxSend('/admin/shop/startpack', 'POST', {
        name: name,
        cost: cost,
        items: items,
      }, true).then(function (response) {

        let rn = ResponseNotice(response)
        if (rn === false) {
          return;
        }


        if (response.ok && response.items && response.items.length > 0) {
          const rowsHtml = response.items.map((item) => {
            return `<tr>
                            <td><span class="avatar avatar-sm"><img src="${item.item.icon}" alt=""></span></td>
                            <td>${item.itemId}</td>
                            <td>${item.item.itemName}</td>
                            <td>${item.count}</td>
                            <td>${item.enchant}</td>
                            <td>
                                <button data-object-id="${item.id}" class="btn btn-danger-light btn-icon ms-1 btn-sm removeItem"><i class="ri-delete-bin-5-line"></i></button>
                            </td>
                        </tr>`;
          }).join('');

          const newTableHtml = `<div data-shop-id="${response.id}" class="col-xl-6">
                                    <div class="card custom-card">
                                        <div class="table-responsive">
                                            <table class="table table-sm text-nowrap table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 1px"></th>
                                                        <th style="width: 1px">Item ID</th>
                                                        <th>Item Name</th>
                                                        <th>Count</th>
                                                        <th>Enchant</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    ${rowsHtml}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="card-footer">Общая стоимость: ${totalCost} SphereCoin</div>
                                    </div>
                                  </div>`;

          // Добавление новой таблицы в DOM
          $('#products_list').append(newTableHtml);
          $('#product_sheet tbody').empty();
        }
      });
    });

  });

  $('#addItemToTable').click(function () {
    var name = $('#startpack_name').text();
    var cost = $('#startpack_cost').text();

    // Получаем данные из полей ввода
    var itemName = $('#itemName').text();
    var itemId = $('#itemId').val();
    var count = $('#count').val();
    var enchant = $('#enchant').val();
    var imgSrc = $('#AddImgSrc').attr('src');

    if (count === 0 || isIssetItem === false) {
      return;
    }

    // Создаем строку таблицы
    var newRow = $('<tr></tr>');

    // Добавляем ячейку с изображением
    var imgCell = $('<td></td>').append('<span class="avatar avatar-sm "><img src="' + imgSrc + '" alt=""></span>');
    newRow.append(imgCell);

    // Добавляем оставшиеся ячейки
    newRow.append('<td>' + itemId + '</td>');
    newRow.append('<td>' + itemName + '</td>');
    newRow.append('<td>' + count + '</td>');
    newRow.append('<td>' + enchant + '</td>');

    // Добавляем ячейку с кнопкой удаления
    var deleteBtn = $('<button data-object-id="0" class="btn btn-danger-light btn-icon ms-1 btn-sm removeItemSelect"><i class="ri-delete-bin-5-line"></i></button>');
    var deleteCell = $('<td></td>').append(deleteBtn);
    newRow.append(deleteCell);

    // Добавляем строку в таблицу
    $('#product_sheet tbody').append(newRow);
  });

  $(document).on('click', '.removeItem', function () {
    let panel = $(this).closest('.col-xl-6');
    let table = $(this).closest('table');
    let shopId = panel.data('shop-id');
    let objectId = $(this).data('object-id');
    // Сохранение ссылки на текущий контекст `this`
    let self = this;

    AjaxSend('/admin/shop/remove/item', 'POST', { shopId: shopId, objectId: objectId }, true).then(function (response) {
      let rowCount = table.find('tbody tr').length;
      if (rowCount === 1) {
        // Использование сохранённой ссылки на `this`
        $(self).closest('.col-xl-6').remove();
      } else {
        // Использование сохранённой ссылки на `this`
        $(self).closest('tr').remove();
      }
    });
    // Предполагаю, что `total` используется далее в коде
  });

  $(document).on('click', '.removeItemSelect', function () {
    $(this).closest('tr').remove();

  });

  var isIssetItem = false;
  $(document).on('input', '#itemId', debounce(function () {
    $('#addItemToTable').prop('disabled', true);
    let itemId = $(this).val().toString();
    let dataToSend = {
      itemID: itemId,
    };
    $.ajax({
      type: 'POST',
      url: '/admin/client/item/info',
      dataType: 'json',
      data: dataToSend,
      success: function (response) {
        if (response.ok) {
          isIssetItem = true;
          itemInfo = response.item;
          $('#AddImgSrc').attr('src', itemInfo.icon);
          let addName = '';
          if (itemInfo.addName !== '') {
            addName = '<span class="badge bg-danger">' + itemInfo.addName + '</span>';
          }
          $('#itemName').html((addName + ' ' + itemInfo.itemName).trim());

          if (itemInfo.description) {
            $('#itemName').attr({
              'data-bs-toggle': 'tooltip',
              'data-bs-custom-class': 'tooltip-danger',
              'data-bs-placement': 'top',
              'data-bs-original-title': itemInfo.description,
            });
          } else {
            $('#itemName').removeAttr('data-bs-toggle data-bs-custom-class data-bs-placement data-bs-original-title');
          }
          $('[data-bs-toggle="tooltip"]').tooltip();

          let countInput = $('#count');
          if (!itemInfo.isStackable) {
            countInput.val(1);
            if (!countInput.prop('disabled')) {
              countInput.prop('disabled', true);
            }
          } else {
            if (countInput.prop('disabled')) {
              countInput.prop('disabled', false);
            }
          }
        } else {
          $('#AddImgSrc').attr('src', response.icon);
          $('#itemName').html(response.name);
          isIssetItem = false;
        }
      },
      error: function (xhr, status, error) {
        console.error('Произошла ошибка:', error);
      },
    });
    $('#addItemToTable').removeAttr('disabled');
  }, 300)); // задержка в 500 мс

  function debounce(func, wait, immediate) {
    var timeout;
    return function () {
      var context = this, args = arguments;
      var later = function () {
        timeout = null;
        if (!immediate) {
          func.apply(context, args);
        }
      };
      var callNow = immediate && !timeout;
      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
      if (callNow) {
        func.apply(context, args);
      }
    };
  }

</script>
{% endblock %}