{% extends 'struct.html' %}

{% block title %}Стримы пользователей{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="card">
{{phrase('how_does_it_work_desc')|raw }}
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="card custom-card">
        <div class="card-header justify-content-between">
          <div class="card-title">
            <a href="/admin" class="avatar border text-muted me-2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM12 11H16V13H12V16L8 12L12 8V11Z"></path></svg>
            </a>
            {{ phrase('applications_and_active_streams') }}
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead>
              <tr>
                <th scope="col">{{ phrase('user') }}</th>
                <th scope="col">{{ phrase('link') }}</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody class="table-group-divider">

              {% for data in streams %}


              {% set userInfo = getUser(data.user_id) %}

              <tr id="tr_{{data.id}}">
                <th scope="row">
                  <a href="/admin/user/info/{{data.user_id}}" class="text-primary">{{ userInfo.getName() }} /
                    {{userInfo.getEmail()}}</a>

                  <div class="form-group mb-0">
                    <div class="input-group">
                      <input value="{{data.auto_check_date}}" type="text" class="form-control datetime" id="auto_check_stream_{{data.id}}"
                             placeholder="{{ phrase('until_when_to_stream') }}">
                      <div class="btn btn-success input-group-text setAutoCheckStream" data-stream-id="{{data.id}}">
                        {{ phrase('apply') }}
                      </div>
                      <div class="btn btn-info input-group-text removeAutoCheckStream" data-stream-id="{{data.id}}">
                        <i class="ri-delete-bin-5-line"></i>
                      </div>
                    </div>
                  </div>


                </th>
                <td><a href="{{data.channel}}" target="_blank" class="text-primary">{{data.channel}}</a>
                </td>

                <td>
                  {% if data.confirmed == 0 %}
                  <button data-stream-id="{{data.id}}"
                          class="satisfy_the_request btn btn-sm btn-success btn-wave waves-effect waves-light">
                    {{ phrase('add_to_the_list_of_streams') }}
                  </button>
                  {% endif %}
                </td>
                <td>
                  <a href="javascript:void(0);" class="text-danger fs-14 lh-1 removeStream" data-stream-id="{{data.id}}"><i class="ri-delete-bin-5-line"></i></a>
                </td>
              </tr>
              {% endfor %}


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{template}}/assets/libs/flatpickr/flatpickr.min.css">
{% endblock %}

{% block js %}
<script src="{{template}}/assets/libs/flatpickr/flatpickr.min.js"></script>

<script>

  $(".setAutoCheckStream").on("click", function () {
    let streamId = $(this).data("stream-id");
    let date = $("#auto_check_stream_" + streamId).val();
    AjaxSend("/admin/stream/set/auto/check", "POST", {
      streamId: streamId,
      date: date
    });
  })

  $(".removeAutoCheckStream").on("click", function () {
    let streamId = $(this).data("stream-id");
    $("#auto_check_stream_" + streamId).val("");
    AjaxSend("/admin/stream/remove/auto/check", "POST", {
      streamId: streamId
    });
  })

  $(".removeStream").on("click", function () {
    let streamId = $(this).data("stream-id");
    AjaxSend("/admin/stream/remove", "POST", {
      streamId: streamId
    }, true).then(function (response) {
      responseAnalysis(response);
      if(response.ok) {
        $("#tr_" + streamId).remove();
      }
    });
  })

  $(".satisfy_the_request").on("click", function () {
    let streamId = $(this).data("stream-id");
    let self = $(this);
    AjaxSend("/admin/stream/satisfy", "POST", {
      streamId: streamId
    });
  })


  /* To choose date and time */
  flatpickr(".datetime", {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    maxDate: new Date().fp_incr(31)
  });

</script>

{% endblock %}