{% extends 'struct.html' %}

{% block title %}Forum{% endblock %}

{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">
            {{ phrase('users') }} ( {{getUsers()|length}} )
          </div>
        </div>
        <div class="card-body">
          <span class="table-responsive">
            <table id="datatable-users" class="table table-bordered text-nowrap w-100">
              <thead>
              <tr>
                <th>{{ phrase('user') }}</th>
                <th>{{ phrase('donate_coin') }}</th>
              </tr>
              </thead>
              <tbody>
              {% for i, user in getUsers() %}
              <tr>
                <td>
                  <div class="d-flex align-items-center  mt-auto">
                    <div class="avatar  avatar-md me-1 cover-image" data-bs-image-src="{{user.getAvatar()}}"
                         style="background: url('{{user.getAvatar()}}') center center;"></div>
                    <div>
                      <a href="/admin/user/info/{{user.getId()}}" class="text-default">{{user.getEmail()}} <br> {{user.getName()}}</a>
                      <small class="d-block text-muted">{{user.getDateCreate()|date("d F, Y")}}</small>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                <span data-user-id="{{user.getId()}}" data-user-balance="{{user.getDonate()}}"
                      class="reply-btn btn btn-sm btn-success sendToBalance">
                <i class="ri-add-circle-line"></i>
                </span><br>
                  <span id="user_id_count_{{user.getId()}}" data-user-balance="{{user.getDonate()}}">{{user.getDonate()}}</span>
          </td>
          </tr>
          {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="balance" tabindex="-1" aria-labelledby="balance" data-bs-keyboard="false"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <input type="hidden" name="userid" value="">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">{{phrase('balance_topup')}}</h6>
        </h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>

      <div class="modal-body">
        {{phrase('user_balance')}} : <span class="fs-15 fw-semibold" id="user-balance-show"></span> {{phrase('donate_coin')}}
        <br>
        <label for="countBalanceSend" class="form-label">{{phrase('add_donate_coins')}}</label>
        <input value="" type="text" class="form-control" name="count" id="countBalanceSend" placeholder="100">

        <div class="form-check form-switch">
          <input id="isAddBonus" name="addBonus" type="checkbox" class="form-check-input">
          <label class="form-check-label" for="isAddBonus">{{phrase('add_topup_bonuses')}}</label>
        </div>

      </div>
      <div class="modal-footer">
        <button id="balanceSend" type="submit" class="btn btn-sm btn-success">{{ phrase(364) }}</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block css %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">

{% endblock %}


{% block js %}

<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

<script>

  $(document).ready(function () {
    var userid = 0;

    var table = $('#datatable-users').DataTable({
      language: {
        searchPlaceholder: 'Search...',
        sSearch: '',
      },
      lengthMenu: [
        [10, 100, 1000, -1],
        [10, 100, 1000, "All"]
      ],
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
      ],
      sort: true,
      autoWidth: true,
      pageLength: 10,
      // scrollX: true
    });

    // Используем событие draw для привязки обработчиков событий
    table.on('draw', function () {
      // Сначала удаляем все старые обработчики
      $(document).off('click', '.sendToBalance');

      // Затем привязываем новые обработчики
      $(document).on('click', '.sendToBalance', function () {
        $('#balance').modal('show');
        userid = $(this).data('user-id');
        var userbalance = $(this).data('user-balance');
        $('input[name="userid"]').val(userid);
        $('#user-balance-show').text(userbalance);
      });
    });

    $('#balanceSend').on('click', function () {
      var count = $('#countBalanceSend').val();
      var addBonus = $('#isAddBonus').is(':checked');

      AjaxSend('/admin/users/sendToBalance', 'POST', {
        'userid': userid,
        'count': count,
        'addBonus': addBonus,
      }, true).then(function (data) {
        if(data.ok) {
          let userBalance = $("#user_id_count_" + userid).attr("data-user-balance");
          let countInt = parseInt(count);
          userBalance = parseInt(userBalance);
          if (isNaN(userBalance) || isNaN(countInt)) {
            console.error("Одна из переменных не является числом");
          } else {
            let newBalance = userBalance + countInt;
            $("#user_id_count_" + userid).attr("data-user-balance", newBalance);
            console.log(newBalance);
            $('#user_id_count_' + userid).text(newBalance);
            $('.sendToBalance[data-user-id="'+userid+'"]').attr("data-user-balance", newBalance);
            $('#user-balance-show').text(newBalance);
          }
          noticeSuccess("{{phrase('balance_topup_successful')}}");
        }else{
          noticeError(data.message);
        }
        $("#countBalanceSend").val("");
        $('#balance').modal('hide');
      });
    });


    // Вручную вызываем событие draw для первоначальной привязки обработчиков
    table.draw();
  });

</script>


{% endblock %}

